.g-title-1 h2 {
  line-height: 100%;
  color: #00b2a9;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 32px;
  margin-bottom: 0;
  font-weight: normal;
}
.g-subtitle-1 h3 {
  line-height: 25px;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 27px;
  margin-bottom: 0;
  font-weight: normal;
}
.g-subtitle-1 strong {
  color: #009b3a;
  font-weight: normal;
}
.g-parrafo1 h3 {
  line-height: 27px;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  margin-bottom: 0;
}
.g-parrafo1 h3 strong {
  color: #009b3a;
  font-weight: normal;
}
.g-parrafo1 p {
  line-height: 27px;
  font-family: 'Omnes-Regular', sans-serif;
  font-size: 24px;
  margin-bottom: 0;
}
.g-parrafo2 {
  line-height: 21px;
  font-size: 22px;
}
.g-parrafo2 p {
  margin-bottom: 0;
}
.g-parrafo2 p strong {
  color: #0036a6;
  font-family: 'Omnes-Medium', sans-serif;
  font-weight: normal;
}
.g-parrafo2.g-parrafo2 {
  font-size: 24px;
}
.g-parrafo3 {
  line-height: 21px;
  font-size: 24px;
  font-family: 'Omnes-Medium', sans-serif;
}
.g-parrafo3.lh22 {
  line-height: 22px;
}
.g-parrafo3.lh23 {
  line-height: 23px;
}
.g-parrafo3 p {
  margin-bottom: 0;
}
.slider-terminos .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 288px;
}
.slider-terminos .item-terminos {
  float: left;
  list-style: none;
  position: relative;
  width: 738px;
}
.g-trio-items li {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #f4f5f5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.g-trio-items li strong {
  display: block;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-weight: normal;
  line-height: 1;
}
.g-trio-items li p {
  margin: 0;
  line-height: 1;
}
.g-trio-items li span {
  display: block;
  line-height: 1;
}
.g-trio-items li i {
  font-style: normal;
  color: #009b3a;
}
.g-trio-items li figure img {
  display: block;
  margin: auto;
}
.j-text-monto .b2-text {
  color: #0036a6;
  font-family: 'omnessemibold', sans-serif;
  font-size: 22px;
  padding: 30px 10px;
}
.j-text-monto .b2-text p {
  margin-bottom: 0;
}
.j-text-monto .b2-text strong {
  color: #009b3a;
  font-family: 'omnessemibold', sans-serif;
  font-weight: normal;
  margin-left: 10px;
}
.j-text-monto .b4-text2 {
  font-size: 32px;
}
.j-text-fz32 .b4-text2 {
  font-size: 32px;
}
.j-boton-pago {
  display: inline-block;
  border: 1px solid #009b3a;
  position: relative;
  padding: 40px 35px;
}
.j-title-green {
  display: inline-block;
  background-color: #fff;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  padding: 0 10px;
  margin: auto;
}
