/* clearfix */
/* end clearfix */
.wancho-2 {
  max-width: 1024px;
  margin: auto;
}
.botones .wrapper {
  height: 768px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f00;
  width: 1024px;
  margin: auto;
  position: relative;
}
.botones .grid {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 768px;
  background: url("../img/skin.png") center center no-repeat;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  z-index: -1;
}
#header {
  background-color: #f9f9f9;
  border-bottom: 3px solid #009b3a;
  color: #808080;
  font-family: 'Omnes-Regular', sans-serif;
  height: 70px;
  padding: 0 20px;
  font-size: 22px;
  overflow: hidden;
}
#header #logo {
  background: url("../img/logo.png") 0 50% no-repeat;
  float: left;
  height: 68px;
  width: 251px;
}
#header ul {
  float: right;
  margin-top: 18px;
  overflow: hidden;
}
#header li {
  float: left;
  margin-left: 45px;
}
#header li:first-child {
  margin-left: 0;
}
#header span:first-child {
  margin-right: 10px;
}
#header #ico-telefono,
#header #ico-cajero {
  height: 31px;
}
#header #ico-telefono {
  background: url("../img/ico-telefono.png") no-repeat;
  width: 27px;
  display: inline-block;
}
#header #ico-cajero {
  background: url("../img/ico-cajero.png") no-repeat;
  width: 17px;
  display: inline-block;
}
.wrapper-teclado {
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 9999;
  width: 1016px;
  margin: auto;
  background-color: #000;
  font-size: 0;
  padding-left: 8px;
  padding-top: 9px;
  display: none;
}
.tecla-normal,
.tecla-oscura {
  width: 83px;
  height: 52px;
  border: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: top;
  font-size: 30px;
  font-family: 'omnessemibold', sans-serif;
  color: #fff;
  text-align: center;
}
.tecla-normal.m-t,
.tecla-oscura.m-t {
  margin: 0px 9px 9px 0px;
}
.tecla-sp {
  width: 452px;
  height: 52px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: top;
  font-size: 'omnessemibold', sans-serif;
  text-align: center;
  color: #fff;
  background: url("../img/bg-teclado-sp.png") no-repeat top left;
}
.tecla-sp input {
  background: none;
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
}
.tecla-sp i {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 220px;
}
.tecla-sp.m-t {
  margin: 0px 9px 9px 0px;
  border: none;
}
.tecla-sp.active {
  background-position: bottom left;
}
.tecla-sp.active>i {
  background-position: top left;
}
.tecla-normal {
  line-height: 48px;
  background: url("../img/bg-teclado-normal.png") no-repeat top left;
}
.tecla-normal.active {
  background-position: bottom left;
  color: #000;
}
.tecla-oscura {
  background: url("../img/bg-teclado-oscuro.png") no-repeat top left;
}
.tecla-oscura.active {
  background-position: bottom left;
  color: #000;
}
.tecla-oscura.active>i {
  background-position: top left;
}
.cnt-teclaoscura {
  background: url("../img/bg-teclado-normal.png") no-repeat top left;
  width: 83px;
  height: 52px;
  border: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: top;
  font-size: 30px;
  font-family: 'omnessemibold', sans-serif;
  color: #fff;
  text-align: center;
}
.cnt-teclaoscura.m-t {
  margin: 0px 9px 9px 0px;
}
.cnt-teclaoscura input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  position: relative;
  z-index: 2;
}
.cnt-teclaoscura i {
  z-index: 1;
}
.cnt-teclaoscura.active {
  background-position: bottom left;
  color: #000;
}
.cnt-teclaoscura.active>i {
  background-position: top left;
}
.tecla-shift {
  width: 21px;
  height: 21px;
  background: url("../img/bg-teclado-shift.png") no-repeat bottom left;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  position: absolute;
  top: 15px;
  left: 30px;
}
.borrar-teclado {
  width: 21px;
  height: 16px;
  background: url("../img/bg-borrar-teclado.png") bottom left;
  position: absolute;
  top: 17px;
  left: 31px;
}
.tecla-enter {
  width: 83px;
  height: 114px;
  position: absolute;
  top: 71px;
  right: 12px;
  background: url("../img/bg-teclado-enter.png") no-repeat top left;
  cursor: pointer;
}
.tecla-enter input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.tecla-enter input .bg-enter {
  z-index: 1;
}
.tecla-enter.active {
  background-position: bottom left;
}
.tecla-enter.active>i {
  background-position: top left;
}
.bg-enter {
  background: url("../img/bg-enter.png") bottom left;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 33px;
  height: 24px;
  position: absolute;
  top: 21px;
  left: 18px;
}
.icon-enter {
  background: url("../img/icon-enter.png") no-repeat bottom left;
  width: 26px;
  height: 9px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  position: relative;
  top: 20px;
}
.tecla-disable {
  background: url("../img/bg-disable.png") no-repeat bottom left;
  color: #272727;
  cursor: inherit !important;
}
.tecla-disable input {
  display: none;
  cursor: inherit !important;
}
.tecla-disable .tecla-shift {
  background: url("../img/bg-shift.png") no-repeat bottom left;
}
.controles-slider {
  text-align: center;
  margin-top: 20px;
}
.controles-slider .arrow-prev,
.controles-slider .arrow-next,
.controles-slider .bx-pager {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: top;
}
.controles-slider .bx-pager {
  font-size: 22px;
  font-family: 'Omnes-Medium', sans-serif;
  line-height: 100%;
}
.controles-slider .bx-pager a {
  color: #8e8f90;
  margin-left: 5px;
}
.controles-slider .bx-pager a.active {
  color: #000;
  text-decoration: underline;
}
.controles-slider .arrow-prev {
  margin-top: 3px;
  margin-right: 10px;
  width: 119px;
  height: 20px;
}
.controles-slider .arrow-prev .bx-prev {
  background-image: url("../img/arrow-prev.png");
  width: 119px;
  height: 20px;
  display: none;
  overflow: hidden;
}
.controles-slider .arrow-prev .bx-prev:first-child {
  display: block;
}
.controles-slider .arrow-prev .bx-prev.disabled {
  width: 0;
}
.controles-slider .arrow-next {
  margin-top: 3px;
  margin-left: 10px;
  width: 119px;
  height: 20px;
}
.controles-slider .arrow-next .bx-next {
  background-image: url("../img/arrow-next.png");
  width: 119px;
  height: 20px;
  display: none;
  overflow: hidden;
}
.controles-slider .arrow-next .bx-next:first-child {
  display: block;
}
.controles-slider .arrow-next .bx-next.disabled {
  width: 0;
}
.fancy-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.close-fancy {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  background: url("../img/bt-close.png") no-repeat 0 0;
  cursor: pointer;
}
#fancybox-outer {
  -webkit-border-radius: 30px 0px 30px 0px;
  border-radius: 30px 0px 30px 0px;
  behavior: url("../static/css/PIE.htc");
}
.fancybox-bg {
  display: none;
}
.enlace-azul,
.enlace-verde {
  font-size: 24px;
  font-family: 'Omnes-Medium', sans-serif;
  color: #0036a6;
  border-bottom: 1px solid #0036a6;
  display: inline-block;
  line-height: 100%;
}
.enlace-verde {
  color: #009b3a;
  border-bottom: 1px solid #009b3a;
}
.g-pager {
  font-size: 0;
}
.g-pager p {
  font-size: 22px;
  margin-bottom: 0px;
}
.g-pager strong {
  font-weight: normal;
  color: #009b3a;
}
.g-pager .wrapp-pager {
  margin: 3px 0px 0px 0px;
}
.g-pager .wrapp-pager a {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #8e8f90;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url("../static/css/PIE.htc");
  font-size: 22px;
  margin: 0px 4px;
}
.g-pager .wrapp-pager a:hover,
.g-pager .wrapp-pager a.active {
  background-color: #009b3a;
}
.btn {
  border: none;
  background-color: #009b3a;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  color: #fff;
  -webkit-border-radius: 10px 0px 10px 0px;
  border-radius: 10px 0px 10px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  behavior: url("../static/css/PIE.htc");
}
.btn strong {
  font-family: 'omnessemibold', sans-serif;
  font-weight: normal;
}
.btn.blanco {
  border: 2px solid #009b3a;
  background-color: transparent;
  color: #009b3a;
}
.btn.left-celeste {
  background-color: #00b2a9;
  border-bottom: 4px solid #02928b;
  -webkit-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
  behavior: url("../static/css/PIE.htc");
}
.btn.buscar {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url("../static/css/PIE.htc");
}
.btn.disable {
  background-color: #ccebd8;
}
.btn.btn-azul {
  background-color: #0039a6;
}
.btn.rd-right-button {
  -webkit-border-radius: 0px 0px 10px 0;
  border-radius: 0px 0px 10px 0;
  behavior: url("../static/css/PIE.htc");
}
.btn.rd-left-top {
  -webkit-border-radius: 10px 0px 0px 0;
  border-radius: 10px 0px 0px 0;
  behavior: url("../static/css/PIE.htc");
}
.bo-btn-blanco {
  background-image: url("../img/bg-btnblanco.png");
  width: 233px;
  height: 91px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 30px;
  color: #009b3a;
}
.bo-btn-verde-r,
.bo-btn-verde-l,
.bo-btn-verde-r-mini,
.bo-btn-verde-l-mini {
  background-image: url("../img/bg-btn-verde-right.png");
  width: 360px;
  height: 91px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 1;
}
.bo-btn-verde-l {
  background-image: url("../img/bg-btn-verde-left.png");
}
.bo-btn-verde-r-mini,
.bo-btn-verde-l-mini {
  background-image: url("../img/bg-verde-right-mini.png");
  width: 234px;
  height: 91px;
}
.bo-btn-verde-l-mini {
  background-image: url("../img/bg-verde-left-mini.png");
}
.text-btnmini {
  font-size: 22px;
}
.text-btnbig {
  font-size: 30px;
  font-family: 'omnessemibold', sans-serif;
}
.text-retira {
  font-family: 'Omnes-Medium', sans-serif;
}
.bt-text-azul {
  display: inline-block;
  background-color: #0036a6;
  font-family: 'Omnes-Medium', sans-serif;
  color: #fff;
  font-size: 22px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 6px;
  text-align: center;
  line-height: 100%;
}
.btn-volver-1,
.btn-volver-2,
.btn-volver-3 {
  font-size: 24px;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 120px;
  height: 65px;
  text-align: center;
  background-repeat: no-repeat;
}
.btn-volver-1 span,
.btn-volver-2 span,
.btn-volver-3 span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-top: 15px;
}
.btn-volver-1 {
  background-image: url("../img/btn-volver-1.png");
}
.btn-volver-2 {
  background-image: url("../img/btn-volver-2.png");
  width: 121px;
}
.btn-volver-3 {
  width: 235px;
  height: 64px;
  background-image: url("../img/btn-volver-3.png");
}
.wrap-botones {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 768px;
  z-index: -1;
}
.wrap-botones .btn-l {
  position: absolute;
}
.wrap-botones .btn-r {
  position: absolute;
}
.bt {
  display: table;
  font-family: 'Omnes-Medium', sans-serif;
  color: #fff;
  position: relative;
  cursor: pointer;
  width: 134px;
  font-size: 18px;
  padding-top: 10px;
  text-align: center;
}
.bt .bt-inner {
  display: table-cell;
  vertical-align: middle;
  behavior: url("../static/css/PIE.htc");
  -webkit-border-radius: 10px 0px 10px 0;
  border-radius: 10px 0px 10px 0;
  height: 102px;
  width: 134px;
  background-color: #878787;
  border-bottom: 4px solid #696969;
  line-height: 18px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bt .drop-shadow {
  display: none;
}
.bt .borde-before,
.bt .borde-after {
  display: none;
}
.bt.b-azul .bt-inner {
  background-color: #0036a6;
  border-bottom: 4px solid #123270;
}
.bt.active .bt-inner {
  background-color: #009b3a;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
  border: none;
}
.bt.active .bt-inner img {
  margin-bottom: 10px;
}
.bt.active .bt-inner:before {
  content: "";
  width: 148px;
  height: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: -10px;
  left: -7px;
  background-color: #009b3a;
}
.bt.active .drop-shadow {
  display: block;
  width: 134px;
  height: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #009b3a;
  position: absolute;
  bottom: -10px;
  left: 0;
  -webkit-border-radius: 0 0px 10px 0;
  border-radius: 0 0px 10px 0;
  border-bottom: 4px solid #00712b;
  behavior: url("../static/css/PIE.htc");
}
.bt.active .borde-before,
.bt.active .borde-after {
  display: block;
  position: absolute;
  top: 0px;
  width: 10px;
  height: 122px;
  background-color: #fff;
  behavior: url("../static/css/PIE.htc");
  z-index: 100;
}
.bt.active .borde-before {
  left: -10px;
  -webkit-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
}
.bt.active .borde-after {
  right: -10px;
  -webkit-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
}
.menu-navegacion {
  max-width: 1024px;
  margin: auto;
  zoom: 1;
}
.menu-navegacion:after,
.menu-navegacion:before {
  content: "";
  display: table;
}
.menu-navegacion:after {
  clear: both;
}
.menu-navegacion .menu-inner {
  zoom: 1;
  padding-right: 14px;
  padding-left: 4px;
}
.menu-navegacion .menu-inner:after,
.menu-navegacion .menu-inner:before {
  content: "";
  display: table;
}
.menu-navegacion .menu-inner:after {
  clear: both;
}
.menu-navegacion .menu-inner .item-menu {
  margin-left: 10px;
}
.menu-navegacion .menu-inner .item-menu:first-child {
  margin-left: 8px;
}
.tab-deuda-check .item-input {
  width: 401px;
  margin: auto;
  height: 50px;
  background: url("../img/bg-check-right.png") 0 0 no-repeat;
  position: relative;
  margin-bottom: 30px;
}
.tab-deuda-check .item-input.active {
  background: url("../img/bg-check-right.png") 0 -80px no-repeat;
  color: #fff;
}
.tab-deuda-check .item-input input {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.tab-deuda-check .item-input li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: top;
  line-height: 50px;
  width: 45%;
  margin-right: 10px;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  text-align: center;
}
.tab-deuda-check .item-input li:first-child {
  margin: 0;
}
.tab-deuda .item-tab {
  display: none;
}
.tab-deuda .item-tab.active {
  display: block;
}
.modf-tab {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
}
.modf-tab p {
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
}
.modf-tab .nav-tab a {
  height: 58px;
  line-height: 58px;
}
.nav-tab {
  font-family: 'Omnes-Medium', sans-serif;
  display: inline-block;
  width: 254px;
  font-size: 0;
  overflow: hidden;
}
.nav-tab a {
  display: block;
  height: 56px;
  line-height: 25px;
}
.nav-tab .h-soles {
  border: 1px solid #009b3a;
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
.nav-tab .h-dolar {
  -webkit-border-radius: 0px 8px 8px 0px;
  border-radius: 0px 8px 8px 0px;
}
.nav-tab li {
  display: inline-block;
  behavior: url("../static/css/PIE.htc");
  width: 50%;
  font-size: 23px;
  color: #009b3a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #009b3a;
}
.nav-tab li.active {
  background-color: #009b3a;
  color: #fff;
}
.tab-deuda.mostrar-error .input-317 p {
  display: none;
}
.tab-deuda.mostrar-error .input-317-error {
  display: block;
}
.tab-deuda.mostrar-error .input-474 p {
  display: none;
}
.tab-deuda.mostrar-error .input-474-error {
  display: block;
}
.input-474 {
  text-align: right;
  position: relative;
  width: 474px;
  z-index: 3;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.input-474 input {
  background: url("../img/input474x57.png") top center no-repeat;
  width: 474px;
  height: 57px;
  border: none;
  font-size: 40px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  text-align: right;
}
.input-474 p {
  margin: 0;
  font-size: 24px;
  position: absolute;
  bottom: -30px;
  right: 0;
}
.input-317 {
  font-family: 'omnessemibold', sans-serif;
  text-align: right;
  position: relative;
  width: 317px;
  z-index: 3;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.input-317 .tab-moneda {
  position: absolute;
  top: 0px;
  right: 100%;
  font-size: 40px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: top;
  line-height: 100%;
  margin-right: 10px;
}
.input-317 p {
  margin: 0;
  font-size: 23px;
  position: absolute;
  bottom: -30px;
  right: 0;
}
.input-317 input {
  background: url("../img/input-317-50.png") top center no-repeat;
  width: 317px;
  height: 50px;
  border: none;
  font-size: 40px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  text-align: right;
}
.input-317.otro-monto p {
  font-family: 'Omnes-Regular', sans-serif;
  position: static;
}
.input-317-error {
  text-align: right;
  font-size: 23px;
  width: 322px;
  position: absolute;
  top: -4px;
  left: 26px;
  z-index: 1;
  display: none;
}
.input-317-error span {
  width: 322px;
  height: 53px;
  display: block;
  border: 2px solid #dc0451;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
}
.input-317-error p {
  margin: 0;
  color: #dc0451;
}
.input-474-error {
  text-align: right;
  font-size: 23px;
  width: 484px;
  position: absolute;
  top: -5px;
  left: -4px;
  z-index: 1;
  display: none;
}
.input-474-error span {
  height: 63px;
  display: block;
  border: 2px solid #dc0451;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
}
.input-474-error p {
  margin: 0;
  color: #dc0451;
  margin-top: 5px;
}
.input-474-error img {
  margin-right: 5px;
}
.mas-utilizado {
  margin-bottom: 10px;
  text-align: left;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
}
.resultados-search {
  position: relative;
}
.resultados-search .item-sl .ib.no-margin {
  margin-right: 0;
}
.search-loading {
  background-color: #fff;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  color: #4e4f53;
  text-align: center;
}
.search-loading.pr {
  position: relative;
}
.search-loading img {
  margin-top: 70px;
}
.search-loading p {
  margin-top: 50px;
  margin-bottom: 0;
}
.wrap-search {
  text-align: center;
  font-size: 24px;
}
.wrap-search ul {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e4e5e6;
}
.wrap-search li {
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: middle;
}
.wrap-search .input-search {
  margin: 0 5px;
  width: 486px;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
}
.wrap-search .input-search ::-webkit-input-placeholder {
  color: #4e4f53;
  font-family: 'Omnes-Regular', sans-serif;
}
.wrap-search .input-search :-moz-placeholder {
  color: #4e4f53;
  font-family: 'Omnes-Regular', sans-serif;
}
.wrap-search .input-search ::-moz-placeholder {
  color: #4e4f53;
  font-family: 'Omnes-Regular', sans-serif;
}
.wrap-search .input-search :-ms-input-placeholder {
  color: #4e4f53;
  font-family: 'Omnes-Regular', sans-serif;
}
.wrap-search .input-search input {
  border: none;
  background: url("../img/input-search.png") top center no-repeat;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  height: 68px;
  line-height: 68px;
  font-style: italic;
  font-family: 'Omnes-Regular', sans-serif;
  font-size: 20px;
}
.wrap-search .btn-search {
  background-color: #009b3a;
  width: 137px;
  height: 68px;
  line-height: 68px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  behavior: url("../static/css/PIE.htc");
  text-align: center;
}
.nueva-linea,
.linea-actual {
  font-family: 'omnessemibold', sans-serif;
  font-size: 24px;
}
.nueva-linea span,
.linea-actual span {
  color: #0036a6;
}
.nueva-linea .linea-text,
.linea-actual .linea-text {
  text-align: center;
  color: #009b3a;
  width: 400px;
  height: 52px;
  line-height: 52px;
  background-color: #e4e5e5;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
}
.linea-actual {
  font-family: 'Omnes-Medium', sans-serif;
}
.linea-actual .linea-text {
  color: #4e4f53;
}
.botonera-1 .ib {
  margin-left: 15px;
  margin-bottom: 20px;
}
.botonera-1 .no-margin {
  margin-left: 0;
}
