.g-parrafo-bo p {
  margin-bottom: 0;
  font-size: 27px;
  font-family: 'Omnes-Medium', sans-serif;
  line-height: 1.1;
}
.g-parrafo-bo span {
  color: #009b3a;
}
.g-parrafo-bo strong {
  font-weight: normal;
  font-family: 'Omnes-Regular', sans-serif;
  font-size: 27px;
}
.g-title-1.large h2 {
  font-size: 50px;
  font-family: 'Omnes-Medium', sans-serif;
  text-indent: 18px;
  color: #00b2a9;
}
.g-title-1.large h2 span {
  font-size: 30px;
  line-height: 1;
}
.g-title-1.large p {
  font-size: 30px;
  line-height: 1;
  color: #00b2a9;
  margin-top: 18px;
  font-family: 'Omnes-Medium', sans-serif;
}
.g-datos-1 p {
  font-size: 22px;
  margin-bottom: 0;
  line-height: 100%;
  margin-bottom: 10px;
}
.g-datos-1 a {
  width: 400px;
  height: 50px;
  background-color: #e4e5e6;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
}
.g-datos-1 a span {
  font-size: 22px;
  float: right;
  line-height: 1;
  text-decoration: underline;
}
.g-datos-1 a span:first-child {
  float: left;
  text-decoration: none;
  font-family: 'Omnes-Medium', sans-serif;
}
.g-datos-1 .wrap-g-datos-1 {
  position: relative;
}
.g-datos-1 .wrap-g-datos-1 img {
  position: absolute;
  left: 100%;
  bottom: 0;
  top: 0;
  margin: auto;
  margin-left: 20px;
}
.pager {
  width: 150px;
  margin: auto;
}
.pager p,
.pager span {
  margin: 0;
  display: inline-block;
  font-size: 20px;
  font-family: 'Omnes-Medium', sans-serif;
}
.pager span {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  behavior: url("../static/css/PIE.htc");
  text-align: center;
  font-size: 20px;
  font-family: 'Omnes-Medium', sans-serif;
  color: #fff;
  line-height: 21px;
  margin: 0 3px;
}
.pager span.act {
  background-color: #00b2a9;
}
.pager span.desac {
  background-color: #4e4f53;
}
.text-gg p {
  font-family: 'Omnes-Regular', sans-serif;
  color: #4e4f53;
  font-size: 22px;
  margin-bottom: 0;
}
.text-gg p strong {
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
}
.trio-items li {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  height: 270px;
  border: 2px solid #f4f5f5;
  margin: 0 5px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.trio-items li strong {
  display: block;
  text-align: center;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 22px;
  line-height: 1;
}
.trio-items li p {
  margin: 0;
  font-size: 22px;
  text-align: center;
  line-height: 1;
}
.trio-items li figure img {
  display: block;
  margin: auto;
}
.subtitle.bo h3 {
  font-size: 30px;
  color: #009b3a;
  margin-bottom: 0;
  font-family: 'Omnes-Medium', sans-serif;
  line-height: 1;
}
.subtitle.bo h3 span {
  color: #0036a6;
}
.input-large-bo input {
  background: none;
  border: none;
  width: 560px;
  height: 90px;
  font-size: 33px;
  font-family: 'Omnes-Medium', sans-serif;
  color: #4e4f53;
  line-height: 90px;
  padding: 0px 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../img/bg-input-large.png") no-repeat center center;
}
.sub-bold h3 {
  font-size: 32px;
  line-height: 1;
}
.sub-bold h3 span {
  color: #009b3a;
  font-size: 40px;
  font-family: 'omnessemibold', sans-serif;
}
.textos-big .toltip {
  height: 90px;
}
.textos-big .toltip p {
  height: 90px;
}
.textos-big .b2-list li {
  font-family: 'Omnes-Medium', sans-serif;
}
.textos-big .b2-title h3 {
  font-family: 'omnessemibold', sans-serif;
}
.block-absolute {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 100%;
}
.block-absolute > div {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.block-absolute.bo10 {
  bottom: 10px;
}
.block-absolute .btn-volver-2 {
  padding-right: 20px;
  display: table-cell;
  vertical-align: middle;
}
.block-absolute .btn-volver-2 span {
  margin-top: 0;
  line-height: 1.1;
}
.block-absolute .ib.vt {
  display: table-cell;
  vertical-align: middle;
}
.b2-donar {
  display: none;
  font-size: 0;
}
.b2-donar p {
  display: inline-block;
  vertical-align: top;
  width: 320px;
  margin-bottom: 0;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}
.b2-donar ul {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  font-size: 0;
}
.b2-donar ul css3-container {
  z-index: 0;
}
.b2-donar ul li {
  display: inline-block;
  vertical-align: top;
  width: 90px;
  height: 50px;
  background-color: #8e8f90;
  font-size: 24px;
  position: relative;
  z-index: 2;
}
.b2-donar ul li.active {
  background-color: #009b3a;
}
.b2-donar ul li a {
  color: #fff;
  display: block;
  font-size: 24px;
  font-family: 'omnessemibold', sans-serif;
  line-height: 50px;
}
.b2-donar ul .btn-si {
  -webkit-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  behavior: url("../static/css/PIE.htc");
}
.b2-donar ul .btn-no {
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  behavior: url("../static/css/PIE.htc");
}
.b2-donar.w370 {
  width: 100%;
}
.b2-donar.w370 p {
  width: 370px;
}
.donar.mt20 {
  margin-top: 10px;
}
.donar .b2-donar {
  display: block;
}
.donar .b2-text {
  padding: 0;
  padding-bottom: 10px;
}
.disable {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.block-red img,
.block-red p {
  vertical-align: middle;
  font-family: 'Omnes-Medium', sans-serif;
  color: #b90f49;
  font-size: 22px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.block-red img {
  margin-right: 40px;
}
.inputfull-text input {
  font-size: 46px;
  font-family: 'omnessemibold', sans-serif;
  color: #4e4f53;
  background: none;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../img/input709x58.png") no-repeat center center;
}
.inputfull-text input.list {
  background: url("../img/input_49x58.png") no-repeat center center;
  width: 49px;
  height: 58px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 0px 1.5px;
}
.inputfull-text p {
  text-align: right;
  margin-bottom: 0;
  font-size: 24px;
}
.inputfull-text.mostrar-error {
  position: relative;
}
.inputfull-text.mostrar-error .error-input {
  display: block;
}
.inputfull-text.mostrar-error .before {
  display: block;
  position: absolute;
  width: 100%;
  height: 62px;
  border: 2px solid #dc0451;
  left: -2px;
  top: -4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
}
.inputfull-text.mostrar-error p {
  display: none;
}
.error-input {
  display: none;
}
.error-input img,
.error-input span {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin-top: 5px;
  vertical-align: middle;
}
.error-input span {
  color: #dc0451;
  font-size: 24px;
}
.btns-list {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 0px 5px 10px 5px;
}
.text-blue-black {
  position: absolute;
  bottom: 101%;
  right: 0;
}
.text-blue-black p {
  margin-bottom: 0;
  font-size: 24px;
  color: #0036a6;
  font-family: 'Omnes-Medium', sans-serif;
  line-height: 1.2;
}
.text-blue-black p span {
  color: #4e4f53;
}
