.b1-text1 {
  line-height: 100%;
  color: #00add0;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
}
.b1-text1 strong {
  font-weight: normal;
  font-size: 32px;
}
.b1-btn {
  display: inline-block;
  line-height: 36px;
  background-color: #00b2a9;
  color: #fff;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  -webkit-border-radius: 15px 0px 15px 0;
  border-radius: 15px 0px 15px 0;
  behavior: url("../static/css/PIE.htc");
  padding: 0 37px;
}
.b1-info h3 {
  line-height: 33px;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 32px;
  margin-bottom: 0;
}
.b1-info.small .b1-text2 {
  font-size: 24px;
  line-height: 24px;
}
.b1-text2 {
  line-height: 33px;
  font-size: 32px;
}
.b1-text2.bo {
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 30px;
}
.b1-text2 p {
  margin-top: 10px;
  margin-bottom: 0;
}
.b1-text2 p:first-child {
  margin-top: 0;
}
.b1-text2 strong {
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-weight: normal;
}
