.b12 {
  background-color: #e4e5e6;
  padding-top: 25px;
  padding-bottom: 33px;
}
.b12-text {
  line-height: 1;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 32px;
  text-align: center;
}
.b12-text p {
  margin-bottom: 0;
}
.b12-lis-item {
  margin-top: 13px;
}
.b12-lis-item ul {
  font-size: 0;
  text-align: center;
}
.b12-lis-item li {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  line-height: 1;
  font-size: 22px;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b12-lis-item li:first-child {
  width: 50%;
  color: #0036a6;
  text-align: right;
  padding-right: 5px;
}
.b12-lis-item strong {
  font-family: 'Omnes-Medium', sans-serif;
}
.b12-lis-item:first-child {
  margin-top: 0;
}
