.b13-thead {
  width: 100%;
}
.b13-thead ul {
  font-size: 0;
  text-align: right;
}
.b13-thead li {
  display: inline-block;
  vertical-align: middle;
}
.b13-thcol1 {
  width: 54%;
}
.b13-thcol2 {
  width: 42%;
  line-height: 40px;
  background-color: #0036a6;
  color: #fff;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  text-align: center;
  -webkit-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  behavior: url("../static/css/PIE.htc");
}
.b13-tbody {
  border-bottom: 1px solid #e4e5e6;
}
.b13-tbody-item ul {
  display: table;
}
.b13-tbody-item li {
  display: table-cell;
  vertical-align: middle;
}
.b13-tbody-item:first-child .b13-colors1 {
  border-top: 1px solid #e4e5e6;
  -webkit-border-radius: 15px 0px 0px 0px;
  border-radius: 15px 0px 0px 0px;
  behavior: url("../static/css/PIE.htc");
}
.b13-td {
  line-height: 25px;
  font-size: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 7px 2px 7px 8px;
}
.b13-td.b13-colors1 {
  width: 54%;
  background-color: #e4e5e6;
  border: 1px solid #e4e5e6;
  border-top: 1px solid #fff;
}
.b13-td.b13-colors2 {
  width: 39%;
  background-color: #fff;
  border-left: 1px solid #fff;
  border-top: 1px solid #e4e5e6;
  border-right: 1px solid #e4e5e6;
  border-bottom: 1px solid #fff;
}
.b13 .g-pager .wrapp-pager {
  margin-bottom: 0px;
}
.b13 .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 431px;
}
.b13 .wrap-item {
  float: left;
  list-style: outside none none;
  position: relative;
  width: 780px;
}
.bo-b13 .b13-thcol1 {
  width: 558px;
}
.bo-b13 .b13-thcol2 {
  width: 427px;
}
.bo-b13 .b13-td.b13-colors1 {
  width: 558px;
}
.bo-b13 .b13-colors2 {
  width: 427px;
}
