.b16 {
  max-width: 960px;
  width: 96%;
  background-color: #e4e5e6;
  -webkit-border-radius: 50px 0 50px 0;
  border-radius: 50px 0 50px 0;
  behavior: url("../static/css/PIE.htc");
  padding-top: 28px;
  padding-bottom: 50px;
  margin: auto;
}
.b16-title {
  line-height: 1;
  color: #0036a6;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}
.b16-cnt {
  font-size: 0;
  text-align: center;
}
.b16-cnt.wancho {
  max-width: 960px;
}
.b16-item {
  display: inline-block;
  vertical-align: top;
  width: 252px;
  background-color: #fff;
  -webkit-border-radius: 20px 0 20px 0;
  border-radius: 20px 0 20px 0;
  behavior: url("../static/css/PIE.htc");
  margin: 0 25px;
}
.b16-info {
  display: table-cell;
  vertical-align: middle;
  width: 252px;
  height: 162px;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  text-align: center;
}
.b16-info p {
  line-height: 1.2;
}
.b16-info img {
  max-width: 100%;
  height: auto;
  display: block;
}
