.b17 {
  position: relative;
}
.b17.muestra-error .b17-text1 {
  display: none;
}
.b17.muestra-error .b17-error {
  display: block;
}
.b17-cnt {
  font-size: 0;
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 7px 0;
}
.b17-cnt.wancho {
  max-width: 840px;
}
.b17-input {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 57px;
  margin: 0 2px;
}
.b17-input input {
  width: 100%;
  height: 100%;
  line-height: 57px;
  background: url("../img/b17-bg-input.png") 0 0 no-repeat;
  color: #2c2d2e;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 40px;
  text-align: center;
  border: none;
}
.b17-input span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 57px;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 40px;
  text-align: center;
}
.b17-text1 {
  color: #000;
  font-size: 24px;
  text-align: right;
  margin-top: 10px;
}
.b17-text1 p {
  margin-bottom: 0;
}
.b17-error {
  position: absolute;
  top: 0;
  left: -5px;
  width: 101%;
  z-index: 1;
  margin: auto;
  display: none;
}
.b17-error.wancho {
  max-width: 845px;
}
.b17-borde {
  width: 100%;
  height: 72px;
  border: 2px solid #dc0451;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  behavior: url("../static/css/PIE.htc");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b17-text2 {
  font-size: 0;
  text-align: right;
  margin-top: 3px;
}
.b17-text2 img,
.b17-text2 p {
  display: inline-block;
  vertical-align: middle;
}
.b17-text2 img {
  max-width: 100%;
  height: auto;
}
.b17-text2 p {
  line-height: 1;
  color: #dc0451;
  font-size: 24px;
  margin-left: 5px;
  margin-bottom: 0;
}
