.b18 {
  max-width: 497px;
  width: 96%;
  background-color: #e5f7fa;
  -webkit-border-radius: 45px 0 45px 0;
  border-radius: 45px 0 45px 0;
  behavior: url("../static/css/PIE.htc");
  padding-top: 23px;
  padding-bottom: 20px;
  margin: auto;
}
.b18.small .b18-list li {
  font-size: 22px;
}
.b18-title {
  line-height: 1;
  color: #00add0;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 2px;
}
.b18-cnt {
  font-size: 0;
  text-align: center;
}
.b18-list,
.b18-img {
  display: inline-block;
  vertical-align: top;
}
.b18-list {
  width: 330px;
  text-align: left;
  margin-top: 30px;
}
.b18-list li {
  line-height: 1.2;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  position: relative;
  padding-left: 10px;
}
.b18-list li:before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: #4e4f53;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  behavior: url("../static/css/PIE.htc");
  position: absolute;
  top: 16px;
  left: 0;
}
.b18-img {
  width: 82px;
}
.b18-img img {
  display: block;
}
