.b19 {
  max-width: 497px;
  width: 96%;
  background-color: #e5f7fa;
  font-size: 0;
  text-align: center;
  -webkit-border-radius: 45px 0 45px 0;
  border-radius: 45px 0 45px 0;
  behavior: url("../static/css/PIE.htc");
  padding: 15px 0;
  margin: auto;
}
.b19-title,
.b19-img {
  display: inline-block;
  vertical-align: top;
}
.b19-title {
  width: 190px;
  line-height: 1;
  color: #00add0;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 35px;
}
.b19-img {
  width: 82px;
  margin-left: 75px;
}
.b19-img img {
  display: block;
}
