.b20 {
  max-width: 545px;
  width: 96%;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.b20 p {
  line-height: 1;
}
.b20 table {
  width: 100%;
}
.b20 thead th,
.b20 tbody th,
.b20 thead td,
.b20 tbody td {
  width: 50%;
  height: 70px;
  border: 2px solid #e4e5e6;
}
.b20 thead th {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b20 tbody td {
  color: #009b3a;
}
