.b21 {
  height: 495px;
  width: 966px;
  margin: auto;
  background: url("../img/bg-21.jpg") no-repeat center center;
  margin-top: 15px;
  position: relative;
}
.b21-small,
.b21-large {
  display: table-cell;
}
.b21-small>h3,
.b21-large>h3 {
  font-size: 24px;
  margin-bottom: 0;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  line-height: 100%;
  background: #fff;
  padding: 0px 8px;
  display: inline-block;
  position: relative;
  top: -14px;
  left: -7px;
}
.b21-small {
  width: 345px;
}
.b21-small h3 {
  margin-left: 60px;
}
.b21-small h3.pr0 {
  padding-right: 0;
}
.b21-large {
  text-align: center;
  width: 620px;
  height: 495px;
  z-index: 100;
}
.b21-content-small {
  height: 120px;
  vertical-align: middle;
  display: table-cell;
}
.b21-content-small img,
.b21-content-small span {
  display: inline-block;
  vertical-align: middle;
}
.b21-content-small span {
  font-size: 24px;
  font-family: 'Omnes-Medium', sans-serif;
}
.b21-content-small img {
  margin: 0px 10px 0px 15px;
}
