.b22 {
  width: 990px;
  height: 436px;
  background: url("../img/bg-line.png") no-repeat center center;
  position: relative;
  margin-top: 20px;
  z-index: -1;
}
.b22>h3 {
  position: relative;
  top: -18px;
  color: #009b3a;
  font-size: 24px;
  margin-bottom: 0;
  font-family: 'Omnes-Medium', sans-serif;
  background: #fff;
  margin-left: 60px;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  padding: 0px 8px;
}
