.b5-list {
  width: 330px;
  display: inline-block;
  border: 2px solid #e4e5e6;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}
.b5-list p:first-child {
  margin-top: 5px;
  min-height: 73px;
}
.b5-list p {
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 0;
}
.b5-list span {
  color: #009b3a;
}
.b5 {
  width: 690px;
  margin: auto;
}
.b5 .item-slider {
  float: left;
  list-style: outside none none;
  position: relative;
  width: 690px;
}
.b5 .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 220px;
}
.b5 .bx-wrapper .bx-pager.bx-default-pager a {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #009b3a;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  behavior: url("../static/css/PIE.htc");
}
.b5 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.b5 .bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: #009b3a;
}
.b5 .bx-wrapper .bx-next {
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 0 22px 20px;
  border-color: transparent transparent transparent #009b3a;
  margin-right: -53px;
}
.b5 .bx-wrapper .bx-prev {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 20px 22px 0;
  border-color: transparent #009b3a transparent transparent;
  margin-left: -53px;
}
.b5 .bx-wrapper .bx-prev {
  background: none;
}
.b5 .bx-wrapper .bx-pager {
  bottom: -35px;
}
.b5.ng .bx-wrapper .bx-pager {
  bottom: -55px;
}
.b5 .enlace-azul {
  line-height: 100%;
}
.b5 .g-pager {
  font-size: 0;
}
.b5 .g-pager p {
  margin-bottom: 0;
  font-size: 22px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.b5 .g-pager .wrapp-pager {
  line-height: 100%;
  margin-bottom: 0;
}
.b5 .g-pager .wrapp-pager a {
  margin-right: 8px;
}
.slide-ventajas .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 267px;
}
.slide-ventajas .item-slider {
  float: left;
  list-style: none;
  position: relative;
  width: 690px;
}
