.b9-text1 {
  line-height: 36px;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 34px;
}
.b9-text1 p {
  margin-bottom: 0;
}
.b9-text2 {
  line-height: 33px;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 30px;
}
.b9-text2 p {
  margin-bottom: 0;
}
.b9-block {
  border: 1px solid #e4e5e6;
  border-top: none;
  margin-top: -7px;
}
