@font-face {
  font-family: 'Omnes-Light';
  src: url("../fonts/omnes-light.eot");
  src: url("../fonts/omnes-light.eot?#iefix") format('embedded-opentype'), url("../fonts/omnes-light.woff2") format('woff2'), url("../fonts/omnes-light.woff") format('woff'), url("../fonts/omnes-light.ttf") format('truetype'), url("../fonts/omnes-light.svg#Omnes-Light") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Omnes-Thin';
  src: url("../fonts/omnes-thin.eot");
  src: url("../fonts/omnes-thin.eot?#iefix") format('embedded-opentype'), url("../fonts/omnes-thin.woff2") format('woff2'), url("../fonts/omnes-thin.woff") format('woff'), url("../fonts/omnes-thin.ttf") format('truetype'), url("../fonts/omnes-thin.svg#Omnes-Thin") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Omnes-Regular';
  src: url("../fonts/omnes-regular.eot");
  src: url("../fonts/omnes-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/omnes-regular.woff2") format('woff2'), url("../fonts/omnes-regular.woff") format('woff'), url("../fonts/omnes-regular.ttf") format('truetype'), url("../fonts/omnes-regular.svg#Omnes-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Omnes-Medium';
  src: url("../fonts/omnes-medium.eot");
  src: url("../fonts/omnes-medium.eot?#iefix") format('embedded-opentype'), url("../fonts/omnes-medium.woff2") format('woff2'), url("../fonts/omnes-medium.woff") format('woff'), url("../fonts/omnes-medium.ttf") format('truetype'), url("../fonts/omnes-medium.svg#Omnes-Medium") format('svg');
  font-weight: normal;
  font-style: normal;
}
