.wrapper {
  height: 768px;
}
.procesando-operacion .c-main {
  position: relative;
}
.procesando-operacion .c-main .-procesando {
  width: 100px;
  height: 100px;
  background-image: url("../images/procesando-operacion.gif");
  display: block;
  margin: auto;
  margin-top: 250px;
}
.g-title {
  min-height: 60px;
}
.-title-verde {
  font-size: 24px;
  text-align: center;
  color: #8f8f8f;
  padding: 20px 0 20px 0;
}
.-title-verde img {
  margin-left: 10px;
}
.vd {
  color: #009b3a;
}
.fz {
  font-size: 20px;
}
.botones-si-no {
  max-width: 254px;
  overflow: hidden;
}
.botones-si-no ul li {
  height: 55px;
  width: 50%;
  border-radius: 6px;
  behavior: url("../static/css/PIE.htc");
  float: left;
  text-align: center;
  color: #fff;
  font-size: 23px;
  line-height: 54px;
  cursor: pointer;
  background-color: #cfcdcd;
}
.botones-si-no ul .bt-no {
  border-radius: 0 6px 6px 0;
  behavior: url("static/css/PIE.htc");
}
.botones-si-no ul .bt-si {
  border-radius: 6px 0 0 6px;
  behavior: url("static/css/PIE.htc");
}
.botones-si-no ul li.active {
  background-color: #009b3a;
}
.botones-si-no-sx {
  max-width: 180px;
}
.botones-si-no-sx ul li {
  height: 34px;
  line-height: 34px;
}
.bt-inner.fz-70 {
  font-size: 70px;
  display: block;
  line-height: 65px;
}
.-cnt-celular-afiliado {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #beece9;
}
.-cnt-celular-afiliado .-caja-uno {
  color: #00b2a9;
  font-family: 'Omnes-Light';
  font-size: 30px;
  border-bottom: 0;
  padding: 45px;
}
.-cnt-celular-afiliado .-caja-uno.-mini {
  padding: 25px 50px;
}
.-cnt-celular-afiliado .-caja-uno span {
  color: #00b2a9;
  font-family: 'Omnes-Light';
  font-size: 30px;
  padding-left: 50px;
  background-image: url("../images/icono-check.png");
  background-repeat: no-repeat;
  background-position: left center;
}
.-cnt-celular-afiliado .-caja-dos {
  background-color: #f4f4f4;
  margin-top: 3px;
  padding: 20px;
}
.-cnt-celular-afiliado .-caja-dos p {
  color: #0038a5;
  font-family: 'Omnes-Light';
  font-size: 24px;
}
.-cnt-celular-afiliado .-caja-dos p strong {
  font-family: 'Omnes-Regular';
  color: #4d4d4d;
}
.no-border-c .-caja-uno {
  border: none;
}
.exito .c-main .p0 {
  padding: 0;
}
