/* clearfix */
/* end clearfix */
.mt320 {
  margin-top: 320px;
}
.w560 {
  width: 560px;
}
.c75 {
  width: 75%;
}
.mt15 {
  margin-top: 15px;
}
.ml20 {
  margin-left: 20px;
}
.j-main {
  position: relative;
}
.j-main .page-title .page-title-seccion {
  border-top: none;
  border-right: none;
}
.j-main .page-title .j-title-seccion {
  border-top: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
}
.j-page-text {
  position: absolute;
  top: 20px;
  right: 50px;
  line-height: 24px;
  text-align: right;
}
.j-page-text p {
  color: #717171;
  font-size: 24px;
}
.j-page-text p strong {
  color: #4d4d4d;
  font-family: 'Omnes-Medium';
}
.j-conte1 {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.j-conte1 .j-title1 {
  color: #00b2a9;
  font-family: 'Omnes-Regular';
  font-size: 30px;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-bottom: none;
  padding: 10px 0px 0px;
}
.j-conte1 .j-parrafo1 {
  background: #f4f4f4;
  color: #8f8f8f;
  font-size: 20px;
  text-align: justify;
  padding: 10px 40px;
  line-height: 24px;
}
.j-conte1 .j-parrafo1 p {
  margin-bottom: 10px;
}
.j-conte1 .j-parrafo1 a {
  color: #009b3a;
  font-family: 'Omnes-Medium';
}
.w-afilia.w-afilia-columna {
  width: 900px;
  zoom: 1;
}
.w-afilia.w-afilia-columna:after,
.w-afilia.w-afilia-columna:before {
  content: "";
  display: table;
}
.w-afilia.w-afilia-columna:after {
  clear: both;
}
.w-afilia.w-afilia-columna li {
  width: 320px;
  float: left;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
}
.w-afilia.w-afilia-columna li:before {
  width: 1px;
  height: 80px;
  background: #d6f2f1;
  position: absolute;
  top: 30px;
  left: 0;
}
.w-afilia.w-afilia-columna li span {
  border-bottom: none;
}
.w-afilia.w-afilia-columna li:first-child {
  width: 260px;
}
.w-afilia.w-afilia-columna li:first-child:before {
  display: none;
}
