.c-text-duo p,
.c-text-duo img {
  vertical-align: middle;
  margin: 0 5px;
}
.c-text-duo p {
  width: 520px;
}
.ac {
  text-align: center;
}
.al {
  text-align: left;
}
.ar {
  text-align: right;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.c-text-info {
  font-size: 24px;
  line-height: 130%;
}
.c-text-info strong {
  color: #009b3a;
}
.fz14 {
  font-size: 14px;
}
.fz24 {
  font-size: 24px;
}
.c-form.c-form-number li.in-monto {
  width: 310px;
}
.c-form.c-form-number li.in-monto.in-dolares {
  width: 250px;
}
.c-form.c-form-number li.in-monto input {
  text-align: right;
  box-sizing: border-box;
  padding: 0 10px;
}
.c-form.c-form-number li input {
  font-size: 60px;
  padding: 0;
  margin-top: 0;
}
.moneda-simbolo,
.moneda-simbolo-text {
  font-family: 'Omnes-Regular';
  color: #808080;
  vertical-align: middle;
}
.moneda-simbolo {
  font-size: 30px;
  margin-right: 20px;
}
.moneda-simbolo-text {
  font-size: 18px;
  width: 180px;
  margin-left: 20px;
  text-align: left;
}
.-cnt-celular-afiliado.w420 {
  width: 420px;
}
.-cnt-celular-afiliado.w420 .-caja-uno span {
  font-size: 30px;
}
.botons-duo {
  font-size: 0;
}
.botons-duo .item-botons-duo {
  font-size: 16px;
  vertical-align: middle;
  width: 50%;
}
.wancho-tab {
  width: 500px;
  overflow: hidden;
}
.wancho-tab .content-billete {
  overflow: hidden;
}
.wancho-tab .content-billete .bt {
  font-size: 27px;
}
.wancho-tab .content-billete a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.wancho-tab .content-billete .bt-punteado,
.wancho-tab .content-billete .oscuro {
  float: none;
  position: relative;
}
.wancho-tab .content-billete .bt-punteado img,
.wancho-tab .content-billete .oscuro img {
  position: absolute;
  top: 8px;
  right: 8px;
}
.page-title .page-title-seccion.ml0 {
  margin-left: 0;
}
.box-selection {
  text-align: left;
}
.box-selection .content-box-selection {
  position: relative;
}
.box-selection .icon-flecha-verde {
  margin-left: 10px;
}
.box-selection .title-box-selection {
  font-size: 20px;
  color: #666767;
  display: block;
  margin-bottom: 5px;
  vertical-align: middle;
}
.box-selection .number-box-selection {
  display: table-cell;
  color: #00a6cf;
  font-size: 28px;
  vertical-align: middle;
  padding-right: 30px;
}
.box-selection .number-box-selection span {
  width: 45px;
  height: 45px;
  border: 5px solid #00a6cf;
  display: block;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 33px;
  font-weight: 900;
}
.box-selection .bg-box-selection {
  display: table-cell;
  width: 400px;
  height: 100px;
  background-color: #f4f4f4;
  vertical-align: middle;
  font-size: 0;
  border-radius: 10px;
  behavior: url("static/css/PIE.htc");
}
.box-selection .bg-box-selection.box-mini {
  height: 60px;
}
.box-selection .bg-box-selection p {
  color: #696969;
  vertical-align: middle;
  font-size: 27px;
  width: 250px;
  box-sizing: border-box;
  padding-left: 10px;
}
.box-selection .bg-box-selection a {
  vertical-align: middle;
  font-size: 24px;
  width: 150px;
  box-sizing: border-box;
  padding-right: 10px;
  text-align: right;
  color: #878787;
  text-decoration: underline;
}
