.p-botones {
  font-family: 'Omnes-Medium';
  padding: 0px 20px;
}
.p-botones .p-item1,
.p-botones .p-item2 {
  float: left;
  width: 360px;
}
.p-botones .p-item2 {
  float: right;
}
.touch .c-texto1.c-text-info,
.touch font-size 27px.c-text-info {
  font-size: 14px;
}
.touch .page-title .page-title-seccion {
  margin-left: 48px;
}
.touch .page-title {
  margin-top: 40px;
}
