.d-table {
  display: table;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
.d-table .d-cell {
  display: table-cell;
  vertical-align: middle;
}
/* clearfix */
/* end clearfix */
.abs {
  position: absolute;
}
.l15 {
  left: 15px;
}
.t0 {
  top: 0;
}
.b0 {
  bottom: 0;
}
.b45 {
  bottom: 45px;
}
.pr {
  position: relative;
}
.grid {
  display: none;
  box-sizing: border-box;
  border: 1px solid #f00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 768px;
  background: url("../static/images/skin.png") center center no-repeat;
  opacity: 0.2;
  z-index: -1;
}
.ib {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.vm {
  vertical-align: middle;
}
.vt {
  vertical-align: top;
}
.clearfix {
  zoom: 1;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.w160 {
  min-width: 160px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w120 {
  width: 120px;
}
.w140 {
  width: 140px;
}
.w180 {
  width: 180px;
}
.w315 {
  width: 315px;
}
.w380 {
  width: 380px;
}
.h35 {
  min-height: 35px;
}
.h130 {
  min-height: 130px;
}
.h100 {
  min-height: 100px;
}
.h80 {
  height: 70px;
}
.s600 {
  max-width: 600px;
}
.s725 {
  max-width: 725px;
}
.s560 {
  max-width: 560px;
}
.s285 {
  max-width: 285px;
}
.s200 {
  max-width: 200px;
}
.b0 {
  bottom: 0;
}
.ml0 {
  margin-left: 0;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml60 {
  margin-left: 60px;
}
.ml70 {
  margin-left: 70px;
}
.ml150 {
  margin-left: 150px;
}
.ml100 {
  margin-left: 100px;
}
.ml190 {
  margin-left: 190px;
}
.mr0 {
  margin-right: 0 !important;
}
.mr10 {
  margin-right: 10px;
}
.mr5 {
  margin-right: 5px;
}
.mr20 {
  margin-right: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}
.mt120 {
  margin-top: 120px;
}
.mt140 {
  margin-top: 140px;
}
.mt150 {
  margin-top: 150px;
}
.mt160 {
  margin-top: 160px;
}
.mt170 {
  margin-top: 170px;
}
.mt180 {
  margin-top: 180px;
}
.mt200 {
  margin-top: 200px;
}
.mt210 {
  margin-top: 210px;
}
.mt220 {
  margin-top: 230px;
}
.mt230 {
  margin-top: 240px;
}
.mt250 {
  margin-top: 250px;
}
.mt260 {
  margin-top: 260px;
}
.mt270 {
  margin-top: 270px;
}
.mt280 {
  margin-top: 280px;
}
.mt290 {
  margin-top: 290px;
}
.mt300 {
  margin-top: 300px;
}
.mt310 {
  margin-top: 310px;
}
.mt320 {
  margin-top: 320px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb110 {
  margin-bottom: 110px;
}
.mb120 {
  margin-bottom: 120px;
}
.mb130 {
  margin-bottom: 130px;
}
.mb140 {
  margin-bottom: 140px;
}
.mb150 {
  margin-bottom: 150px;
}
.mb160 {
  margin-bottom: 160px;
}
.mb170 {
  margin-bottom: 170px;
}
.mb180 {
  margin-bottom: 180px;
}
.mb185 {
  margin-bottom: 185px;
}
.mb190 {
  margin-bottom: 190px;
}
.mb200 {
  margin-bottom: 200px;
}
.mb210 {
  margin-bottom: 210px;
}
.mb220 {
  margin-bottom: 220px;
}
.mb230 {
  margin-bottom: 230px;
}
.mb240 {
  margin-bottom: 240px;
}
.mb250 {
  margin-bottom: 250px;
}
.mb260 {
  margin-bottom: 260px;
}
.mb270 {
  margin-bottom: 270px;
}
.mb280 {
  margin-bottom: 280px;
}
.mb290 {
  margin-bottom: 290px;
}
.mb300 {
  margin-bottom: 300px;
}
.mb310 {
  margin-bottom: 310px;
}
.mb315 {
  margin-bottom: 315px;
}
.mb320 {
  margin-bottom: 320px;
}
.c100 {
  width: 100%;
}
.c90 {
  width: 90%;
}
.c95 {
  width: 95%;
}
.c80 {
  width: 80%;
}
.c70 {
  width: 70%;
}
.c60 {
  width: 60%;
}
.c65 {
  width: 65%;
}
.c55 {
  width: 55%;
}
.c50 {
  width: 50%;
}
.c45 {
  width: 45%;
}
.c40 {
  width: 40%;
}
.c35 {
  width: 35%;
}
.c30 {
  width: 30%;
}
.c25 {
  width: 25%;
}
.c20 {
  width: 20%;
}
.c10 {
  width: 10%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ar {
  text-align: right;
}
.al {
  text-align: left;
}
.ma {
  margin-left: auto;
  margin-right: auto;
}
.pt0 {
  padding-top: 0 !important;
}
.pt20 {
  padding-top: 20px;
}
.pl70 {
  padding-left: 70px;
}
.pl50 {
  padding-left: 50px;
}
.pl45 {
  padding-left: 45px;
}
.pr45 {
  padding-right: 45px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
.pt75 {
  padding-top: 75px;
}
.pr10 {
  padding-right: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb55 {
  padding-bottom: 50px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb100 {
  padding-bottom: 100px;
}
.p0 {
  padding: 0;
}
.h380 {
  min-height: 380px;
}
body {
  font-family: 'Omnes-Regular', Arial;
}
h1,
ul,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.wrapper {
  box-sizing: border-box;
  height: 768px;
  width: 1024px;
  margin: auto;
  position: relative;
  border: 1px solid #f00;
}
.alineacion span {
  display: inline-block;
  vertical-align: middle;
}
#contenedor {
/*background-color #0f0*/
  height: 768px;
  margin: 0 auto;
  position: relative;
  width: 1024px;
}
#header {
  background-color: #f9f9f9;
  border-bottom: 3px solid #009b3a;
  color: #808080;
  font-family: 'Omnes-Regular', Arial;
  height: 70px;
  padding: 0 20px;
  font-size: 22px;
}
#header #logo {
  background: url("../images/logo.png") 0 50% no-repeat;
  float: left;
  height: 68px;
  width: 251px;
}
#header ul {
  float: right;
  margin-top: 18px;
  overflow: hidden;
}
#header li {
  float: left;
  margin-left: 45px;
}
#header li:first-child {
  margin-left: 0;
}
#header span:first-child {
  margin-right: 10px;
}
#header #ico-telefono,
#header #ico-cajero {
  height: 31px;
}
#header #ico-telefono {
  background: url("../images/ico-telefono.png") no-repeat;
  width: 27px;
}
#header #ico-cajero {
  background: url("../images/ico-cajero.png") no-repeat;
  width: 17px;
}
h1 {
  color: #00add0;
  font-family: 'Omnes-Regular', Arial;
  font-size: 147px;
  font-weight: normal;
  text-align: center;
}
.especificacion,
.linea {
  position: absolute;
}
.especificacion {
  padding-left: 120px;
  top: 105px;
  z-index: 2;
}
.especificacion p {
  color: #8f8f8f;
  font-size: 27px;
  margin-top: 57px;
  padding-right: 0;
}
.especificacion p:first-child {
  background-color: #fff;
  color: #00add0;
  font-family: 'omneslight', Arial;
  font-size: 50px;
  left: 120px;
  margin-top: 0;
  padding-right: 20px;
  position: absolute;
  top: 0;
}
.linea {
  padding-left: 120px;
  padding-right: 30px;
  top: 140px;
  z-index: 1;
  width: 874px;
}
.linea span {
  border-right: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  display: block;
  height: 45px;
  width: 100%;
}
.mensaje {
  background-color: #f9f9f9;
  color: #656565;
  font-size: 24px;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  top: 240px;
  width: 100%;
}
.mensaje span {
  color: #0039a6;
}
.fondo-verde {
  background-color: #009b3a;
  border-bottom: 4px solid #00712b;
}
.fondo-azul {
  background-color: #0039a6;
  border-bottom: 4px solid #002874;
}
.fondo-celeste {
  background-color: #00add0;
  border-bottom: 4px solid #0085a0;
}
.fondo-blanco {
  background-color: #fff;
  border-top: 5px solid #009b3a;
  border-right: 5px solid #009b3a;
  border-bottom: 11px solid #009b3a;
  box-sizing: border-box;
  height: 95px !important;
}
.fondo-blanco .bt-text {
  color: #009b3a;
  height: 75px !important;
  padding-left: 33px !important;
}
#botones-izquierda,
#botones-derecha {
  position: absolute;
  top: 260px;
}
#botones-izquierda > div,
#botones-derecha > div {
  position: absolute;
  width: 360px;
}
#botones-izquierda .informacion,
#botones-derecha .informacion {
  behavior: url("../static/css/PIE.htc");
  color: #fff;
  height: 83px;
  width: 329px;
}
#botones-izquierda {
  left: 20px;
}
#botones-izquierda > div {
  left: 0;
}
#botones-izquierda .btn,
#botones-izquierda .informacion {
  float: left;
}
#botones-izquierda .informacion {
  border-radius: 0 15px 0 0;
  -moz-border-radius: 0 15px 0 0;
  -webkit-border-radius: 0 15px 0 0;
  float: left;
}
#botones-derecha {
  right: 20px;
}
#botones-derecha > div {
  right: 0;
}
#botones-derecha .btn,
#botones-derecha .informacion {
  float: right;
}
#botones-derecha .informacion {
  border-radius: 15px 0 0 0;
  -moz-border-radius: 15px 0 0 0;
  -webkit-border-radius: 15px 0 0 0;
  float: right;
}
.directo .informacion {
  font-family: 'omnesmedium', Arial;
  font-size: 25px;
  line-height: 87px;
  text-align: center;
}
.opcion-1 {
  top: 0;
}
.opcion-2 {
  top: 132px;
}
.opcion-3 {
  top: 264px;
}
.opcion-4 {
  top: 396px;
}
.btn {
  height: 95px;
  width: 31px;
}
.btn-izq-blanco {
  background: url("../images/btn-izq-blanco.png") no-repeat;
}
.btn-izq-verde {
  background: url("../images/btn-izq-verde.png") no-repeat;
}
.btn-der-verde {
  background: url("../images/btn-der-verde.png") no-repeat;
}
.btn-der-gris {
  background: url("../images/btn-der-gris.png") no-repeat;
}
.btn-izq-azul {
  background: url("../images/btn-izq-azul.png") no-repeat;
}
.btn-izq-celeste {
  background: url("../images/btn-izq-celeste.png") no-repeat;
}
/** correccioones botones plantilla **/
.btn-action {
  font-family: 'Omnes-Medium', Arial;
  font-size: 30px;
  line-height: 87px;
  text-align: center;
  behavior: url("../static/css/PIE.htc");
  color: #fff;
  height: 91px;
  width: 329px;
  position: relative;
}
.ico {
  background: url("../images/icon-x.png") center center no-repeat;
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
}
.ico.ico-alcancia {
  background-image: url("../images/icon-alcancia.png");
}
.ico.ico-candado {
  background-image: url("../images/icon-candado.png");
}
.ico.ico-retiro {
  background-image: url("../images/icon-retiro-blanco.png");
}
.ico .ico-x {
  background: url("../images/icon-x.png") center center no-repeat;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 20px;
  left: -4px;
}
.ico .bt-text {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 100%;
  height: 87px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
  text-align: left;
}
.bt-left {
  zoom: 1;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.bt-left:after,
.bt-left:before {
  content: "";
  display: table;
}
.bt-left:after {
  clear: both;
}
.bt-left .btn {
  float: left;
}
.bt-left .btn-action {
  border-radius: 0 15px 0 0;
  float: left;
}
.bt-right {
  zoom: 1;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.bt-right:after,
.bt-right:before {
  content: "";
  display: table;
}
.bt-right:after {
  clear: both;
}
.bt-right .btn {
  float: right;
}
.bt-right .btn-action {
  border-radius: 15px 0 0 0;
  float: right;
}
.bt-right .btn-action .ico {
  left: 20px;
}
.bt-right .btn-action .bt-text {
  padding-left: 70px;
}
.bt-small .btn-action {
  width: 155px;
}
.block-button.fr {
  text-align: right;
}
.block-button.fl {
  text-align: left;
}
.block-button.fl .bt-right {
  margin-right: 20px;
}
.bt {
  display: table;
  font-family: 'Omnes-Medium';
  font-size: 22px;
  behavior: url("../static/css/PIE.htc");
  color: #fff;
  width: 269px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0px;
}
.bt:before {
  position: absolute;
  top: 0;
  width: 32px;
  height: 95px;
  content: "";
  z-index: 1;
}
.bt.b-l {
  width: 269px;
}
.bt.b-l .bt-inner {
  height: 152px;
}
.bt.btn-large {
  width: 257px;
}
.bt.btn-large .bt-inner {
  height: 66px;
  width: 100%;
  border-radius: 10px 0px 10px 0;
}
.bt.btn-largexl {
  width: 310px;
}
.bt.btn-largexl .bt-inner {
  height: 70px;
  border-radius: 10px 0px 10px 0;
}
.bt.btn-largemxl {
  width: 250px;
}
.bt.btn-largemxl .bt-inner {
  height: 105px;
  border-radius: 10px 0px 10px 0;
}
.bt.b-large {
  width: 315px;
  padding: 0;
}
.bt.b-ss {
  width: 156px;
  padding: 0;
}
.bt.b-ss .bt-inner {
  height: 83px;
}
.bt.b-sl {
  width: 324px;
  padding: 0;
}
.bt.b-sl .bt-inner {
  height: 83px;
}
.bt.b-h .bt-inner {
  height: 75px;
}
.bt.bt-punteado {
  width: 153px;
  padding: 0;
  color: #cfcdcd;
  cursor: default;
}
.bt.bt-punteado .bt-inner {
  height: 83px;
  background: #fff;
  border: 1px dashed #009b3a;
}
.bt.bt-h {
  width: 134px;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}
.bt.bt-h .borde-before,
.bt.bt-h .borde-after {
  display: none;
}
.bt.bt-h .bt-inner {
  height: 102px;
  background-color: #878787;
  border-bottom: 4px solid #696969;
  line-height: 18px;
  padding-left: 10px;
  padding-right: 10px;
}
.bt.bt-h .drop-shadow {
  display: none;
}
.bt.bt-h.active .bt-inner {
  background-color: #009b3a;
  border-radius: 0;
  position: relative;
  border: none;
}
.bt.bt-h.active .bt-inner img {
  margin-bottom: 10px;
}
.bt.bt-h.active .bt-inner:before {
  content: "";
  width: 148px;
  height: 10px;
  box-sizing: border-box;
  position: absolute;
  top: -10px;
  left: -7px;
  background-color: #009b3a;
}
.bt.bt-h.active .bt-inner:after {
  display: none;
}
.bt.bt-h.active .drop-shadow {
  display: block;
  width: 132px;
  height: 10px;
  box-sizing: border-box;
  background-color: #009b3a;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 0 0px 10px 0;
  border-bottom: 4px solid #00712b;
  behavior: url("../static/css/PIE.htc");
}
.bt.bt-h .borde-before,
.bt.bt-h .borde-after {
  display: block;
  position: absolute;
  top: 0px;
  width: 10px;
  height: 122px;
  background-color: #fff;
  behavior: url("../static/css/PIE.htc");
  z-index: 100;
}
.bt.bt-h .borde-before {
  left: -9px;
  border-radius: 0 10px 0 0;
}
.bt.bt-h .borde-after {
  right: -8px;
  border-radius: 10px 0 0 0;
}
.bt.bt-f,
.bt.bt-fl {
  width: 160px;
  font-size: 18px;
  padding: 0px;
}
.bt.bt-f:before,
.bt.bt-fl:before {
  display: none;
}
.bt.bt-f .bt-inner,
.bt.bt-fl .bt-inner {
  padding: 0 10px;
  height: 70px;
  background-color: #00b2a9;
  border: none;
  line-height: 18px;
  position: relative;
  border-radius: 0;
}
.bt.bt-f .bt-inner:before,
.bt.bt-fl .bt-inner:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #00b2a9;
  border-radius: 10px 0 0 0;
}
.bt.bt-fl {
  width: 150px;
}
.bt.bt-fl .bt-inner {
  border-radius: 10px 0 0 0;
  padding-left: 15px;
  height: 70px;
}
.bt.bt-fl .bt-inner img {
  margin-right: 7px;
  display: none;
}
.bt.bt-fl .bt-inner:before {
  display: none;
}
.bt.bt-fl .bt-inner:after {
  content: "";
  height: 4px;
  background-color: #02928b;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.bt.bt-auto {
  width: auto;
}
.bt.b-celeste .bt-inner,
.bt.b-celeste.active .bt-inner {
  background-color: #00add0;
  border-bottom: 4px solid #0085a0;
}
.bt.b-celeste.b-left:before,
.bt.b-celeste.active.b-left:before {
  background: url("../images/btn-izq-celeste.png") no-repeat;
}
.bt.b-celeste.active.active .bt-inner {
  border-radius: 0;
  position: relative;
  border: none;
}
.bt.b-celeste.active.active .bt-inner img {
  margin-bottom: 10px;
}
.bt.b-celeste.active.active .bt-inner:before {
  content: "";
  width: 148px;
  height: 10px;
  box-sizing: border-box;
  position: absolute;
  top: -10px;
  left: -7px;
  background-color: #00add0;
}
.bt.b-celeste.active.active .bt-inner:after {
  display: none;
}
.bt.b-celeste.active.active .drop-shadow {
  width: 133px;
  background-color: #00add0;
  border-bottom: 4px solid #0087a2;
}
.bt.b-gris {
  cursor: default;
}
.bt.b-gris .bt-inner {
  background-color: #e4e4e4;
  border-bottom: 4px solid #e4e4e4;
}
.bt.b-gris.b-left:before {
  background: url("../images/btn-izq-gris.png") no-repeat;
}
.bt.b-gris.b-left:before {
  background: url("../images/btn-izq-gris.png") no-repeat;
}
.bt.b-azul .bt-inner {
  background-color: #2c54a1;
  border-bottom: 4px solid #123270;
}
.bt.b-gris .bt-inner {
  background-color: #e4e4e4;
  border-bottom: 4px solid #ccc;
}
.bt.b-gris.b-right:before {
  background: url("../images/btn-der-gris.png") no-repeat;
}
.bt.b-blanco .bt-inner,
.bt.b-blanco-sx .bt-inner {
  background-color: #fff;
  border-top: 4px solid #009b3a;
  border-right: 4px solid #009b3a;
  border-bottom: 4px solid #009b3a;
  color: #009b3a;
  position: relative;
}
.bt.b-blanco .bt-inner .arrow-inner,
.bt.b-blanco-sx .bt-inner .arrow-inner {
  position: absolute;
  top: 23px;
  left: 8px;
  width: 15px;
  height: 20px;
}
.bt.b-blanco.b-l,
.bt.b-blanco-sx.b-l {
  width: 210px;
}
.bt.b-blanco.b-l .bt-inner,
.bt.b-blanco-sx.b-l .bt-inner {
  border-left: 5px solid #009b3a;
  border-bottom: 11px solid #009b3a;
  border-radius: 10px 0 20px 0;
}
.bt.b-blanco.b-l .bt-inner:before,
.bt.b-blanco-sx.b-l .bt-inner:before {
  border-bottom: 4px solid #00712b;
  height: 30px;
  left: -5px;
  bottom: -10px;
  border-radius: 0 0 20px 0;
  padding-right: 8px;
}
.bt.b-blanco.b-left:before,
.bt.b-blanco-sx.b-left:before {
  background: url("../images/btn-izq-blanco.png") no-repeat;
}
.bt.b-blanco-sx.bt.b-left .bt-inner {
  height: 75px;
}
.bt.b-blanco-sx.bt.b-left:before {
  background: url("../images/btn-izq-blanco-sx.png") no-repeat;
  width: 30px;
  height: 75px;
}
.bt.b-blanco-sx.b-left .bt-inner {
  width: 50px;
}
.bt .bt-inner {
  height: 75px;
  display: table-cell;
  vertical-align: middle;
  background-color: #009b3a;
  border-bottom: 4px solid #00712b;
  behavior: url("../static/css/PIE.htc");
  line-height: 22px;
  border-radius: 10px 0px 10px 0;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.bt .bt-inner .ico {
  position: relative;
}
.bt .bt-inner .ico:before {
  content: "";
  position: absolute;
  right: -15px;
  top: 0;
  border-left: 1px solid #fff;
  height: 100%;
  z-index: 2;
  padding: 10px 0;
  margin-top: -10px;
  opacity: 0.3;
}
.bt .bt-inner .bt-text {
  position: relative;
  margin-left: 15px;
  width: 220px;
  text-align: center;
}
.bt.b-left,
.bt.b-right {
  width: 360px;
  font-family: 'Omnes-Regular';
  font-size: 30px;
}
.bt.b-left .bt-inner,
.bt.b-right .bt-inner {
  height: 95px;
  width: 328px;
}
.bt.b-left.b-monto,
.bt.b-right.b-monto {
  font-size: 32px;
}
.bt.b-left.b-xs,
.bt.b-right.b-xs {
  width: 233px;
}
.bt.b-left .b-img,
.bt.b-right .b-img {
  position: absolute;
  background: #ccebd8;
  border-radius: 0 12px 0 0;
  behavior: url("../static/css/PIE.htc");
  width: 100px;
  height: 91px;
  right: 0px;
  top: 0;
  text-align: center;
}
.bt.b-left .b-img img,
.bt.b-right .b-img img {
  margin-top: 25px;
}
.bt.b-left {
  padding-left: 30px;
}
.bt.b-left .bt-inner {
  border-radius: 0 15px 0 0;
  padding-right: 15px;
}
.bt.b-left:before {
  left: 0px;
  background: url("../images/btn-izq-verde.png") no-repeat;
}
.bt.b-right {
  padding-right: 31px;
}
.bt.b-right .bt-inner {
  border-radius: 15px 0 0 0;
  padding-left: 30px;
}
.bt.b-right .b-img {
  border-radius: 13px 0 0 0;
  left: 1px;
  top: 0;
  right: auto;
}
.bt.b-right:before {
  right: 0;
  background: url("../images/btn-der-verde.png") no-repeat;
}
.bt.bt-auto {
  width: auto;
}
.bt.bt-auto .bt-inner {
  width: auto;
}
.botones-cv .b-blanco-sx.b-left:before {
  display: none;
}
.botones-cv .b-blanco-sx .bt-inner {
  border-left: 3px solid #009b3a;
  border-radius: 15px 0 0 0;
  font-size: 22px;
  padding: 0 20px;
}
.botones-cv .b-gris .bt-inner {
  border-radius: 0 0 15px 0;
  border: none;
}
.botones-cv .bt-inner {
  border: none;
  border-radius: 0 0 15px 0;
}
.paso {
  background: #00b2a9;
  border-radius: 50%;
  behavior: url("../static/css/PIE.htc");
  display: inline-block;
  min-width: 25px;
  color: #fff;
}
.paso.p-active {
  background: #acacac;
}
.w-pasos {
  font-size: 20px;
  font-family: 'Omnes-Medium';
  color: #4d4d4d;
}
.w-pasos .paso {
  margin: 0 5px;
}
/** correccioones botones plantilla **/
.bt-inner.fz-45 {
  font-size: 45px;
  display: block;
  line-height: 50px;
}
.bd-box {
  max-width: 910px;
  height: 60px;
}
.bd-box.b-sup {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
.bd-box.b-inf {
  height: 45px;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}
/** titulo paginas  **/
.page-title {
  margin-top: 60px;
  position: relative;
  padding-top: 15px;
  min-height: 60px;
}
.page-title .page-titleicon {
  position: absolute;
  top: 0;
  left: 10px;
}
.page-title .page-title-seccion {
  margin-left: 100px;
  position: relative;
  border-top: 1px solid #e4e4e4;
  padding-top: 20px;
  margin-right: 30px;
  height: 46px;
  box-sizing: border-box;
}
.page-title .page-title-seccion .page-subtitle {
  color: #00b2a9;
  font-family: 'Omnes-Regular';
  font-size: 50px;
  background-color: #fff;
  position: absolute;
  top: -38px;
  left: 0;
  padding-right: 20px;
}
.page-title .page-title-seccion p {
  font-family: 'Omnes-Regular';
  font-size: 27px;
  color: #808080;
}
.page-title.page-title-noimg .page-title-seccion {
  margin-left: 0;
}
.page-title.no-subtitulo .page-titleicon {
  top: -29%;
}
.mt30 {
  margin-top: 40px;
}
.subtitle-section {
  font-size: 45px;
  color: #5b5b5b;
  font-family: 'Omnes-Regular';
  line-height: 110%;
}
.titulo-section {
  font-size: 50px;
  color: #4d4d4d;
  font-family: 'Omnes-Medium';
}
.titulo-section-2 {
  font-size: 48px;
  color: #acacac;
  font-family: 'Omnes-Regular';
}
.parrafo-resumen {
  font-size: 27px;
  color: #8f8f8f;
  font-family: 'Omnes-Regular';
}
/** titulo paginas  **/
.mensaje-error .inner-error {
  padding: 20px 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
}
.mensaje-error .text-error {
  min-height: 35px;
}
.mensaje-error .text-error .inner-text {
  display: none;
  font-size: 23px;
  font-family: 'Omnes-Regular';
  color: #d80b49;
  display: none;
}
.mensaje-error.alert-error .inner-error {
  border: 2px solid #d80b49;
}
.mensaje-error.alert-error .text-error .inner-text {
  display: block;
}
.menu-navegacion {
  zoom: 1;
}
.menu-navegacion:after,
.menu-navegacion:before {
  content: "";
  display: table;
}
.menu-navegacion:after {
  clear: both;
}
.menu-navegacion .menu-inner {
  zoom: 1;
  padding-right: 14px;
  padding-left: 4px;
}
.menu-navegacion .menu-inner:after,
.menu-navegacion .menu-inner:before {
  content: "";
  display: table;
}
.menu-navegacion .menu-inner:after {
  clear: both;
}
.menu-navegacion .menu-inner .item-menu {
  margin-left: 10px;
}
/**** Mensaje ****/
.s-voucher {
  margin: 150px auto auto auto;
  width: 430px;
  font-size: 53px;
  color: #acacac;
  font-family: 'Omnes-Regular';
  text-align: center;
  line-height: 95%;
}
.s-voucher div {
  margin-bottom: 25px;
}
.block-bottom {
  zoom: 1;
}
.block-bottom:after,
.block-bottom:before {
  content: "";
  display: table;
}
.block-bottom:after {
  clear: both;
}
.block-bottom .block-text .item-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  color: #666767;
  font-size: 22px;
  font-family: 'Omnes-Regular';
  line-height: 28px;
}
.content-tab {
  position: relative;
}
.content-tab .item-tab.active {
  display: block;
}
.content-tab .item-tab {
  display: none;
}
.c-texto1 {
  width: 865px;
  color: #8f8f8f;
  font-size: 27px;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-top: none;
  padding: 0px 75px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Omnes-Regular';
  box-sizing: border-box;
  line-height: 30px;
  overflow: hidden;
}
.c-texto1.-no-border {
  border: none;
}
.c-texto1 em {
  color: #009b3a;
  font-family: 'Omnes-Medium';
}
.c-texto1 li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  font-size: 45px;
  margin-left: 5px;
}
.c-texto1.-general {
  font-size: 35px;
  line-height: 36px;
  padding-bottom: 50px;
}
.c-texto1 .al {
  text-align: left;
}
.c-texto1 .c-title {
  font-size: 36px;
  color: #009b3a;
  font-family: 'Omnes-Medium';
  margin-bottom: 0;
}
.c-title-big {
  font-size: 50px;
  line-height: 100%;
  font-family: 'Omnes-Medium';
  color: #4d4d4d;
}
.t-big {
  font-size: 27px;
  color: #8f8f8f;
  font-family: omnes-light;
}
.t-medium {
  font-size: 35px;
  color: #4d4d4d;
  font-family: 'Omnes-Regular';
}
.w-box-info {
  behavior: url("../static/css/PIE.htc");
  width: 650px;
  padding: 20px 40px;
  border-radius: 30px 0px 30px 0;
  background: #e5f7fa;
  box-sizing: border-box;
  font-size: 22px;
  color: #7f7f7f;
}
.w-box-info .box-title {
  color: #00add0;
  font-size: 30px;
}
.w-afilia {
  font-size: 26px;
  color: #009b3a;
  width: 660px;
}
.w-afilia ul li {
  margin-bottom: 5px;
}
.w-afilia ul li img {
  vertical-align: middle;
  float: left;
}
.w-afilia ul li span {
  margin-left: 20px;
  vertical-align: middle;
  border-bottom: 1px solid #d6f2f1;
  display: block;
  margin-left: 90px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.w-afilia.texto-gris {
  color: #8f8f8f;
}
.text-error {
  overflow: hidden;
  font-size: 30px;
}
.text-error.-solo {
  font-size: 30px;
  line-height: 35px;
}
.text-error img {
  vertical-align: middle;
}
.text-error span {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 47px;
  background-image: url("../images/pantalla-error.png");
  background-repeat: no-repeat;
  margin-right: 20px;
}
.text-error p {
  max-width: 620px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: #d80b49;
}
.fancybox-bg {
  display: none;
}
#fancybox-outer {
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
}
.fancy-main {
  width: 775px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
  position: relative;
}
.fancy-main.f-full {
  width: 815px;
}
.fancy-main .close-fancy {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.bt-teclado .item-bt {
  background: url("../images/boton-teclado.png");
  width: 87px;
  height: 65px;
  position: relative;
  box-sizing: border-box;
  padding: 0 15px;
  padding-top: 5px;
  color: #515252;
  border: none;
  margin-right: 6px;
  margin-bottom: 8px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.bt-teclado .item-bt .qwerty {
  position: absolute;
  top: 7px;
  left: 45px;
  font-family: Arial;
  font-weight: bold;
  display: none;
}
.bt-teclado .item-bt .number {
  font-size: 40px;
  font-family: Arial;
  font-weight: bold;
  display: block;
  text-align: left;
}
.bt-teclado .item-bt .number.ib-del {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-left: -3px;
  margin-top: -3px;
}
.ingresa-monto .text-moneda {
  font-size: 35px;
  color: #8f8f8f;
}
.ingresa-monto .ingresa-tex {
  font-size: 20px;
  color: #858585;
  font-family: 'Omnes-Regular';
}
.ingresa-monto .c-form li {
  margin: 0 5px;
}
.inner-fancy {
  color: #8f8f8f;
}
.inner-fancy .-title {
  text-align: center;
  color: #00b2a9;
  font-size: 27px;
}
.inner-fancy p {
  margin: 5px 0;
}
.w-fancy-content {
  padding: 0 48px;
  font-size: 20px;
}
.w-teclado {
  padding: 0 48px;
}
.w-teclado .c-form li {
  margin: 0px;
}
.inputsolo {
  position: relative;
}
.inputsolo span {
  font-size: 35px;
  color: #8f8f8f;
  position: absolute;
  margin: auto;
  left: -45px;
  line-height: 90px;
}
.inputsolo input {
  width: 320px;
  height: 90px;
  background: none;
  border: none;
  background: url("../images/bg-input-solo.png") no-repeat center center;
  line-height: 90px;
  color: #2c2d2e;
  font-size: 45px;
  font-family: 'Omnes-Medium';
  padding: 0px 10px;
  box-sizing: border-box;
}
.inputsolo.input-validate span {
  left: 0;
}
.inputsolo.input-validate .border {
  border: 2px solid transparent;
  padding: 7px 5px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
}
.inputsolo.input-validate .text-error {
  font-size: 20px;
  opacity: 0;
}
.inputsolo.input-validate .text-error p {
  width: 230px;
  margin-left: 10px;
  text-align: right;
}
.inputsolo.input-validate.error .border {
  border: 2px solid #d80b49;
}
.inputsolo.input-validate.error .text-error {
  opacity: 1;
}
.inputsolo.input-cuotas {
  text-align: right;
}
.inputsolo.input-cuotas .border {
  border: 2px solid transparent;
  padding: 7px 5px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
}
.inputsolo.input-cuotas .text-cuota {
  text-align: right;
  font-size: 20px;
  margin-top: 10px;
}
.inputsolo.input-cuotas .text-error {
  font-size: 20px;
  display: none;
  margin-top: 5px;
}
.inputsolo.input-cuotas.error .border {
  border: 2px solid #d80b49;
}
.inputsolo.input-cuotas.error .text-cuota {
  display: none;
}
.inputsolo.input-cuotas.error .text-error {
  display: block;
}
.fancy-main.f-full-max {
  width: 875px;
}
.cceleste {
  color: #6bc5dd;
}
.lados2 {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
}
.list-center {
  color: #4e4f53;
  font-size: 20px;
  text-align: left;
}
.list-center .item-list {
  margin-bottom: 10px;
}
.list-center .list-title {
  width: 51%;
  color: #0038a5;
  text-align: right;
  margin-right: 10px;
}
.list-center li {
  width: 45%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
