.cambio-clave .c-main .c-ingresa-clave {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.cambio-clave .c-main .c-ingresa-clave figure,
.cambio-clave .c-main .c-ingresa-clave .c-texto2 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.cambio-clave .c-main .c-ingresa-clave figure {
  padding-top: 17px;
}
.c-texto2 {
  width: 470px;
  line-height: 100%;
  color: #4d4d4d;
  font-family: 'Omnes-Medium';
  font-size: 50px;
}
.c-texto3 {
  color: #8f8f8f;
  font-size: 22px;
  text-align: center;
}
.ingreso-clave .c-ingresa-clave .c-form {
  margin-bottom: 20px !important;
}
.c-form.form-mini ul li {
  height: 50px;
  width: 40px;
  margin: 0px;
  border-radius: 8px;
  line-height: 52;
}
.c-form.form-mini ul li input {
  font-size: 36px;
  height: 52px;
}
.c-form ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.c-form li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 75px;
  box-shadow: inset 0px 2px 4px #999;
  background: #e0e0e0;
  border: 1px solid #bbb;
  border-radius: 15px;
  behavior: url("../static/css/PIE.htc");
  margin: 0px 7px;
  height: 90px;
  line-height: 90px;
  overflow: none;
  background: url("../images/gradiente-campo-monto.png");
}
.c-form li input {
  width: 100%;
  background: none;
  color: #313131;
  user-select: none;
  font-size: 120px;
  text-align: center;
  border: none;
  margin-top: -30px;
  padding: 10px 0;
}
