.pager-inicio .i-main {
  padding-top: 95px;
}
.pager-inicio .i-main .i-texto1 {
  max-width: 863px;
  height: 90px;
  border: 1px solid #e4e4e4;
  border-top: none;
  position: relative;
  margin: auto;
  margin-bottom: 40px;
}
.pager-inicio .i-main .i-texto1 .i-conte1 {
  max-width: 865px;
  line-height: 0px;
  color: #00add0;
  font-family: 'Omnes-Regular';
  font-size: 147px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.pager-inicio .i-main .i-inserta-tarjeta {
  width: 374px;
  margin: auto;
  text-align: center;
}
.pager-inicio .i-main .i-inserta-tarjeta .i-texto2 {
  width: 205px;
  color: #808080;
  font-family: 'Omnes-Regular';
  font-size: 29px;
  position: relative;
  margin: auto;
  margin-bottom: 25px;
}
.pager-inicio .i-main .i-inserta-tarjeta .i-texto2:before,
.pager-inicio .i-main .i-inserta-tarjeta .i-texto2:after {
  content: "";
  width: 18px;
  height: 1px;
  background: #d2d2d2;
  position: absolute;
  top: 20px;
  left: -33px;
}
.pager-inicio .i-main .i-inserta-tarjeta .i-texto2:after {
  left: inherit;
  right: -33px;
}
.pager-inicio .i-main .i-inserta-tarjeta .i-imagen1 {
  width: 100%;
}
.pager-inicio .i-main .i-inserta-tarjeta .i-imagen1 img {
  width: 100%;
  height: auto;
  display: block;
}
.pager-inicio .i-main .i-inserta-tarjeta .i-imagen2 {
  width: 93px;
  margin-top: 25px;
}
.pager-inicio .i-main .i-inserta-tarjeta .i-imagen2 img {
  width: 100%;
  height: auto;
  display: block;
}
