/*
	E S T I L O S    G E N E R A L E S
*/
body	{
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		background-color: #FFC223;
		font-family: "myFont";
		}

body1	{
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		background-color: #FFC223;
		font-family: "myFont1";
		}

INPUT.FDK1
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 50px;
    //FONT-SIZE: 18pt;
    LEFT: 0%;
    //BACKGROUND-IMAGE: url(LeftButton.jpg);
    PADDING-BOTTOM: 15px;
    BORDER-LEFT: 0px;
    WIDTH: 341px;
    //COLOR: darkblue;
    BORDER-BOTTOM: 0px;
    font-family: myFont;
    POSITION: absolute;
    TOP:250px;
    HEIGHT: 75px;
    BACKGROUND-COLOR: transparent;
    //TEXT-ALIGN: left
}
INPUT.FDK3
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 50px;
    //FONT-SIZE: 18pt;
    LEFT: 0%;
    //BACKGROUND-IMAGE: url(LeftButton.jpg);
    PADDING-BOTTOM: 15px;
    BORDER-LEFT: 0px;
    WIDTH: 341px;
    //COLOR: darkblue;
    BORDER-BOTTOM: 0px;
    BACKGROUND-REPEAT: repeat;
    font-family: myFont;
    POSITION: absolute;
    TOP: 380px;
    HEIGHT: 75px;
    BACKGROUND-COLOR: transparent;
    //TEXT-ALIGN: left
}
INPUT.FDK5
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 50px;
    //FONT-SIZE: 18pt;
    LEFT: 0%;
    //BACKGROUND-IMAGE: url(LeftButton.jpg);
    PADDING-BOTTOM: 15px;
    BORDER-LEFT: 0px;
    WIDTH: 341px;
    //COLOR: darkblue;
    BORDER-BOTTOM: 0px;
    font-family: myFont;
    POSITION: absolute;
    TOP: 520px;
    HEIGHT: 75px;
    BACKGROUND-COLOR: transparent;
    //TEXT-ALIGN: left
}
INPUT.FDK7
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 50px;
    //FONT-SIZE: 18pt;
    LEFT: 0%;
    //BACKGROUND-IMAGE: url(LeftButton.jpg);
    PADDING-BOTTOM: 15px;
    BORDER-LEFT: 0px;
    WIDTH: 341px;
    //COLOR: darkblue;
    BORDER-BOTTOM: 0px;
    font-family: myFont;
    POSITION: absolute;
    TOP: 650px;
    HEIGHT: 75px;
    BACKGROUND-COLOR: transparent;
    //TEXT-ALIGN: left
}
INPUT.FDK2
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 50px;
    BORDER-TOP: 0px;
    //FONT-SIZE: 18pt;
    LEFT: 683px;
    //BACKGROUND-IMAGE: url(RightButton.jpg);
    PADDING-BOTTOM: 15px;
    BORDER-LEFT: 0px;
    WIDTH: 341px;
    //COLOR: darkblue;
    BORDER-BOTTOM: 0px;
    font-family: myFont;
    POSITION: absolute;
    TOP: 250px;
    HEIGHT: 75px;
    BACKGROUND-COLOR: transparent;
    //TEXT-ALIGN: right
}
INPUT.FDK4
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 50px;
    BORDER-TOP: 0px;
    //FONT-SIZE: 18pt;
    LEFT: 683px;
    //BACKGROUND-IMAGE: url(RightButton.jpg);
    PADDING-BOTTOM: 15px;
    BORDER-LEFT: 0px;
    WIDTH: 341px;
    //COLOR: darkblue;
    BORDER-BOTTOM: 0px;
    font-family: myFont;
    POSITION: absolute;
    TOP: 380px;
    HEIGHT: 75px;
    BACKGROUND-COLOR: transparent;
    //TEXT-ALIGN: right
}
INPUT.FDK6
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 50px;
    BORDER-TOP: 0px;
    //FONT-SIZE: 18pt;
    LEFT: 683px;
    //BACKGROUND-IMAGE: url(RightButton.jpg);
    PADDING-BOTTOM: 15px;
    BORDER-LEFT: 0px;
    WIDTH: 341px;
    //COLOR: darkblue;
    BORDER-BOTTOM: 0px;
    font-family: myFont;
    POSITION: absolute;
    TOP: 520px;
    HEIGHT: 75px;
    BACKGROUND-COLOR: transparent;
    //TEXT-ALIGN: right
}
INPUT.FDK8
{
    COLOR: #000082; 
	TEXT-DECORATION: none; 
	font-size: 38px; 
	vertical-align:middle; 
	text-align: center; 
	letter-spacing: -1.2pt;
	BACKGROUND-COLOR: transparent;
	POSITION: absolute;
    TOP: 650px;
    HEIGHT: 75px;
	BORDER-RIGHT: 0px;
    PADDING-RIGHT: 50px;
    BORDER-TOP: 0px;
	BORDER-BOTTOM: 0px;
    LEFT: 683px;
	PADDING-BOTTOM: 15px;
    BORDER-LEFT: 0px;
    WIDTH: 341px;
	font-family: myFont;
	BACKGROUND-IMAGE: url(der_4.gif);
	BACKGROUND-REPEAT: no-repeat;	
	BACKGROUND-position: right;
}