/*
	E S T I L O S    G E N E R A L E S
*/
@font-face	{font-family: "myFont"; src: url("../css/fuentes/dax-bold-webfont.eot");}

h1
	 	{	
		color: #000082;
		font-size: 60px;
		}
		
h2
	 	{	
		color: #FF0000;
		font-size: 60px;
		}
		
p		{
		color: #000082;
		font-size: 40px;
		text-align: left;
		line-height: 1.0;
		}
		
p1		{
		color: #000082;
		font-size: 42px;
		text-align: left;
		line-height: 0.5;
		}
		
A.boton_izq:link, {COLOR: #000082; TEXT-DECORATION: none;  font-size: 40px; vertical-align:middle; text-align: left; letter-spacing: -1.2pt;}
A.boton_izq:visited {COLOR: #000082; TEXT-DECORATION: none;  font-size: 40px; vertical-align:middle; text-align: left; letter-spacing: -1.2pt;}
A.boton_izq:hover {COLOR: #000099; TEXT-DECORATION: none;  font-size: 40px; vertical-align:middle; text-align: left; letter-spacing: -1.2pt;}
A.boton_izq:active {COLOR: #000082; TEXT-DECORATION: none;  font-size: 40px; vertical-align:middle; text-align: left; letter-spacing: -1.2pt;}

A.boton_der:link, {COLOR: #000082; TEXT-DECORATION: none;  font-size: 38px; vertical-align:middle; text-align: right; letter-spacing: -1.2pt;}
A.boton_der:visited {COLOR: #000082; TEXT-DECORATION: none;  font-size: 38px; vertical-align:middle; text-align: right; letter-spacing: -1.2pt;}
A.boton_der:hover {COLOR: #000099; TEXT-DECORATION: none;  font-size: 38px; vertical-align:middle; text-align: right; letter-spacing: -1.2t;}
A.boton_der:active {COLOR: #000082; TEXT-DECORATION: none;  font-size: 38px; vertical-align:middle; text-align: right; letter-spacing: -1.2pt;}

.textarea_campos {
    width: 300px;
    height: 30px;
    border: 3px solid #000082;
    padding: 2px;
	font-family: "myFont"; src: url("../css/fuentes/dax-bold-webfont.eot");
	font-size: 22px;
	background-color:#FFFFF;
	color: #000082;
}


/*