
* {
	margin: 0;
	border-width: 0;
}

@font-face	{font-family: "DaxBoldRegular"; src: url("../fonts/dax-bold-webfont.eot");}
@font-face	{font-family: "DaxBoldBoldItalic"; src: url("../fonts/daxot-bolditalic-webfont.eot");}

body {
	font-size: 52px;
	font-family: "DaxBoldRegular";
	color: #000082;
	background-repeat: no-repeat;
}

div#content{
	height: 768px;
	width: 1024px;
}

/* Start - Styles for the FDKs */

div.fdk{
	position: absolute;
	width: 400px;
	height: 49px;
	padding-top:15px;
}

div.fdkLeftSmall{
	left: 10px;
	text-align: left;
	background-image: url(../images/boton_izq_peq.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 67px;
	font-size: 41px;
}

div.fdkRightSmall{
	left: 553px;
	text-align: right;
	background-image: url(../images/boton_der_peq.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 71px;
	font-size: 41px;
}		

div.fdkRight{
	left: 553px;
	text-align: right;
	background-image: url(../images/boton_der.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 71px;
}		

/* Override fdkLeftSmall position */
div.fdkLargeText{
	width: 500px;
}

div#fdkI, div#fdkA{
	top: 281px;
}

div#fdkH, div#fdkB{
	top: 418px;
}

div#fdkG, #fdkC{
	top: 557px;
}

div#fdkF, div#fdkD{
	top: 691px;
}

/* End - Styles for the FDKs */

div#topCenterMessage, div#extracashMessage{
	position: absolute;
	top: 110px;
	text-align:center;
	font-size: 40px;
}

div#topCenterMessage{
	left: 100px;
	width: 824px;
}


div#asterisko{
        position: absolute;
	top: 550px;
	text-align:left;
	font-size: 15px;
	font-family: "DaxBoldBoldItalic";
	left: 4px;
}

div#extracashMessage{
	font-size: 45px;
	font-family: "DaxBoldBoldItalic";
	width: 1030px;
	left: 10px;
}

.redColor{
	color: #BE0F08;
}


div#extracashInfoHeader{
	position: absolute;
	top: 90px;
	text-align:center;
	font-size: 52px;
	font-family: "DaxBoldBoldItalic";
	width: 1030px;
	left: 5px;
}

div#extracashInfoDireccion{
	position: absolute;
	text-align:center;
	font-size: 36px;
	font-family: "DaxBoldItalic";
	width: 910px;
	left: 55px;
}

div#extracashInfoCenter{
	position: absolute;
	top: 300px;
	text-align:center;
	font-size: 36px;
	font-family: "DaxBoldBoldItalic";
	width: 910px;
	left: 55px;
}

div#extracashSubTitulo{
	position: absolute;
	top: 170px;
	text-align:center;
	font-size: 30px;
	font-family: "DaxBoldBoldItalic";
	width: 910px;
	left: 55px;
}

div#extracashInfoCenterV{
	position: absolute;
	top: 250px;
	text-align:center;
	font-size: 36px;
	font-family: "DaxBoldBoldItalic";
	width: 910px;
	left: 55px;
}

div#extracashInfoBody{
	position: absolute;
	top: 170px;
	text-align:justify;
	font-size: 26px;
	font-family: "DaxBoldRegular";
	width: 910px;
	left: 55px;
}

div.extracashConfirmation{
	position: absolute;
	left: 30px;
	top: 250px;
	font-size: 52px;
	font-family: "DaxBoldRegular";
	width: 950px;
}

/* ExtraCash Confirmacion de Deposito */
div#extracashMontoDepositadoLeft{
        position: absolute;
        top: 220px;
	left: 80px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}

div#extracashMontoDepositadoRight{
        position: absolute;
        top: 220px;
	left: 650px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}


div#extracashNumeroCuotasLeft{
        position: absolute;
        top: 280px;
	left: 80px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}

div#extracashNumeroCuotasRight{
        position: absolute;
        top: 280px;
	left: 650px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}


div#extracashMontoCuotaLeft{
        position: absolute;
        top: 340px;
	left: 80px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}

div#extracashMontoCuotaRight{
        position: absolute;
        top: 340px;
	left: 650px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}


div#extracashFecha1eraCuotaLeft{
        position: absolute;
        top: 400px;
	left: 80px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}

div#extracashFecha1eraCuotaRight{
        position: absolute;
        top: 400px;
	left: 650px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}


div#extracashTEALeft{
        position: absolute;
        top: 460px;
	left: 80px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}

div#extracashTEARight{
        position: absolute;
        top: 460px;
	left: 650px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}


div#extracashCtaDestinoLeft{
        position: absolute;
        top: 520px;
	left: 80px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}


div#extracashCtaDestinoRight{
        position: absolute;
        top: 520px;
	left: 650px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}

div#extracashTipoCambioLeft{
        position: absolute;
        top: 520px;
	left: 80px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}


div#extracashTipoCambioRight{
        position: absolute;
        top: 520px;
	left: 650px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldRegular";
}

div#extracashMensajeFinal{
        position: absolute;
        top: 620px;
	left: 70px;	
	text-align:left;
	font-size: 40px;
	font-family: "DaxBoldBoldItalic";
}

/* Fin */

div#VentaATMInfoHeader{
	position: absolute;
	top: 90px;
	text-align:center;
	font-size: 32px;
	font-family: "DaxBoldBoldItalic";
	width: 1030px;
	left: 5px;
}

div#VentaATMInfoBody{
	position: center;
	top: 170px;
	text-align:justify;
	font-size: 20px;
	font-family: "DaxBoldRegular";
	width: 850px;
	left: 55px;
}

div#ExtraCashInfoBody{
	position: absolute;
	top: 200px;
	text-align:justify;
	font-size: 20px;
	font-family: "DaxBoldRegular";
	width: 820px;
	left: 90px;
}

div#VentaATMInfotBody{
	position: absolute;
	top: 150px;
	text-align:justify;
	font-size: 12px;
	font-family: "DaxBoldRegular";
	width: 800px;
	left: 50px;
}

div#VentaATMInfoPBody{
	position: absolute;
	top: 150px;
	text-align: left;
	font-size: 16px;
	font-family: "DaxBoldRegular";
	width: 850px;
	left: 100px;
}


div#CenterInfoBody{
	position: absolute;
	top: 180px;
	text-align:center;
	font-size: 28px;
	font-family: "DaxBoldRegular";
	width: 850px;
	left: 50px;
}

div#CenterInfoBodyMayor{
	position: absolute;
	top: 120px;
	text-align:center;
	font-size: 38px;
	font-family: "DaxBoldBoldItalic";
	width: 880px;
	left: 50px;
}

div#CenterInfoBodyRechazo{
	position: absolute;
	top: 150px;
	text-align:center;
	font-size: 38px;
	font-family: "DaxBoldBoldItalic";
	width: 880px;
	left: 50px;
}
    
div#CenterInfoBodyOk{
	position: absolute;
	top: 350px;
	text-align:center;
	font-size: 50px;
	font-family: "DaxBoldBoldItalic"; 
	width: 850px;
	left: 55px;
}

div.centraTabla{
text-align: center;
}

div.centraTabla table {
margin: 0 auto;
text-align: left;
}


table#t2 { position: absolute;
        border: 1px solid #000;
	top: 160px;
        align: center;	
	font-size: 15px;
	font-family: "DaxBoldRegular"; 
        margin: 65px ;     
        width: 880px; 
        border-collapse: separate;
        border-spacing: 0px;
      }

table#t1 { position: absolute;
        border: 1px solid #000;
	top: 180px;	
	font-size: 20px;
	font-family: "DaxBoldRegular"; 
        margin: 70px;     
        width: 880px; 
        border-collapse: separate;
        border-spacing: 0px;
      }

td#c1 {   text-align:center;
       border-color: blue;
       border: 1px solid #000;
       border-spacing: 0;
       
       }

td {   text-align:left;
       border-color: blue;
       border: 1px solid #000;
       border-spacing: 0;
       
       }

