* {
	margin: 0;
	border-width: 0;
}

@font-face	{font-family: "DaxBoldRegular"; src: url("fonts/dax-bold-webfont.eot");}
@font-face	{font-family: "DaxBoldBoldItalic"; src: url("fonts/daxot-bolditalic-webfont.eot");}

body {
	font-size: 52px;
	font-family: "DaxBoldRegular";
	color: #000082;
	background-repeat: no-repeat;
}

div#content{
	height: 768px;
	width: 1024px;
}

/* Start - Styles for the FDKs */

div.fdk{
	position: absolute;
	width: 400px;
	height: 49px;
	padding-top:15px;
}

div.fdkLeftSmall{
	left: 0px;
	text-align: left;
	background-image: url(images/boton_izq_peq.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 67px;
	font-size: 41px;
}

div.fdkRightSmall{
	left: 553px;
	text-align: right;
	background-image: url(images/boton_der_peq.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 71px;
	font-size: 41px;
}		

div.fdkRight{
	left: 553px;
	text-align: right;
	background-image: url(images/boton_der.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 71px;
}		

/* Override fdkLeftSmall position */
div.fdkLargeText{
	width: 500px;
}

div#fdkI, div#fdkA{
	top: 281px;
}

div#fdkH, div#fdkB{
	top: 418px;
}

div#fdkG, #fdkC{
	top: 557px;
}

div#fdkF, div#fdkD{
	top: 691px;
}

/* End - Styles for the FDKs */

div#extracashMessage{
	position: absolute;
	top: 120px;
	text-align:center;
	font-size: 44px;
}

div#wrapper{
	position: absolute;
	top: 120px;
	left: 100px;
	width: 824px;
}

div#topCenterMessage{
	text-align:center;
	font-size: 44px;
}

div#bottomLeftMessage{
	text-align:left;
	font-size: 44px;
}

div#extracashMessage{
	font-size: 40px;
	font-family: "DaxBoldBoldItalic";
	width: 1030px;
	left: 5px;
}

.redColor{
	color: #BE0F08;
}

.extracashMensaje1{
	font-size: 50px;
}

.extracashMensaje2{
	font-size: 30px;
}

div#extracashInfoHeader{
	position: absolute;
	top: 90px;
	text-align:center;
	font-size: 52px;
	font-family: "DaxBoldBoldItalic";
	width: 1030px;
	left: 5px;
}

div#extracashInfoBody{
	position: absolute;
	top: 170px;
	text-align:justify;
	font-size: 26px;
	font-family: "DaxBoldRegular";
	width: 910px;
	left: 55px;
}

div.extracashConfirmation{
	position: absolute;
	left: 30px;
	top: 250px;
	font-size: 52px;
	font-family: "DaxBoldRegular";
	width: 950px;
}
div.extracashConfirmationTarjetaLeft{
	text-align:left;
}
div.extracashConfirmationTarjetaRight{
	text-align:right;
}
div.extracashConfirmationCuentaLeft{
	top: 310px;
	text-align:left;
}
div.extracashConfirmationCuentaRight{
	top: 310px;
	text-align:right;
}
div.extracashConfirmationMontoDepositadoLeft{
	top: 370px;
	text-align:left;
}
div.extracashConfirmationMontoDepositadoRight{
	top: 370px;
	text-align:right;
}
div.extracashConfirmationNumeroCuotasLeft{
	top: 430px;
	text-align:left;
}
div.extracashConfirmationNumeroCuotasRight{
	top: 430px;
	text-align:right;
}
div.extracashConfirmationTCEALeft{
	top: 490px;
	text-align:left;
}
div.extracashConfirmationTCEARight{
	top: 490px;
	text-align:right;
}
div.extracashConfirmationMontoCuotaLeft{
	top: 550px;
	text-align:left;
}
div.extracashConfirmationMontoCuotaRight{
	top: 550px;
	text-align:right;
}
div.extracashConfirmationTipoCambioLeft{
	top: 610px;
	text-align:left;
}
div.extracashConfirmationTipoCambioRight{
	top: 610px;
	text-align:right;
}