/*
	E S T I L O S    G E N E R A L E S
*/
body	{
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		background-color: #FFC223;
		font-family: "myFont";
		}

body1	{
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		background-color: #FFC223;
		font-family: "myFont1";
		}
