/* normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

button,
input,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 2 */
    margin: 0;
    /* 3 */
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

    button[disabled],
    html input[disabled] {
        cursor: default;
    }

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
h7 p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu,
details {
    margin: auto;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu {
    display: block;
}

html,
body {
    height: 100%;
}

body {
    font-family: Verdana;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    margin: 0 0 10px;
    font-size: 38px;
    line-height: 1;
    font-weight: bold;
}

h3 {
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1;
}

h4 {
    padding: 0;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1;
}

h5 {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
}

h6 {
    font-size: 16px;
    font-size: 18px;
    line-height: 1;
}

a img {
    border: none;
}

p {
    margin: 0 0 0;
}

li {
    list-style: none;
}

em,
cite {
    font-style: normal;
}

strong {
    font-weight: bold;
}

label {
    cursor: pointer;
}

textarea {
    font-family: Arial, sans-serif;
    resize: none;
}

input[type="submit"] {
    cursor: pointer;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
}

table,
th,
td {
    vertical-align: middle;
}

br {
    line-height: 1;
}

@font-face {
    font-family: 'Omnes-Light';
    src: url("../fonts/omnes-light.eot");
    src: url("../fonts/omnes-light.eot?#iefix") format('embedded-opentype'), url("../fonts/omnes-light.woff2") format('woff2'), url("../fonts/omnes-light.woff") format('woff'), url("../fonts/omnes-light.ttf") format('truetype'), url("../fonts/omnes-light.svg#Omnes-Light") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes-Regular';
    src: url("../fonts/omnes-regular.eot");
    src: url("../fonts/omnes-regular.eot?#iefix") format('embedded-opentype'), url("../fonts/omnes-regular.woff2") format('woff2'), url("../fonts/omnes-regular.woff") format('woff'), url("../fonts/omnes-regular.ttf") format('truetype'), url("../fonts/omnes-regular.svg#Omnes-Regular") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes-Medium';
    src: url("../fonts/omnes-medium.eot");
    src: url("../fonts/omnes-medium.eot?#iefix") format('embedded-opentype'), url("../fonts/omnes-medium.woff2") format('woff2'), url("../fonts/omnes-medium.woff") format('woff'), url("../fonts/omnes-medium.ttf") format('truetype'), url("../fonts/omnes-medium.svg#Omnes-Medium") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnessemibold';
    src: url("../fonts/omnes-semibold-webfont.eot");
    src: url("../fonts/omnes-semibold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/omnes-semibold-webfont.woff2") format('woff2'), url("../fonts/omnes-semibold-webfont.woff") format('woff'), url("../fonts/omnes-semibold-webfont.ttf") format('truetype'), url("../fonts/omnes-semibold-webfont.svg#omnessemibold") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnesbold';
    src: url("../fonts/omnesbold-webfont.eot");
    src: url("../fonts/omnesbold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/omnesbold-webfont.woff") format('woff'), url("../fonts/omnesbold-webfont.ttf") format('truetype'), url("../fonts/omnesbold-webfont.svg#omnesregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot?c7l5mf");
    src: url("../fonts/icomoon.eot?#iefixc7l5mf") format('embedded-opentype'), url("../fonts/icomoon.ttf?c7l5mf") format('truetype'), url("../fonts/icomoon.woff?c7l5mf") format('woff'), url("../fonts/icomoon.svg?c7l5mf#icomoon") format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-atencion-01:before {
    content: "\e600";
}

.icon-contctanos-01:before {
    content: "\e601";
}

.icon-elaboracion:before {
    content: "\e604";
}

.icon-gestion-01:before {
    content: "\e60a";
}

.icon-hacemos-01:before {
    content: "\e60b";
}

.icon-LUPA-01:before {
    content: "\e60c";
}

.icon-mail-01:before {
    content: "\e60d";
}

.icon-objetivo-01:before {
    content: "\e60f";
}

.icon-PHONE:before {
    content: "\e610";
}

.icon-ubicacin:before {
    content: "\e611";
}

.icon-ubicacion-01:before {
    content: "\e612";
}

.icon-valores-01:before {
    content: "\e613";
}

.icon-staff:before {
    content: "\e60e";
}

.icon-arrow-right:before {
    content: "\e606";
}

.icon-arrow-left:before {
    content: "\e607";
}

.icon-arrow-down:before {
    content: "\e608";
}

.icon-arrow-up:before {
    content: "\e609";
}

.icon-close:before {
    content: "\e605";
}

.icon-social-facebook:before {
    content: "\e603";
}

.icon-menu:before {
    content: "\e602";
}

.wancho {
    max-width: 1024px;
    margin: auto;
}

.wrapper {
    max-width: 1024px;
    margin: auto;
    height: 768px;
    overflow: hidden;
    position: relative;
}

body {
    font-size: 15px;
    font-family: 'Omnes-Regular', sans-serif;
    color: #4e4f53;
}

a {
    color: inherit;
}

    a:focus {
        outline: none;
    }

.link:hover {
    text-decoration: underline;
    color: #6bc5dd;
}

.relative {
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

.envolve {
    overflow: hidden;
}

.child-ib > * {
    display: inline-block;
    vertical-align: top;
}

.no-style {
    line-height: 1.4;
}

.clearfix:after {
    content: "";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
    font-size: 0;
}

.g-text p {
    margin-bottom: 0;
    margin-top: s-5;
    line-height: 1.2;
}

    .g-text p:first-child {
        margin-top: 0;
    }

.wrapp-iframe-general {
    width: 100%;
    overflow: hidden;
}

.btn-copy {
    background-color: #f00;
    display: inline-block;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
}

    .btn-copy.hover {
        background-color: #808080;
    }

.general-wrapper {
    padding: 10px;
    border: 1px dashed #808080;
    width: 98%;
    margin: auto;
    margin-top: 30px;
}

.block-general {
    padding: 5px;
}
/* clearfix */
.cf {
    zoom: 1;
}

    .cf:after,
    .cf:before {
        content: "";
        display: table;
    }

    .cf:after {
        clear: both;
    }
/* end clearfix */
.no-display {
    display: none;
}

.-cnt-celular-afiliado {
    display: inline-block;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 1px solid #beece9;*/
    border: 1px solid #00b2a9;
}

    .-cnt-celular-afiliado .-caja-uno {
        color: #00b2a9;
        /*font-family: 'Omnes-Light';*/
        font-family: 'Omnes-Medium';
        /*font-size: 30px;*/
        font-size: 32px;
        border-bottom: 0;
        padding: 45px;
    }

.alineacion span {
    display: inline-block;
    vertical-align: middle;
}
.t-big {
   
    font-size: 29px;
    color: #4e4f53; 
    font-family: 'Omnes-Medium';
    font-weight:bold;
}

 span.error {
    width: 322px;
    height: 52px;
    padding:2px;
    display: block;   
    border: 2px solid #dc0451;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url("../static/css/PIE.htc");
}

.input-error p {
    margin: 0;
    color: #dc0451;
}

.btn .bt-inner {
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    background-color: #009b3a;
    border-bottom: 4px solid #00712b;
    behavior: url("../static/css/PIE.htc");
    line-height: 22px;
    -webkit-border-radius: 10px 0px 10px 0;
    border-radius: 10px 0px 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    width: 269px;
}