// Fuentes
omnes-lig = 'Omnes-Regular'
omnes-med = 'Omnes-Medium'
omnes-thin = 'Omnes-Thin'
omnes-reg = 'Omnes-Regular'
// Fuentes
//colores
blanco = #fff 
negro = #000
celeste-texto = #00add0
gris-texto-n = #808080
gris-borde-n = #e4e4e4
gris-texto = #acacac
gris-bg = #f4f4f4
rojo-tex = #dc0451
azul-tex = #0039a6
//colores

.p-botones
  font-family omnes-med  
  padding 0px 20px
  cf()
  .p-item1, .p-item2
    float left
    width 360px
  .p-item2
    float right

// .bt-left, .bt-right
//   display block

// Touch Fix
.touch
  .c-texto1
		font-size 27px
    &.c-text-info
      font-size 14px    
  .page-title .page-title-seccion
    margin-left 48px
  .page-title
    margin-top 40px