// Fuentes
omnes-lig = 'Omnes-Regular'
omnes-med = 'Omnes-Medium'
omnes-thin = 'Omnes-Thin'
omnes-reg = 'Omnes-Regular'

// Fuentes
//colores
blanco = #fff 
negro = #000
celeste-texto = #00b2a9
gris-texto-n = #808080
gris-borde-n = #e4e4e4
gris-texto = #acacac
gris-bg = #f4f4f4
gris-text1 = #8f8f8f
gris-text2 = #4d4d4d
gris-input1 = #e0e0e0
gris-borde1 = #e4e4e4
gris-borde2 = #bbbbbb
gris-pass = #313131

rojo-tex = #dc0451
azul-tex = #0039a6
verde = #009b3a
//colores

//centrado vertical 
.d-table
  display table 
  min-height 100%
  height 100%
  width 100%
  
  .d-cell
    display table-cell
    vertical-align middle
    
    
  
//centrado vertical 

/* clearfix */  
cf()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both
/* end clearfix */ 
inlineblock()
  display inline-block
  *display inline
  zoom 1
.abs
  position absolute
.l15 
  left 15px 
.t0
  top 0
.b0
  bottom 0
.b45
  bottom 45px
.pr 
  position relative
.grid
  display none
  box-sizing border-box
  border 1px solid red
  position absolute
  top 0
  left 0
  width 100%
  height 768px
  background url(/static/images/skin.png) center center no-repeat
  opacity 0.2
  z-index -1

// el bootstrap - clases generales de ajuste - 

.ib 
  inlineblock()
  
.vm
  vertical-align middle

.vt
  vertical-align top


.clearfix
  cf()
//anchos
.w160
  min-width 160px 
    
.w90
  width 90px
        
.w100
  width 100px

.w120
  width 120px  

.w140
  width 140px   
   
.w180
  width 180px   
  
.w315 
  width 315px

.w380
  width 380px
  
.h35      
  min-height 35px

.h130      
  min-height 130px   

.h100      
  min-height 100px     
  
.h80      
  height 70px    
  
.s600
  max-width 600px 
.s725
  max-width 725px 
  
.s560
  max-width 560px   

.s285
  max-width 285px 
.s200
  max-width 200px 
    
 
// Positions
.b0
  bottom 0

// Margin left

.ml0
  margin-left 0
.ml10
  margin-left 10px
.ml15
  margin-left 15px  
.ml20
  margin-left 20px  
.ml30
  margin-left 30px  
.ml40
  margin-left 40px  
.ml50
  margin-left 50px  
.ml60
  margin-left 60px 
.ml70
  margin-left 70px 
.ml150
  margin-left 150px   
.ml100
  margin-left 100px   
.ml190
  margin-left 190px     
//Margin right
.mr0
  margin-right 0 !important	
.mr10
  margin-right 10px
  
.mr5
  margin-right 5px
    
.mr20
  margin-right 20px

// Margin Top
.mt10
  margin-top 10px
.mt15
  margin-top 15px  
.mt20 
  margin-top 20px
.mt30
  margin-top 30px
.mt35 
  margin-top 35px
.mt40 
  margin-top 40px
.mt45 
  margin-top 45px
.mt50
  margin-top 50px
  
.mt55
  margin-top 55px
      
.mt60
  margin-top 60px 
  
.mt65
  margin-top 60px   
  
.mt70
  margin-top 70px  
.mt75
  margin-top 75px  
.mt80
  margin-top 80px     
.mt90
  margin-top 90px 
.mt100
  margin-top 100px 
.mt120
  margin-top 120px
.mt140  
  margin-top 140px
.mt150  
  margin-top 150px  
.mt160  
  margin-top 160px  
.mt170  
  margin-top 170px  
.mt180  
  margin-top 180px  
.mt200  
  margin-top 200px   
.mt210  
  margin-top 210px   
.mt220  
  margin-top 230px   
.mt230  
  margin-top 240px   
.mt250  
  margin-top 250px   
.mt260  
  margin-top 260px   
.mt270  
  margin-top 270px 
.mt280  
  margin-top 280px 
.mt290  
  margin-top 290px 
.mt300  
  margin-top 300px 
.mt310  
  margin-top 310px 
.mt320  
  margin-top 320px   


// Margin Botton
.mb5
  margin-bottom 5px
.mb10
  margin-bottom 10px
.mb15
  margin-bottom 15px
.mb20
  margin-bottom 20px
.mb25
  margin-bottom 20px  
.mb30
  margin-bottom 30px 
.mb35
  margin-bottom 35px    
.mb40
  margin-bottom 40px   
.mb45
  margin-bottom 45px   
.mb50
  margin-bottom 50px 
.mb60
  margin-bottom 60px 
.mb70
  margin-bottom 70px 
.mb75
  margin-bottom 75px
.mb80
  margin-bottom 80px
.mb90
  margin-bottom 90px 
.mb100
  margin-bottom 100px    
.mb110
  margin-bottom 110px      
.mb120
  margin-bottom 120px      
.mb130
  margin-bottom 130px      
.mb140
  margin-bottom 140px  
.mb150
  margin-bottom 150px        
.mb160
  margin-bottom 160px    
.mb170
  margin-bottom 170px   
.mb180
  margin-bottom 180px    
.mb185
  margin-bottom 185px     
.mb190
  margin-bottom 190px    
.mb200
  margin-bottom 200px      
.mb210
  margin-bottom 210px  
.mb220
  margin-bottom 220px  
.mb230
  margin-bottom 230px  
.mb240
  margin-bottom 240px  
.mb250
  margin-bottom 250px
.mb260
  margin-bottom 260px
.mb270
  margin-bottom 270px
.mb280
  margin-bottom 280px
.mb290
  margin-bottom 290px
.mb300
  margin-bottom 300px
.mb310
  margin-bottom 310px
.mb315
  margin-bottom 315px
.mb320
  margin-bottom 320px
  
  

.c100
  width 100%
  
.c90
    width 90%
.c95
    width 95% 
.c80
    width 80%
.c70
    width 70%
.c60
    width 60%
.c65
    width 65%    
.c55
    width 55% 
.c50
    width 50% 
.c45
    width 45%     
.c40
    width 40%
.c35
    width 35%
.c30
    width 30%
.c25
    width 25%
.c20
    width 20%
.c10 
    width 10%
    

//Floats
.fl
    float left  
.fr
    float right
//align
.ar
    text-align right
.al
    text-align left   

//margin 
.ma 
  margin-left auto
  margin-right auto
  

.pt0     
  padding-top 0 !important
.pt20
  padding-top 20px
.pl70
  padding-left 70px
.pl50
  padding-left 50px
.pl45
  padding-left 45px
.pr45
  padding-right 45px    
.pt50
  padding-top 50px  

.pt60
  padding-top 60px  
    
.pt70
  padding-top 70px  
.pt75
  padding-top 75px  


.pr10
  padding-right 10px
  
.pb20
  padding-bottom 20px
.pb40
  padding-bottom 40px
.pb30
  padding-bottom 30px
  
.pb55
  padding-bottom 50px
  
.pb50
  padding-bottom 50px
.pb60
  padding-bottom 60px
.pb80
  padding-bottom 80px
.pb100
  padding-bottom 100px    
.p0 
  padding 0
// .br-celeste
//   border 1px solid #00b2a9
// height
.h380
  min-height 380px
// el bootstrap - clases generales de ajuste - 

body
  font-family 'Omnes-Regular', Arial
  
h1, ul, p
  margin 0
  padding 0
  
li
  list-style-type none

.wrapper
  box-sizing border-box
  height 768px
  width 1024px
  margin auto
  position relative
  border 1px solid red


.alineacion span
  display inline-block
  vertical-align middle
  
#contenedor
  /*background-color #0f0*/
  height 768px
  margin 0 auto
  position relative
  width 1024px
  
#header
  background-color #f9f9f9
  border-bottom 3px solid #009b3a
  color #808080
  font-family omnes-lig, Arial
  height 70px
  padding 0 20px
  font-size 22px
  
  #logo
    background url('../images/logo.png') 0 50% no-repeat
    float left
    height 68px
    width 251px
    
  ul
    float right
    margin-top 18px
    overflow hidden
    
  li
    float left
    margin-left 45px
    
  li:first-child
    margin-left 0
    
  span:first-child
    margin-right 10px
  
  #ico-telefono,
  #ico-cajero
    height 31px
    
  #ico-telefono
    background url('../images/ico-telefono.png') no-repeat
    width 27px
    
  #ico-cajero
    background url('../images/ico-cajero.png') no-repeat
    width 17px
    
h1
  color #00add0
  font-family omnes-lig, Arial
  font-size 147px
  font-weight normal
  text-align center

.especificacion, .linea
  position absolute
  
.especificacion
  padding-left 120px
  top 105px
  z-index 2
  
  p
    color #8f8f8f
    font-size 27px
    margin-top 57px
    padding-right 0
    
  p:first-child
    background-color #fff
    color #00add0
    font-family 'omneslight', Arial
    font-size 50px
    left 120px
    margin-top 0
    padding-right 20px
    position absolute
    top 0

.linea
  padding-left 120px
  padding-right 30px
  top 140px
  z-index 1
  width 874px
  
  span
    border-right 1px solid #e4e4e4
    border-top 1px solid #e4e4e4
    display block
    height 45px
    width 100%
  
.mensaje
  background-color #f9f9f9
  color #656565
  font-size 24px
  padding 20px 0
  position absolute
  text-align center
  top 240px
  width 100%
  
  span
    color #0039a6
  
.fondo-verde
  background-color verde
  border-bottom 4px solid #00712b
  
.fondo-azul
  background-color #0039a6
  border-bottom 4px solid #002874

.fondo-celeste
  background-color #00add0
  border-bottom 4px solid #0085a0
  
.fondo-blanco
  background-color #fff
  border-top 5px solid #009b3a
  border-right 5px solid #009b3a  
  border-bottom 11px solid #009b3a 
  box-sizing border-box
  height 95px !important
  .bt-text
    color #009b3a
    height 75px !important
    padding-left 33px !important


  
#botones-izquierda,
#botones-derecha
  position absolute
  top 260px
  
  > div
    position absolute
    width 360px
    
  .informacion
    behavior url(static/css/PIE.htc)
    color #fff
    height 83px
    width 329px
  
#botones-izquierda
  left 20px

  > div
    left 0
    
  .btn, .informacion
    float left
    
  .informacion
    border-radius 0 15px 0 0
    -moz-border-radius 0 15px 0 0
    -webkit-border-radius 0 15px 0 0
    float left


  
#botones-derecha
  right 20px
  
  > div
    right 0
  
  .btn, .informacion
    float right
    
  .informacion
    border-radius 15px 0 0 0
    -moz-border-radius 15px 0 0 0
    -webkit-border-radius 15px 0 0 0
    float right
    

.directo

  .informacion
    font-family 'omnesmedium', Arial
    font-size 25px
    line-height 87px
    text-align center

.opcion-1
  top 0
  
.opcion-2
  top 132px
  
.opcion-3
  top 264px
  
.opcion-4
  top 396px
  
.btn
  height 95px
  width 31px
  
  
.btn-izq-blanco
  background url('../images/btn-izq-blanco.png') no-repeat
  
.btn-izq-verde
  background url('../images/btn-izq-verde.png') no-repeat
.btn-der-verde
  background url('../images/btn-der-verde.png') no-repeat
  
.btn-der-gris
  background url('../images/btn-der-gris.png') no-repeat
    
.btn-izq-azul
  background url('../images/btn-izq-azul.png') no-repeat
  
.btn-izq-celeste
  background url('../images/btn-izq-celeste.png') no-repeat

/** correccioones botones plantilla **/  
.btn-action
  font-family omnes-med , Arial
  font-size 30px
  line-height 87px
  text-align center
  behavior url(static/css/PIE.htc)
  color #fff
  height 91px
  width 329px
  position relative
.ico
  background url('../images/icon-x.png') center center no-repeat
  width 36px
  height 36px
  display inline-block
  vertical-align middle
  &.ico-alcancia
    background-image url('../images/icon-alcancia.png')
  &.ico-candado
    background-image url('../images/icon-candado.png')
  &.ico-retiro
    background-image url('../images/icon-retiro-blanco.png')
       
  .ico-x
     background url('../images/icon-x.png') center center no-repeat
     width 36px
     height 36px
     position absolute
     top 20px
     left -4px
    
  .bt-text
    inlineblock()
    line-height 100%
    height 87px
    display table-cell
    vertical-align middle
    padding-left 50px
    text-align left
  
.bt-left
  cf()
  inlineblock()  
  .btn 
    float left
  .btn-action
    border-radius 0 15px 0 0
    float left
    
    
.bt-right
  cf()
  inlineblock()  
  .btn 
    float right
  .btn-action
    border-radius 15px 0 0 0
    float right
    .ico 
      left 20px
    .bt-text
      padding-left 70px
 .bt-small   
   .btn-action
      width 155px
.block-button.fr
  text-align right
.block-button.fl
  text-align left
  .bt-right
    margin-right 20px
    

//======= BOTON ==================>

//boton sin triangulo      

.bt
  display table
  font-family omnes-med
  font-size 22px
  behavior url(static/css/PIE.htc)
  color #fff
  width 269px    
  position relative   
  box-sizing border-box
  cursor pointer
  padding 0px 
  
  
  &:before
    position absolute
    top 0
    width 32px
    height 95px
    content ""
    z-index 1
    
  
    
  //modificación tamaño
  &.b-l 
    width 269px
    .bt-inner
      height 152px
      
  &.btn-large
    width 257px
    .bt-inner
      height 66px
      width 100%  
      border-radius: 10px 0px 10px 0;
            
  &.btn-largexl
    width 310px
    .bt-inner
      height 70px
      border-radius: 10px 0px 10px 0;
      
  &.btn-largemxl
    width 250px
    .bt-inner
      height 105px
      border-radius: 10px 0px 10px 0;
      
  &.b-large 
    width 315px
    padding 0
  &.b-ss 
    width 156px
    padding 0
    .bt-inner
      height 83px
  &.b-sl 
    width 324px
    padding 0
    .bt-inner
      height 83px      

  &.b-h 
    .bt-inner
      height 75px     
       
    
      
 
  //modificación tamaño
    

  //modificacion para botones del header    
  &.bt-punteado
    width 153px
    padding 0    
    color #cfcdcd
    cursor default
    .bt-inner
      height 83px
      background #fff
      border 1px dashed #009b3a
      
    
  &.bt-h
    width 134px
    font-size 18px
    padding-top 10px
    padding-left 0
    padding-right 0
    .borde-before, .borde-after
      display none
    .bt-inner
      height 102px
      background-color: #878787
      border-bottom 4px solid #696969
      line-height 18px
      padding-left 10px
      padding-right 10px
    .drop-shadow
      display none
    &.active
      .bt-inner
        background-color #009b3a
        border-radius 0
        position relative
        border none
        img
          margin-bottom 10px
        &:before
          content ""
          width 148px
          height 10px
          box-sizing border-box
          position absolute
          top -10px
          left -7px
          background-color #009b3a
        &:after
          display none
          
      .drop-shadow
        display block
        width 132px
        height 10px
        box-sizing border-box
        background-color: #009b3a
        position absolute
        bottom -10px
        left 0 
        border-radius 0 0px 10px 0
        border-bottom 4px solid #00712b
        behavior url(static/css/PIE.htc)
    .borde-before, .borde-after
      display block
      position absolute
      top 0px
      width 10px
      height 122px
      background-color #fff
      behavior url(static/css/PIE.htc)
      z-index 100      
      
    .borde-before
      left -9px
      border-radius 0 10px 0 0
      
    .borde-after
      right -8px
      border-radius 10px 0 0 0

  //modificacion para botones del header
    
  //modificacion para botones del footer
  &.bt-f, &.bt-fl
    width 160px
    font-size 18px
    padding 0px
    &:before
      display none
    .bt-inner
      padding 0 10px
      height 70px
      background-color #00b2a9
      border none
      line-height 18px
      position relative
      border-radius 0
      
      &:before
        content ""
        position absolute
        top -10px
        left 0
        width 100%
        height 10px
        background-color #00b2a9
        border-radius 10px 0 0 0
        
  &.bt-fl     
    width 150px
    .bt-inner
      border-radius 10px 0 0 0
      padding-left 15px
      height 70px
      
      img
        margin-right 7px
        display none
      &:before
        display none
        
      &:after
        content ""
        height 4px
        background-color #02928b
        position absolute
        bottom 0
        width 100%
        left 0
    
        
  &.bt-auto   
    width auto   
        
          
    
  //modificacion para botones del footer
    
  &.b-celeste, &.b-celeste.active
    .bt-inner 
      background-color #00add0
      border-bottom 4px solid #0085a0 
    &.b-left:before
      background url('../images/btn-izq-celeste.png') no-repeat
  
  &.b-celeste.active 
    &.active
      .bt-inner
        border-radius 0
        position relative
        border none
        img
          margin-bottom 10px
        &:before
          content ""
          width 148px
          height 10px
          box-sizing border-box
          position absolute
          top -10px
          left -7px
          background-color #00add0 //parte superior
        &:after
          display none
          
      .drop-shadow
        width 133px
        background-color: #00add0
        border-bottom 4px solid #0087a2 //dropshadow
        
    
  &.b-gris 
    cursor default
    .bt-inner 
      background-color #e4e4e4
      border-bottom 4px solid #e4e4e4 
    &.b-left:before
      background url('../images/btn-izq-gris.png') no-repeat
    &.b-left:before
      background url('../images/btn-izq-gris.png') no-repeat
      
  &.b-azul
    .bt-inner 
      background-color #2c54a1
      border-bottom 4px solid #123270
      
  &.b-gris
    .bt-inner 
      background-color #e4e4e4
      border-bottom 4px solid #cccccc
    &.b-right:before
      background url('../images/btn-der-gris.png') no-repeat        
           
  &.b-blanco, &.b-blanco-sx 
    .bt-inner 
      background-color #fff
      border-top 4px solid #009b3a
      border-right 4px solid #009b3a  
      border-bottom 4px solid #009b3a
      color #009b3a
      position relative
      .arrow-inner
        position absolute
        top 23px
        left 8px
        width 15px
        height 20px
        
    &.b-l
      width 210px
      .bt-inner
        border-left 5px solid #009b3a
        border-bottom 11px solid #009b3a       
        border-radius 10px 0 20px 0
        
        &:before
          border-bottom 4px solid #00712b
          height 30px
          left -5px
          bottom -10px
          border-radius 0 0 20px 0
          padding-right 8px
    &.b-left:before
      background url('../images/btn-izq-blanco.png') no-repeat        

  
  &.b-blanco-sx.bt.b-left
    .bt-inner
      height 75px
      // border-bottom: 10px solid #009b3a;
      
  &.b-blanco-sx.bt.b-left:before
      background url('../images/btn-izq-blanco-sx.png') no-repeat              
      width 30px
      height 75px      
          
  &.b-blanco-sx.b-left  
    .bt-inner
      width 50px
    
  .bt-inner
    height 75px
    display table-cell
    vertical-align middle
    background-color #009b3a
    border-bottom 4px solid #00712b
    behavior url(static/css/PIE.htc)
    line-height 22px
    border-radius 10px 0px 10px 0
    box-sizing border-box
    padding-left 10px
    padding-right 10px
    .ico
      position relative
      &:before
        content ""
        position absolute
        right -15px
        top 0
        border-left 1px solid blanco
        height 100%
        z-index 2
        padding 10px 0
        margin-top -10px
        opacity .3
    .bt-text 
      position relative  
      margin-left 15px 
      width 220px
      text-align center   
      
.bt.b-left, .bt.b-right   
  width 360px
  font-family omnes-reg
  font-size 30px
  .bt-inner
    height 95px
    width 328px
  //modificación Font Size
  &.b-monto
    font-size 32px
  &.b-xs  
    width 233px      
  .b-img
    position absolute
    background #ccebd8
    border-radius 0 12px 0 0
    behavior url(static/css/PIE.htc)
    width 100px
    height 91px
    right 0px
    top 0
    text-align center
    img
      margin-top 25px   
   
      
.bt.b-left
  padding-left 30px
  .bt-inner
    border-radius 0 15px 0 0  
    padding-right 15px
   
  
.bt.b-left:before 
  left 0px
  background url('../images/btn-izq-verde.png') no-repeat

.bt.b-right
  padding-right 31px
  .bt-inner
    border-radius 15px 0 0 0
    padding-left 30px
  .b-img
    border-radius 13px 0 0 0
    left 1px
    top 0
    right auto

.bt.b-right:before 
  right 0
  background url('../images/btn-der-verde.png') no-repeat
  
.bt.bt-auto   
  width auto  
  .bt-inner 
    width auto  

.botones-cv
  .b-blanco-sx.b-left:before
    display none
  .b-blanco-sx
    .bt-inner
      border-left 3px solid #009b3a
      border-radius 15px 0 0 0
      font-size 22px
      padding 0 20px
  
  .b-gris 
    .bt-inner
      border-radius 0 0 15px 0
      border none
  .bt-inner
    border none
    border-radius 0 0 15px 0
  

// Pasos
.paso
  background celeste-texto
  border-radius 50%
  behavior url(static/css/PIE.htc)
  display inline-block
  min-width 25px
  color blanco
  &.p-active
    background gris-texto
.w-pasos
  font-size 20px
  font-family omnes-med
  color gris-text2
  .paso
    margin 0 5px
/** correccioones botones plantilla **/


//tamaño fuente botones
.bt-inner.fz-45
  font-size 45px
  display block
  line-height 50px
//tamaño fuente botones


  
// border cajas 

.bd-box
  max-width 910px
  height 60px
  &.b-sup
    border-top 1px solid #d9d9d9
    border-left 1px solid #d9d9d9
    border-right 1px solid #d9d9d9
    
  &.b-inf
    height 45px
    border-bottom 1px solid #d9d9d9
    border-left 1px solid #d9d9d9
    border-right 1px solid #d9d9d9
      
/** titulo paginas  **/
.page-title
  margin-top 60px
  position relative
  padding-top 15px
  min-height 60px
  .page-titleicon
    position absolute
    top 0
    left 10px
    
  .page-title-seccion
    margin-left 100px
    position relative
    border-top 1px solid gris-borde-n
    // border-right 1px solid gris-borde-n
    padding-top 20px   
    margin-right 30px 
    height 46px
    box-sizing border-box
    .page-subtitle
      color celeste-texto
      font-family omnes-lig
      font-size 50px
      background-color blanco
      position absolute
      top -38px
      left 0
      padding-right 20px

      
    p 
      font-family omnes-reg
      font-size 27px
      color gris-texto-n
      
  &.page-title-noimg
    .page-title-seccion
      margin-left 0
  &.no-subtitulo
    .page-titleicon
      top -29%
    
    
    
    
.mt30 
  margin-top 40px
.subtitle-section
  font-size 45px
  color #5b5b5b
  font-family omnes-lig
  line-height 110%
  

    
  
.titulo-section
  font-size 50px
  color #4d4d4d
  font-family omnes-med

.titulo-section-2
  font-size 48px
  color #acacac
  font-family omnes-lig
  
.parrafo-resumen
  font-size 27px
  color #8f8f8f
  font-family omnes-reg

    
        
    
    
    
  

/** titulo paginas  **/
//mensaje error #d80b49
.mensaje-error
  .inner-error
    padding 20px 20px
    border 2px solid transparent
    border-radius 10px
    behavior url(static/css/PIE.htc)
  .text-error
    min-height 35px
    .inner-text
      display none
      font-size 23px
      font-family omnes-lig
      color #d80b49
      display none
  &.alert-error 
    .inner-error
      border 2px solid #d80b49
    .text-error
      .inner-text
        display block
      
  
//mensaje error 
//menu navegacion 
.menu-navegacion
  //border-top:4px solid #009b3a
  cf()
  .menu-inner
    cf()
    padding-right 14px
    padding-left 4px
    .item-menu
      margin-left 10px
    
  
//menu navegación
/**** Mensaje ****/

.s-voucher
  
  margin 150px auto auto auto
  width 430px
  font-size 53px
  color gris-texto
  font-family omnes-lig
  text-align center
  line-height 95%
  div 
    margin-bottom 25px

.block-bottom 
   
  cf()
  .block-text
    .item-block
      inlineblock()
      vertical-align top
      color #666767
      font-size 22px
      font-family omnes-lig
      line-height 28px
    
  // .block-button
  //   float right

//tab 
.content-tab{
  position: relative;
  .item-tab.active{
    display block
  }
  .item-tab{
    display none
  }
}

// Titulo
.c-texto1
  width 865px
  color gris-text1
  font-size 27px
  text-align center
  border 1px solid gris-borde1
  border-top none
  padding 0px 75px
  padding-top 10px
  padding-bottom 20px
  margin-left auto
  margin-right auto
  font-family omnes-reg
  box-sizing border-box
  line-height 30px
  overflow hidden
  &.-no-border
    border none
  em
    color verde
    font-family omnes-med
  
  li
    inlineblock()
    vertical-align middle
    font-size 45px
    margin-left 5px
  &.-general
    font-size 35px
    line-height 36px
    padding-bottom 50px
  .al
    text-align left
  .c-title
    font-size 36px
    color verde
    font-family omnes-med
    margin-bottom 0
.c-title-big
  font-size 50px
  line-height 100%
  font-family omnes-med
  color gris-text2

.t-big
  font-size 27px
  color #8f8f8f
  font-family omnes-light
  
.t-medium
  font-size 35px
  color #4d4d4d
  font-family omnes-reg    

.w-box-info
  behavior url(static/css/PIE.htc)
  width 650px
  padding 20px 40px
  border-radius 30px 0px 30px 0 
  background #e5f7fa
  box-sizing border-box
  font-size 22px
  color #7f7f7f
  .box-title
    color #00add0
    font-size 30px
    
.w-afilia
  font-size 26px
  color #009b3a
  width 660px
  ul
    li 
      clearfix()
      margin-bottom 5px
      img
        vertical-align middle
        float left
      span
        margin-left 20px
        vertical-align middle
        border-bottom 1px solid #d6f2f1
        display block
        margin-left 90px
        padding-bottom 10px
        padding-top 10px
  &.texto-gris
    color #8f8f8f  
//tab 
    
// Messages
.text-error
  overflow hidden
  font-size 30px
  &.-solo
    font-size 30px
    line-height 35px
  img
    vertical-align middle
  span
    display inline-block
    vertical-align middle
    width 60px
    height 47px
    background-image url('../images/pantalla-error.png')
    background-repeat no-repeat
    margin-right 20px
  p
    max-width 620px
    display inline-block
    vertical-align middle
    text-align left
    color #d80b49

//-------------

.fancybox-bg
  display none

#fancybox-outer
  border-radius 10px
  behavior url(static/css/PIE.htc)
  
.fancy-main
  width 775px
  // background-color #fff 
  border-radius 10px 
  behavior url(static/css/PIE.htc)
  position relative
  &.f-full
    width 815px
  
  .close-fancy
    position absolute
    top 10px
    right 10px
    cursor pointer
  
.bt-teclado  
  .item-bt 
    background url('../images/boton-teclado.png');
    width 87px
    height 65px
    position relative
    box-sizing border-box
    padding 0 15px
    padding-top 5px
    color #515252
    border none
    margin-right 6px
    margin-bottom 8px
    inlineblock()
    vertical-align top
    .qwerty
      position absolute
      top 7px
      left 45px
      font-family Arial
      font-weight bold
      display none
    .number
      &.ib-del
        font-size 14px
        text-align center
        text-transform uppercase
        position relative
        margin-left -3px
        margin-top -3px
      font-size 40px
      font-family Arial
      font-weight bold
      display block
      text-align left

.ingresa-monto      
  .text-moneda
    font-size 35px
    color #8f8f8f
    
  .ingresa-tex
    font-size 20px
    color #858585
    font-family omnes-lig
    
  .c-form li 
    margin 0 5px

.inner-fancy 
  color #8f8f8f
  .-title
    text-align center
    color #00b2a9
    font-size 27px
  p
    margin 5px 0
    
.w-fancy-content
  padding 0 48px
  font-size 20px
    
.w-teclado
  padding 0 48px
  .c-form li 
    margin 0px

//css  fase 1 update
.inputsolo
  position relative
  span
    font-size 35px
    color #8f8f8f
    position absolute
    margin auto
    left -45px
    line-height 90px
  input
    width 320px
    height 90px
    background none
    border none
    background url(../images/bg-input-solo.png) no-repeat center center
    line-height 90px
    color #2c2d2e
    font-size 45px
    font-family omnes-med
    padding 0px 10px
    box-sizing border-box 
      
.inputsolo.input-validate
  span
    left 0
  .border
    border 2px solid transparent
    padding 7px 5px
    border-radius 10px 
    behavior url(static/css/PIE.htc)
    
  .text-error
    font-size 20px
    opacity 0
    p 
      width 230px
      margin-left 10px
      text-align right
  &.error
    .border
      border 2px solid #d80b49
    .text-error
      opacity 1
    
.inputsolo.input-cuotas
  text-align right
  .border
    border 2px solid transparent
    padding 7px 5px
    border-radius 10px 
    behavior url(static/css/PIE.htc)
  .text-cuota   
    text-align right
    font-size 20px
    margin-top 10px
  .text-error
    font-size 20px
    display none
    margin-top 5px
      
  &.error
    .border
      border 2px solid #d80b49
    .text-cuota
      display none
    .text-error
      display block    

.fancy-main.f-full-max
  width 875px

.cceleste
  color #6bc5dd  

.lados2
  margin-left 2px
  margin-right 2px
  margin-bottom 10px  
  
.list-center
  color #4e4f53
  font-size 20px
  text-align left
  .item-list
    margin-bottom 10px
  .list-title
    width 51%
    //line-height 35px
    color #0038a5
    text-align right 
    margin-right 10px
  
  li 
    width 45%
    inlineblock()
    vertical-align top