// Mixin
inlineblock()
	display inline-block
	*display inline
	zoom 1

// Fuentes
omnes-lig = 'Omnes-Regular'
omnes-med = 'Omnes-Medium'
omnes-thin = 'Omnes-Thin'
omnes-reg = 'Omnes-Regular'
// Fuentes

// Colores
celeste-text1 = #00add0
gris-text1 = #808080
gris-borde1 = #e4e4e4
gris-linea1 = #d2d2d2
// Colores

.pager-inicio
	.i-main
		padding-top 95px
		
		.i-texto1
			max-width 863px
			height 90px
			border 1px solid gris-borde1
			border-top none
			position relative
			margin auto
			margin-bottom 40px
			.i-conte1
				max-width 865px
				line-height 0px
				color celeste-text1
				font-family omnes-lig
				font-size 147px
				text-align center
				position absolute
				top 0
				left 0
				right 0
				margin auto
		.i-inserta-tarjeta
			width 374px
			margin auto
			text-align center
			.i-texto2
				width 205px
				color gris-text1
				font-family omnes-lig
				font-size 29px
				position relative
				margin auto
				margin-bottom 25px
				&:before, &:after
					content ""
					width 18px
					height 1px
					background gris-linea1
					position absolute
					top 20px
					left -33px
				&:after	
					left inherit				
					right -33px
			.i-imagen1
				width 100%
				img
					width 100%
					height auto
					display block					
			.i-imagen2
				width 93px
				margin-top 25px
				img
					width 100%
					height auto
					display block
			