// USO DEL CLIERFI
cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
// FIN DEL CLIERFI

// Fuentes
omnes-lig = 'Omnes-Light'
omnes-med = 'Omnes-Medium'
omnes-thin = 'Omnes-Thin'
omnes-reg = 'Omnes-Regular'
// Fuentes

			

				