// Colors idendity
c-0 = #4e4f53

c-1 = #6bc5dd
c-2 = #dc0451
c-3 = #e4e4e4
c-4 = #e4e5e6
c-5 = #009b3a
c-6 = #0036a6
c-7 = #f6f6f6
c-8 = #ececec
c-9 = #00add0
c-10 = #00b2a9
c-11 = #8e8f90

blanco = #fff
negro = #000
// Fonts
t-0 = 'Omnes-Regular', sans-serif

t-1 = 'Omnes-Medium', sans-serif
t-2 = 'omnessemibold', sans-serif
t-3 = 'omnesbold', sans-serif
t-4 = 'Omnes-Regular', sans-serif
t-5 = 'arial', sans-serif

icomoon = 'icomoon'

// Mixins
placeholder(color,famyli)
	::-webkit-input-placeholder { color: color; font-family: famyli; } /* WebKit */
	:-moz-placeholder { color: color; font-family: famyli; } /* Firefox 18- */
	::-moz-placeholder { color: color; font-family: famyli; } /* Firefox 19+ */
	:-ms-input-placeholder { color: color; font-family: famyli; } /* IE 10+ */

transition-all()
	transition all 0.25s

img-res()
	width 100%
	height auto
	display block

inlineblock()
	display inline-block
	*display inline 
	zoom 1

	
