//    ┌────────┐
// by │ YUMMTA │
//    └────────┘

@import 'utils/normalize'
@import 'nib'

// Import fonts
@import 'utils/fonts'
@import 'utils/ico'

// Import config
@import 'config/identity'
// General

.wancho
	max-width 1024px
	margin auto
body
	font-size 15px
	font-family t-0
	color c-0
a
	color inherit
	&:focus
		outline none
.link
	&:hover
		text-decoration underline
		color c-1
.relative
	position relative
.left
	float left
.right
	float right
.envolve
	overflow hidden
.child-ib
	&>*
		display inline-block
		vertical-align top
.no-style
	line-height 1.4
.clearfix
	&:after
		content ""
		clear both
		height 0
		visibility hidden
		display block
		font-size 0
.g-text
	p
		margin-bottom 0
		margin-top s-5
		line-height 1.2
	p:first-child
		margin-top 0

//modulo bloques generales
.wrapp-iframe-general
	width 100%
	overflow hidden
	
.btn-copy
	background-color red
	display inline-block
	color #fff
	margin-bottom 10px
	padding 5px
	cursor pointer
	&.hover
		background-color gray
	
.general-wrapper
	padding 10px
	border 1px dashed gray
	width 98%
	margin auto
	margin-top 30px
	
.block-general	
	padding 5px
//modulo bloques generales

// Import animations
@import 'utils/animation'
@import 'blocks/*'