.d-table {
    display: table;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

    .d-table .d-cell {
        display: table-cell;
        vertical-align: middle;
    }

h3 {
    line-height: 1.5;
}

h2 {
    line-height: 1.2;
}

.c-verde {
    color: #009b3a;
}

.lh1 {
    line-height: 1;
}

.lh1-1 {
    line-height: 1.1;
}

.btn.lh3 {
    line-height: 3;
}

.lh3 {
    line-height: 2;
}

.btn.lh2-5 {
    line-height: 2.5;
}

.lh2-5 {
    line-height: 2.5;
}

.lh2-3 {
    line-height: 2.3;
}

.lh65 {
    line-height: 65px !important;
}

.lh30 {
    line-height: 30px;
}

.lh48 {
    line-height: 48px !important;
}
/* clearfix */
/* end clearfix */
.azul-text {
    color: #0036a6;
    font-size: 25px;
    font-family: 'Omnes-Medium', sans-serif;
}

    .azul-text a {
        text-decoration: underline;
    }

.zz {
    z-index: 10;
}

.fm {
    font-family: 'Omnes-Medium', sans-serif;
}

.bb {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.abs {
    position: absolute;
}

.l15 {
    left: 15px;
}

.l10 {
    left: 10px;
}

.l30 {
    left: 30px;
}

.l60 {
    left: 60px;
}

.t-37 {
    top: -37px;
}

.t0 {
    top: 0;
}

.t8 {
    top: 8px;
}

.t57 {
    margin-top: 57px;
}

.t45 {
    margin-top: 45px;
}

.t160 {
    top: 160px;
}

.t185 {
    top: 185px;
}

.t190 {
    top: 190px;
}

.t255 {
    top: 255px;
}

.t396 {
    top: 396px;
}

.t533 {
    top: 533px;
}

.t662 {
    top: 662px;
}

.b0 {
    bottom: 0;
}

.b30 {
    bottom: 30px;
}

.b20 {
    bottom: 20px;
}

.r0 {
    right: 0;
}

.r18 {
    right: 18px;
}

.r30 {
    right: 30px;
}

.l18 {
    left: 18px;
}

.l0 {
    left: 0;
}

.l45 {
    left: 45px;
}

.r180 {
    right: 180px;
}

.l90 {
    left: 90px;
}

.l40 {
    left: 40px;
}

.l47 {
    left: 47px;
}

.l430 {
    left: 430px;
}

.l450 {
    left: 450px;
}

.b45 {
    bottom: 45px;
}

.pr {
    position: relative;
}

.db {
    display: block;
}

.ib {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.vm {
    vertical-align: middle;
}

.vt {
    vertical-align: top;
}

.vb {
    vertical-align: bottom;
}

.oh {
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

    .clearfix:after,
    .clearfix:before {
        content: "";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

.fz0 {
    font-size: 0;
}

.fz18 {
    font-size: 18px;
}

.fz20 {
    font-size: 20px;
}

.fz22 {
    font-size: 22px;
}

.fz24 {
    font-size: 24px;
}

.fz25 {
    font-size: 25px;
}

.fz27 {
    font-size: 27px;
}

.fz30 {
    font-size: 30px;
}

.fz34 {
    font-size: 34px;
}

.medium {
    font-family: 'Omnes-Medium', sans-serif;
}

.fz32 {
    font-size: 32px;
}

.fz40 {
    font-size: 40px;
}

.w160 {
    width: 160px;
}

.w90 {
    width: 90px;
}

.w70 {
    width: 70px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w137 {
    width: 137px;
}

.w140 {
    width: 140px;
}

.w150 {
    width: 150px;
}

.w155 {
    width: 155px;
}

.w200 {
    width: 200px;
}

.w210 {
    width: 210px;
}

.w220 {
    width: 220px;
}

.w230 {
    width: 230px;
}

.w240 {
    width: 240px;
}

.w248 {
    width: 248px;
}

.w245 {
    width: 245px;
}

.w250 {
    width: 250px;
}

.w260 {
    width: 260px;
}

.w264 {
    width: 264px;
}

.w275 {
    width: 275px;
}

.w270 {
    width: 270px;
}

.w100full {
    width: 100%;
}

.w280 {
    width: 280px;
}

.w286 {
    width: 286px;
}

.w295 {
    width: 295px;
}

.w308 {
    width: 308px;
}

.w320 {
    width: 320px;
}

.w330 {
    width: 330px;
}

.w350 {
    width: 350px;
}

.w340 {
    width: 340px;
}

.w360 {
    width: 360px;
}

.w375 {
    width: 375px;
}

.w400 {
    width: 400px;
}

.w410 {
    width: 410px;
}

.w420 {
    width: 420px;
}

.w430 {
    width: 430px;
}

.w450 {
    width: 450px;
}

.w475 {
    width: 475px;
}

.w486 {
    width: 486px;
}

.w480 {
    width: 480px;
}

.w490 {
    width: 490px;
}

.w500 {
    width: 500px;
}

.w510 {
    width: 510px;
}

.w520 {
    width: 520px;
}

.w530 {
    width: 530px;
}

.w505 {
    width: 505px;
}

.w540 {
    width: 540px;
}

.w560 {
    width: 560px;
}

.w570 {
    width: 570px;
}

.w590 {
    width: 590px;
}

.w620 {
    width: 620px;
}

.w630 {
    width: 630px;
}

.w600 {
    width: 600px;
}

.w610 {
    width: 610px;
}

.w678 {
    width: 678px;
}

.w680 {
    width: 680px;
}

.w685 {
    width: 685px;
}

.w720 {
    width: 720px;
}

.w730 {
    width: 730px;
}

.w755 {
    width: 755px;
}

.w740 {
    width: 740px;
}

.w750 {
    width: 750px;
}

.w760 {
    width: 760px;
}

.w778 {
    width: 778px;
}

.w780 {
    width: 780px;
}

.w800 {
    width: 800px;
}

.w820 {
    width: 820px;
}

.w830 {
    width: 830px;
}

.w840 {
    width: 840px;
}

.w870 {
    width: 870px;
}

.w915 {
    width: 915px;
}

.w920 {
    width: 920px;
}

.w928 {
    width: 928px;
}

.w970 {
    width: 970px;
}

.w985 {
    width: 985px;
}

.w170 {
    width: 170px;
}

.w180 {
    width: 180px;
}

.w235 {
    width: 235px;
}

.w315 {
    width: 315px;
}

.w320 {
    width: 320px;
}

.w380 {
    width: 380px;
}

.w370 {
    width: 370px;
}

.w345 {
    width: 345px;
}

.w410 {
    width: 410px;
}

.w445 {
    width: 410px;
}

.w490 {
    width: 490px;
}

.w500 {
    width: 500px;
}

.w535 {
    width: 535px;
}

.w580 {
    width: 580px;
}

.w585 {
    width: 585px;
}

.w640 {
    width: 640px;
}

.w670 {
    width: 670px;
}

.w650 {
    width: 650px;
}

.w660 {
    width: 660px;
}

.w707 {
    width: 707px;
}

.w770 {
    width: 770px;
}

.w820 {
    width: 820px;
}

.w780 {
    width: 780px;
}

.w872 {
    width: 872px;
}

.w1270 {
    width: 1270px;
}

.mh295 {
    min-height: 295px;
}

.mh325 {
    min-height: 325px;
}

.mh510 {
    min-height: 510px;
}

.h27 {
    height: 27px;
}

.h35 {
    min-height: 35px;
}

.h60 {
    height: 60px;
}

.h65 {
    height: 65px;
}

.h68 {
    height: 68px;
}

.h67 {
    height: 67px;
}

.h70 {
    height: 70px;
}

.h75 {
    height: 75px;
}

.h80 {
    height: 80px;
}

.h83 {
    height: 83px;
}

.h300 {
    height: 300px;
}

.h90 {
    height: 90px;
}

.h109 {
    height: 109px;
}

.h115 {
    height: 115px;
}

.h130 {
    height: 130px;
}

.h148 {
    height: 148px;
}

.h150 {
    height: 150px;
}

.h220 {
    height: 220px;
}

.h270 {
    height: 270px;
}

.h284 {
    height: 284px;
}

.h368 {
    height: 368px;
}

.h470 {
    height: 470px;
}

.h510 {
    height: 510px;
}

.h520 {
    height: 520px;
}

.h614 {
    height: 614px;
}

.h616 {
    height: 616px;
}

.s600 {
    max-width: 600px;
}

.s725 {
    max-width: 725px;
}

.s560 {
    max-width: 560px;
}

.s285 {
    max-width: 285px;
}

.s200 {
    max-width: 200px;
}

.b0 {
    bottom: 0;
}

.ml0 {
    margin-left: 0;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml18 {
    margin-left: 18px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml60 {
    margin-left: 60px;
}

.ml70 {
    margin-left: 70px;
}

.ml80 {
    margin-left: 80px;
}

.ml90 {
    margin-left: 90px;
}

.ml120 {
    margin-left: 150px;
}

.ml140 {
    margin-left: 140px;
}

.ml150 {
    margin-left: 150px;
}

.ml100 {
    margin-left: 100px;
}

.ml190 {
    margin-left: 190px;
}

.ml320 {
    margin-left: 320px;
}

.ml320 {
    margin-left: 312px;
}

.mr0 {
    margin-right: 0 !important;
}

.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr22 {
    margin-right: 22px;
}

.mr30 {
    margin-right: 30px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.mr55 {
    margin-right: 55px;
}

.mr60 {
    margin-right: 60px;
}

.mr65 {
    margin-right: 65px;
}

.mr80 {
    margin-right: 80px;
}

.mr90 {
    margin-right: 90px;
}

.mr95 {
    margin-right: 95px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt25 {
    margin-top: 25px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt55 {
    margin-top: 55px;
}

.mt60 {
    margin-top: 60px;
}

.mt65 {
    margin-top: 65px;
}

.mt67 {
    margin-top: 67px;
}

.mt70 {
    margin-top: 70px;
}

.mt75 {
    margin-top: 75px;
}

.mt80 {
    margin-top: 80px;
}

.mt85 {
    margin-top: 85px;
}

.mt90 {
    margin-top: 90px;
}

.mt100 {
    margin-top: 100px;
}

.mt105 {
    margin-top: 105px;
}

.mt115 {
    margin-top: 115px;
}

.mt120 {
    margin-top: 120px;
}

.mt125 {
    margin-top: 125px;
}

.mt135 {
    margin-top: 135px;
}

.mt110 {
    margin-top: 110px;
}

.mt120 {
    margin-top: 120px;
}

.mt140 {
    margin-top: 140px;
}

.mt150 {
    margin-top: 150px;
}

.mt155 {
    margin-top: 155px;
}

.mt160 {
    margin-top: 160px;
}

.mt165 {
    margin-top: 165px;
}

.mt170 {
    margin-top: 170px;
}

.mt175 {
    margin-top: 175px;
}

.mt180 {
    margin-top: 180px;
}

.mt185 {
    margin-top: 185px;
}

.mt195 {
    margin-top: 195px;
}

.mt200 {
    margin-top: 200px;
}

.mt210 {
    margin-top: 210px;
}

.mt220 {
    margin-top: 230px;
}

.mt240 {
    margin-top: 240px;
}

.mt250 {
    margin-top: 250px;
}

.mt260 {
    margin-top: 260px;
}

.mt270 {
    margin-top: 270px;
}

.mt275 {
    margin-top: 275px;
}

.mt280 {
    margin-top: 280px;
}

.mt290 {
    margin-top: 290px;
}

.mt295 {
    margin-top: 295px;
}

.mt300 {
    margin-top: 300px;
}

.mt310 {
    margin-top: 310px;
}

.mt320 {
    margin-top: 320px;
}

.mt350 {
    margin-top: 350px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb22 {
    margin-bottom: 22px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb55 {
    margin-bottom: 55px;
}

.mb57 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb65 {
    margin-bottom: 65px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb75 {
    margin-bottom: 75px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb90 {
    margin-bottom: 90px;
}

.mb95 {
    margin-bottom: 95px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb110 {
    margin-bottom: 110px;
}

.mb120 {
    margin-bottom: 120px;
}

.mb130 {
    margin-bottom: 130px;
}

.mb140 {
    margin-bottom: 140px;
}

.mb145 {
    margin-bottom: 145px;
}

.mb150 {
    margin-bottom: 150px;
}

.mb155 {
    margin-bottom: 155px;
}

.mb160 {
    margin-bottom: 160px;
}

.mb170 {
    margin-bottom: 170px;
}

.mb175 {
    margin-bottom: 170px;
}

.mb180 {
    margin-bottom: 180px;
}

.mb185 {
    margin-bottom: 185px;
}

.mb190 {
    margin-bottom: 190px;
}

.mb195 {
    margin-bottom: 195px;
}

.mb200 {
    margin-bottom: 200px;
}

.mb210 {
    margin-bottom: 210px;
}

.mb220 {
    margin-bottom: 220px;
}

.mb230 {
    margin-bottom: 230px;
}

.mb240 {
    margin-bottom: 240px;
}

.mb250 {
    margin-bottom: 250px;
}

.mb260 {
    margin-bottom: 260px;
}

.mb270 {
    margin-bottom: 270px;
}

.mb280 {
    margin-bottom: 280px;
}

.mb290 {
    margin-bottom: 290px;
}

.mb300 {
    margin-bottom: 300px;
}

.mb310 {
    margin-bottom: 310px;
}

.mb315 {
    margin-bottom: 315px;
}

.mb320 {
    margin-bottom: 320px;
}

.mb337 {
    margin-bottom: 337px;
}

.mb400 {
    margin-bottom: 400px;
}

.c100 {
    width: 100%;
}

.c90 {
    width: 90%;
}

.c95 {
    width: 95%;
}

.c80 {
    width: 80%;
}

.c70 {
    width: 70%;
}

.c60 {
    width: 60%;
}

.c65 {
    width: 65%;
}

.c56 {
    width: 56%;
}

.c55 {
    width: 55%;
}

.c50 {
    width: 50%;
}

.c45 {
    width: 45%;
}

.c44 {
    width: 44%;
}

.c40 {
    width: 40%;
}

.c35 {
    width: 35%;
}

.c30 {
    width: 30%;
}

.c25 {
    width: 25%;
}

.c20 {
    width: 20%;
}

.c10 {
    width: 10%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ar {
    text-align: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ma {
    margin-left: auto;
    margin-right: auto;
}

.p32 {
    padding: 32px 0;
}

.p46 {
    padding: 46px 0;
}

.pt0 {
    padding-top: 0;
}

.pt12 {
    padding-top: 12px;
}

.pt12 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pl45 {
    padding-left: 45px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pt55 {
    padding-top: 55px;
}

.pt60 {
    padding-top: 60px;
}

.pt65 {
    padding-top: 65px;
}

.pt90 {
    padding-top: 90px;
}

.pt115 {
    padding-top: 115px;
}

.pt185 {
    padding-top: 185px;
}

.pl10 {
    padding-left: 10px;
}

.pl50 {
    padding-left: 50px;
}

.pl70 {
    padding-left: 70px;
}

.pl75 {
    padding-left: 75px;
}

.pl115 {
    padding-left: 115px;
}

.pl135 {
    padding-left: 135px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

.pr90 {
    padding-right: 90px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pt70 {
    padding-top: 70px;
}

.pt75 {
    padding-top: 75px;
}

.pt120 {
    padding-top: 120px;
}

.pt215 {
    padding-top: 215px;
}

.pr10 {
    padding-right: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb55 {
    padding-bottom: 55px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb100 {
    padding-bottom: 100px;
}

.pb103 {
    padding-bottom: 103px;
}

.pb110 {
    padding-bottom: 110px;
}

.pb115 {
    padding-bottom: 115px;
}

.pb120 {
    padding-bottom: 120px;
}

.pb130 {
    padding-bottom: 130px;
}

.pb160 {
    padding-bottom: 160px;
}

.pb200 {
    padding-bottom: 200px;
}

.pb215 {
    padding-bottom: 215px;
}

.p0 {
    padding: 0;
}











.g-title-1 h2 {
    line-height: 100%;
    color: #00add0;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 32px;
    margin-bottom: 0;
    font-weight: normal;
}

.g-subtitle-1 h3 {
    line-height: 25px;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 27px;
    margin-bottom: 0;
    font-weight: normal;
}

.g-subtitle-1 strong {
    color: #009b3a;
    font-weight: normal;
}

.g-parrafo1 h3 {
    line-height: 27px;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}

    .g-parrafo1 h3 strong {
        color: #009b3a;
        font-weight: normal;
    }

.g-parrafo1 p {
    line-height: 27px;
    font-family: 'Omnes-Regular', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
}

.g-parrafo2 {
    line-height: 21px;
    font-size: 22px;
}

    .g-parrafo2 p {
        margin-bottom: 0;
    }

        .g-parrafo2 p strong {
            color: #0036a6;
            font-family: 'Omnes-Medium', sans-serif;
            font-weight: normal;
        }

    .g-parrafo2.g-parrafo2 {
        font-size: 24px;
    }

.slider-terminos .bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 288px;
}

.slider-terminos .item-terminos {
    float: left;
    list-style: none;
    position: relative;
    width: 738px;
}

.g-trio-items li {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #f4f5f5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .g-trio-items li strong {
        display: block;
        color: #009b3a;
        font-family: 'Omnes-Medium', sans-serif;
        font-weight: normal;
        line-height: 1;
    }

    .g-trio-items li p {
        margin: 0;
        line-height: 1;
    }

    .g-trio-items li span {
        display: block;
        line-height: 1;
    }

    .g-trio-items li i {
        font-style: normal;
        color: #009b3a;
    }

    .g-trio-items li figure img {
        display: block;
        margin: auto;
    }

.wancho-2 {
    max-width: 1024px;
    margin: auto;
}

.botones .wrapper {
    height: 768px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1024px;
    margin: auto;
    position: relative;
}

.botones .grid {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #f00;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 768px;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    z-index: -1;
}

#header {
    background-color: #f9f9f9;
    border-bottom: 3px solid #009b3a;
    color: #808080;
    font-family: 'Omnes-Regular', sans-serif;
    height: 70px;
    padding: 0 20px;
    font-size: 22px;
    overflow: hidden;
}

    #header #logo {
        background: url("../img/logo.png") 0 50% no-repeat;
        float: left;
        height: 68px;
        width: 251px;
    }

    #header ul {
        float: right;
        margin-top: 18px;
        overflow: hidden;
    }

    #header li {
        float: left;
        margin-left: 45px;
    }

        #header li:first-child {
            margin-left: 0;
        }

    #header span:first-child {
        margin-right: 10px;
    }

    #header #ico-telefono,
    #header #ico-cajero {
        height: 31px;
    }

    #header #ico-telefono {
        background: url("../img/ico-telefono.png") no-repeat;
        width: 27px;
        display: inline-block;
    }

    #header #ico-cajero {
        background: url("../img/ico-cajero.png") no-repeat;
        width: 17px;
        display: inline-block;
    }

.wrapper-teclado {
    position: absolute;
    bottom: 0;
    left: 20px;
    z-index: 9999;
    width: 1016px;
    margin: auto;
    background-color: #000;
    font-size: 0;
    padding-left: 8px;
    padding-top: 9px;
    display: none;
}

.tecla-normal,
.tecla-oscura {
    width: 83px;
    height: 52px;
    border: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 30px;
    font-family: 'omnessemibold', sans-serif;
    color: #fff;
    text-align: center;
}

    .tecla-normal.m-t,
    .tecla-oscura.m-t {
        margin: 0px 9px 9px 0px;
    }

.tecla-sp {
    width: 452px;
    height: 52px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 'omnessemibold', sans-serif;
    text-align: center;
    color: #fff;
    background: url("../img/bg-teclado-sp.png") no-repeat top left;
}

    .tecla-sp input {
        background: none;
        z-index: 2;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .tecla-sp i {
        z-index: 1;
        position: absolute;
        top: 20px;
        left: 220px;
    }

    .tecla-sp.m-t {
        margin: 0px 9px 9px 0px;
        border: none;
    }

    .tecla-sp.active {
        background-position: bottom left;
    }

        .tecla-sp.active > i {
            background-position: top left;
        }

.tecla-normal {
    line-height: 48px;
    background: url("../img/bg-teclado-normal.png") no-repeat top left;
}

    .tecla-normal.active {
        background-position: bottom left;
        color: #000;
    }

.tecla-oscura {
    background: url("../img/bg-teclado-oscuro.png") no-repeat top left;
}

    .tecla-oscura.active {
        background-position: bottom left;
        color: #000;
    }

        .tecla-oscura.active > i {
            background-position: top left;
        }

.cnt-teclaoscura {
    background: url("../img/bg-teclado-normal.png") no-repeat top left;
    width: 83px;
    height: 52px;
    border: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 30px;
    font-family: 'omnessemibold', sans-serif;
    color: #fff;
    text-align: center;
}

    .cnt-teclaoscura.m-t {
        margin: 0px 9px 9px 0px;
    }

    .cnt-teclaoscura input {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        position: relative;
        z-index: 2;
    }

    .cnt-teclaoscura i {
        z-index: 1;
    }

    .cnt-teclaoscura.active {
        background-position: bottom left;
        color: #000;
    }

        .cnt-teclaoscura.active > i {
            background-position: top left;
        }

.tecla-shift {
    width: 21px;
    height: 21px;
    background: url("../img/bg-teclado-shift.png") no-repeat bottom left;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: absolute;
    top: 15px;
    left: 30px;
}

.borrar-teclado {
    width: 21px;
    height: 16px;
    background: url("../img/bg-borrar-teclado.png") bottom left;
    position: absolute;
    top: 17px;
    left: 31px;
}

.tecla-enter {
    width: 83px;
    height: 114px;
    position: absolute;
    top: 71px;
    right: 12px;
    background: url("../img/bg-teclado-enter.png") no-repeat top left;
    cursor: pointer;
}

    .tecla-enter input {
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }

        .tecla-enter input .bg-enter {
            z-index: 1;
        }

    .tecla-enter.active {
        background-position: bottom left;
    }

        .tecla-enter.active > i {
            background-position: top left;
        }

.bg-enter {
    background: url("../img/bg-enter.png") bottom left;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 33px;
    height: 24px;
    position: absolute;
    top: 21px;
    left: 18px;
}

.icon-enter {
    background: url("../img/icon-enter.png") no-repeat bottom left;
    width: 26px;
    height: 9px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    top: 20px;
}

.tecla-disable {
    background: url("../img/bg-disable.png") no-repeat bottom left;
    color: #272727;
    cursor: inherit !important;
}

    .tecla-disable input {
        display: none;
        cursor: inherit !important;
    }

    .tecla-disable .tecla-shift {
        background: url("../img/bg-shift.png") no-repeat bottom left;
    }

.controles-slider {
    text-align: center;
    margin-top: 20px;
}

    .controles-slider .arrow-prev,
    .controles-slider .arrow-next,
    .controles-slider .bx-pager {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
    }

    .controles-slider .bx-pager {
        font-size: 22px;
        font-family: 'Omnes-Medium', sans-serif;
        line-height: 100%;
    }

        .controles-slider .bx-pager a {
            color: #8e8f90;
            margin-left: 5px;
        }

            .controles-slider .bx-pager a.active {
                color: #000;
                text-decoration: underline;
            }

    .controles-slider .arrow-prev {
        margin-top: 3px;
        margin-right: 10px;
        width: 119px;
        height: 20px;
    }

        .controles-slider .arrow-prev .bx-prev {
            background-image: url("../img/arrow-prev.png");
            width: 119px;
            height: 20px;
            display: none;
            overflow: hidden;
            width: 0;
        }

            .controles-slider .arrow-prev .bx-prev:first-child {
                display: block;
            }

            .controles-slider .arrow-prev .bx-prev.disable {
                width: 0;
            }

    .controles-slider .arrow-next {
        margin-top: 3px;
        margin-left: 10px;
        width: 119px;
        height: 20px;
    }

        .controles-slider .arrow-next .bx-next {
            background-image: url("../img/arrow-next.png");
            width: 119px;
            height: 20px;
            display: none;
            overflow: hidden;
        }

            .controles-slider .arrow-next .bx-next:first-child {
                display: block;
            }

            .controles-slider .arrow-next .bx-next.disable {
                width: 0;
            }

.fancy-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.close-fancy {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    background: url("../img/bt-close.png") no-repeat 0 0;
    cursor: pointer;
}

#fancybox-outer {
    -webkit-border-radius: 30px 0px 30px 0px;
    border-radius: 30px 0px 30px 0px;
    behavior: url("../static/css/PIE.htc");
}

.fancybox-bg {
    display: none;
}

.enlace-azul {
    font-size: 24px;
    font-family: 'Omnes-Medium', sans-serif;
    color: #0036a6;
    border-bottom: 1px solid #0036a6;
    display: inline-block;
    line-height: 100%;
}

.g-pager {
    font-size: 0;
}

    .g-pager p {
        font-size: 22px;
        margin-bottom: 0px;
    }

    .g-pager strong {
        font-weight: normal;
        color: #009b3a;
    }

    .g-pager .wrapp-pager {
        margin: 3px 0px 0px 0px;
    }

        .g-pager .wrapp-pager a {
            display: inline-block;
            width: 19px;
            height: 19px;
            border: 1px solid #8e8f90;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            behavior: url("../static/css/PIE.htc");
            font-size: 22px;
            margin: 0px 4px;
        }

            .g-pager .wrapp-pager a:hover,
            .g-pager .wrapp-pager a.active {
                background-color: #009b3a;
            }

.btn {
    border: none;
    background-color: #009b3a;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 24px;
    color: #fff;
    -webkit-border-radius: 10px 0px 10px 0px;
    border-radius: 10px 0px 10px 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    behavior: url("../static/css/PIE.htc");
}

    .btn strong {
        font-family: 'omnessemibold', sans-serif;
        font-weight: normal;
    }

    .btn.blanco {
        border: 2px solid #009b3a;
        background-color: transparent;
        color: #009b3a;
    }

    .btn.left-celeste {
        background-color: #00b2a9;
        border-bottom: 4px solid #02928b;
        -webkit-border-radius: 10px 0 0 0;
        border-radius: 10px 0 0 0;
        behavior: url("../static/css/PIE.htc");
    }

    .btn.buscar {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        behavior: url("../static/css/PIE.htc");
    }

    .btn.disable {
        background-color: #ccebd8;
    }

    .btn.btn-azul {
        background-color: #0039a6;
    }

    .btn.rd-right-button {
        -webkit-border-radius: 0px 0px 10px 0;
        border-radius: 0px 0px 10px 0;
        behavior: url("../static/css/PIE.htc");
    }

    .btn.rd-left-top {
        -webkit-border-radius: 10px 0px 0px 0;
        border-radius: 10px 0px 0px 0;
        behavior: url("../static/css/PIE.htc");
    }

.bo-btn-blanco {
    background-image: url("../img/bg-btnblanco.png");
    width: 233px;
    height: 91px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 30px;
    color: #009b3a;
}

.bo-btn-verde-r,
.bo-btn-verde-l,
.bo-btn-verde-r-mini,
.bo-btn-verde-l-mini {
    background-image: url("../img/bg-btn-verde-right.png");
    width: 360px;
    height: 91px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 30px;
    color: #fff;
    line-height: 1;
}

.bo-btn-verde-l {
    background-image: url("../img/bg-btn-verde-left.png");
}

.bo-btn-verde-r-mini,
.bo-btn-verde-l-mini {
    background-image: url("../img/bg-verde-right-mini.png");
    width: 234px;
    height: 91px;
}

.bo-btn-verde-l-mini {
    background-image: url("../img/bg-verde-left-mini.png");
}

.text-btnmini {
    font-size: 22px;
}

.text-btnbig {
    font-size: 30px;
    font-family: 'omnessemibold', sans-serif;
}

.text-retira {
    font-family: 'Omnes-Medium', sans-serif;
}

.bt-text-azul {
    display: inline-block;
    background-color: #0036a6;
    font-family: 'Omnes-Medium', sans-serif;
    color: #fff;
    font-size: 22px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url("../static/css/PIE.htc");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 6px;
    text-align: center;
    line-height: 100%;
}

.btn-volver-1,
.btn-volver-2,
.btn-volver-3 {
    font-size: 24px;
    color: #009b3a;
    font-family: 'Omnes-Medium', sans-serif;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 120px;
    height: 65px;
    text-align: center;
    background-repeat: no-repeat;
}

    .btn-volver-1 span,
    .btn-volver-2 span,
    .btn-volver-3 span {
        display: inline-block;
        *display: inline;
        zoom: 1;
        margin-top: 15px;
    }

.btn-volver-1 {
    background-image: url("../img/btn-volver-1.png");
}

.btn-volver-2 {
    background-image: url("../img/btn-volver-2.png");
    width: 121px;
}

.btn-volver-3 {
    width: 235px;
    height: 64px;
    background-image: url("../img/btn-volver-3.png");
}

.wrap-botones {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 768px;
    z-index: -1;
}

    .wrap-botones .btn-l {
        position: absolute;
    }

    .wrap-botones .btn-r {
        position: absolute;
    }

.botonera-2 .ib {
    margin-left: 50px;
    margin-bottom: 20px;
}

.botonera-2 .no-margin {
    margin-left: 0;
}

.g-parrafo-bo p {
    margin-bottom: 0;
    font-size: 27px;
    font-family: 'Omnes-Medium', sans-serif;
    line-height: 1.1;
}

.g-parrafo-bo span {
    color: #009b3a;
}

.g-parrafo-bo strong {
    font-weight: normal;
    font-family: 'Omnes-Regular', sans-serif;
    font-size: 27px;
}

.g-title-1.large h2 {
    font-size: 50px;
    font-family: 'Omnes-Medium', sans-serif;
    text-indent: 18px;
    color: #00b2a9;
}

    .g-title-1.large h2 span {
        font-size: 30px;
        line-height: 1;
    }

.g-title-1.large p {
    font-size: 30px;
    line-height: 1;
    color: #00b2a9;
    margin-top: 18px;
    font-family: 'Omnes-Medium', sans-serif;
}

.g-datos-1 p {
    font-size: 22px;
    margin-bottom: 0;
    line-height: 100%;
    margin-bottom: 13px;
}

.g-datos-1 a {
    width: 400px;
    height: 50px;
    background-color: #e4e5e6;
    display: block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 15px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url("../static/css/PIE.htc");
}

    .g-datos-1 a span {
        font-size: 22px;
        float: right;
        line-height: 48px;
        text-decoration: underline;
    }

        .g-datos-1 a span:first-child {
            float: left;
            text-decoration: none;
            font-family: 'Omnes-Medium', sans-serif;
        }

.g-datos-1 .wrap-g-datos-1 {
    position: relative;
}

    .g-datos-1 .wrap-g-datos-1 img {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 100%;
        bottom: 0;
        top: 0;
        margin: auto;
        margin-left: 20px;
    }

.pager {
    width: 150px;
    margin: auto;
}

    .pager p,
    .pager span {
        margin: 0;
        display: inline-block;
        font-size: 20px;
        font-family: 'Omnes-Medium', sans-serif;
    }

    .pager span {
        width: 24px;
        height: 24px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        behavior: url("../static/css/PIE.htc");
        text-align: center;
        font-size: 20px;
        font-family: 'Omnes-Medium', sans-serif;
        color: #fff;
        line-height: 21px;
        margin: 0 3px;
    }

        .pager span.act {
            background-color: #00b2a9;
        }

        .pager span.desac {
            background-color: #4e4f53;
        }

.text-gg p {
    font-family: 'Omnes-Regular', sans-serif;
    color: #4e4f53;
    font-size: 22px;
    margin-bottom: 0;
}

    .text-gg p strong {
        color: #009b3a;
        font-family: 'Omnes-Medium', sans-serif;
    }

.trio-items li {
    display: inline-block;
    vertical-align: top;
    width: 230px;
    height: 270px;
    border: 2px solid #f4f5f5;
    margin: 0 5px;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .trio-items li strong {
        display: block;
        text-align: center;
        color: #009b3a;
        font-family: 'Omnes-Medium', sans-serif;
        font-size: 22px;
        line-height: 1;
    }

    .trio-items li p {
        margin: 0;
        font-size: 22px;
        text-align: center;
        line-height: 1;
    }

    .trio-items li figure img {
        display: block;
        margin: auto;
    }

.subtitle.bo h3 {
    font-size: 30px;
    color: #009b3a;
    margin-bottom: 0;
    font-family: 'Omnes-Medium', sans-serif;
    line-height: 1;
}

    .subtitle.bo h3 span {
        color: #0036a6;
    }

.input-large-bo input {
    background: none;
    border: none;
    width: 560px;
    height: 90px;
    font-size: 33px;
    font-family: 'Omnes-Medium', sans-serif;
    color: #4e4f53;
    line-height: 90px;
    padding: 0px 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../img/bg-input-large.png") no-repeat center center;
}

.sub-bold h3 {
    font-size: 32px;
    line-height: 1;
}

    .sub-bold h3 span {
        color: #009b3a;
        font-size: 40px;
        font-family: 'omnessemibold', sans-serif;
    }

.textos-big .toltip {
    height: 90px;
}

    .textos-big .toltip p {
        height: 90px;
    }

.textos-big .b2-list li {
    font-family: 'Omnes-Medium', sans-serif;
}

.textos-big .b2-title h3 {
    font-family: 'omnessemibold', sans-serif;
}

.b1.big .b1-info h3 {
    font-size: 36px;
}

.b1.big .b1-text2,
.b1.big .b1-text3 {
    font-family: 'Omnes-Medium', sans-serif;
}

.b1-text1 {
    line-height: 100%;
    color: #00add0;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 24px;
}

    .b1-text1 strong {
        font-weight: normal;
        font-size: 32px;
    }

.b1-btn {
    display: inline-block;
    line-height: 36px;
    background-color: #00b2a9;
    color: #fff;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 24px;
    -webkit-border-radius: 15px 0px 15px 0;
    border-radius: 15px 0px 15px 0;
    behavior: url("../static/css/PIE.htc");
    padding: 0 37px;
}

.b1-info h3 {
    line-height: 33px;
    color: #009b3a;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 32px;
    margin-bottom: 0;
}

.b1-text2,
.b1-text3 {
    line-height: 33px;
    font-size: 32px;
}

    .b1-text2.bo,
    .b1-text3.bo {
        font-family: 'Omnes-Medium', sans-serif;
        font-size: 30px;
    }

    .b1-text2 p,
    .b1-text3 p {
        margin-top: 10px;
        margin-bottom: 0;
    }

        .b1-text2 p:first-child,
        .b1-text3 p:first-child {
            margin-top: 0;
        }

    .b1-text2 strong,
    .b1-text3 strong {
        color: #009b3a;
        font-family: 'Omnes-Medium', sans-serif;
        font-weight: normal;
    }

    .b1-text3 strong {
        font-size: 40px;
    }

.b1-text4 {
    font-size: 24px;
}

    .b1-text4 strong {
        font-family: 'omnessemibold', sans-serif;
    }

.b1-text5 {
    font-size: 24px;
}

    .b1-text5 strong {
        font-family: 'Omnes-Medium', sans-serif;
        font-weight: normal;
    }

.b1-text6 {
    font-size: 32px;
    font-family: 'Omnes-Medium', sans-serif;
    line-height: 35px;
}

    .b1-text6 p {
        margin: 0;
    }

    .b1-text6 strong {
        font-family: 'omnessemibold', sans-serif;
        font-weight: normal;
        color: #009b3a;
    }

.b1-text7 {
    font-size: 30px;
    font-family: 'Omnes-Medium', sans-serif;
    line-height: 35px;
}

    .b1-text7 p {
        margin: 0;
    }

    .b1-text7 strong {
        font-weight: normal;
        color: #00b2a9;
        font-size: 32px;
    }

.btns-numbers {
    width: 278px;
    font-size: 46px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

.btns-numbers-item {
    background: url("../img/bg-btn.png");
    width: 87px;
    height: 65px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    line-height: 63px;
    text-align: right;
    font-family: 'omnessemibold', sans-serif;
    margin-bottom: 8px;
    cursor: pointer;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .btns-numbers-item.btns-punto {
        text-align: center;
        padding-right: 0;
    }

    .btns-numbers-item:active {
        background-position: 0px 65px;
    }

    .btns-numbers-item.borrar {
        font-size: 14px;
        color: #dc0451;
        font-family: 'Omnes-Medium', sans-serif;
        text-transform: uppercase;
        text-align: center;
        padding: 0;
    }

.input-text-mini {
    font-size: 46.5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Omnes-Medium', sans-serif;
    background: none;
    border: none;
    width: 49px;
    height: 57px;
    color: #4e4f53;
    background: url("../img/bg-input-text.png") no-repeat center center;
}

.b10 .text-inputs-mini {
    font-size: 24px;
    display: block;
    text-align: right;
}

.b11 > p {
    line-height: 25px;
    font-size: 24px;
    text-align: center;
    font-family: 'Omnes-Medium', sans-serif;
}

.b11 span {
    font-size: 24px;
    color: #dc0451;
    display: block;
    display: none;
}

.b11 i {
    position: absolute;
    top: -4px;
    left: -5px;
    border: 1px solid #dc0451;
    width: 102%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url("../static/css/PIE.htc");
    height: 110%;
    display: none;
    z-index: 1;
}

.b11 input {
    background: none;
    border: none;
    width: 400px;
    height: 69px;
    line-height: 69px;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 24px;
    padding: 0px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    behavior: url("../static/css/PIE.htc");
    position: relative;
    z-index: 2;
    background: url("../img/line-input.jpg") repeat-x center center;
}

.b11.error span {
    display: block;
}

.b11.error i {
    display: block;
}

.b12 {
    background-color: #e4e5e6;
    padding-top: 25px;
    padding-bottom: 33px;
}

.b12-text {
    line-height: 1;
    color: #009b3a;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 32px;
    text-align: center;
}

    .b12-text p {
        margin-bottom: 0;
    }

.b12-lis-item {
    margin-top: 13px;
}

    .b12-lis-item ul {
        font-size: 0;
        text-align: center;
    }

    .b12-lis-item li {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        line-height: 1;
        font-size: 22px;
        text-align: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .b12-lis-item li:first-child {
            width: 50%;
            color: #0036a6;
            text-align: right;
            padding-right: 5px;
        }

    .b12-lis-item strong {
        font-family: 'Omnes-Medium', sans-serif;
    }

    .b12-lis-item:first-child {
        margin-top: 0;
    }

.b13.headtwo .b13-thcol1 {
    width: 408px;
    line-height: 40px;
    background-color: #0036a6;
    color: #fff;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 24px;
    text-align: center;
    -webkit-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    behavior: url("../static/css/PIE.htc");
}

.b13.headtwo .b13-thcol2 {
    width: 372px;
}

.b13.headtwo .b13-tbody-item .b13-colors1 {
    -webkit-border-radius: 0;
    border-radius: 0;
    behavior: none;
    width: 408px;
}

.b13.headtwo .b13-tbody-item .b13-colors2 {
    width: 372px;
}

.b13-thead {
    width: 100%;
}

    .b13-thead ul {
        font-size: 0;
        text-align: right;
    }

    .b13-thead li {
        display: inline-block;
        vertical-align: middle;
    }

        .b13-thead li .inner-head {
            height: 40px;
            line-height: 100%;
            display: table-cell;
            vertical-align: middle;
            width: 2000px;
            text-align: center;
        }

.b13-thcol1 {
    width: 452px;
}

.b13-thcol2 {
    width: 328px;
    line-height: 40px;
    background-color: #0036a6;
    color: #fff;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 24px;
    text-align: center;
    -webkit-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    behavior: url("../static/css/PIE.htc");
}

.b13-tbody {
    border-bottom: 1px solid #e4e5e6;
}

.b13-tbody-item ul {
    display: table;
}

.b13-tbody-item li {
    display: table-cell;
    vertical-align: middle;
}

.b13-tbody-item:first-child .b13-colors1 {
    border-top: 1px solid #e4e5e6;
    -webkit-border-radius: 15px 0px 0px 0px;
    border-radius: 15px 0px 0px 0px;
    behavior: url("../static/css/PIE.htc");
}

.b13-td {
    line-height: 25px;
    font-size: 21px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 2px 7px 8px;
}

    .b13-td.b13-colors1 {
        width: 452px;
        background-color: #e4e5e6;
        border: 1px solid #e4e5e6;
        border-top: 1px solid #fff;
    }

    .b13-td.b13-colors2 {
        width: 328px;
        background-color: #fff;
        border-left: 1px solid #fff;
        border-top: 1px solid #e4e5e6;
        border-right: 1px solid #e4e5e6;
        border-bottom: 1px solid #fff;
    }

.b13-text {
    font-size: 18px;
    font-family: 'Omnes-Medium', sans-serif;
    text-align: center;
}

    .b13-text p {
        margin: 0;
    }

.b13 .g-pager .wrapp-pager {
    margin-bottom: 0px;
}

.b13 .bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 431px;
}

.b13 .wrap-item {
    float: left;
    list-style: outside none none;
    position: relative;
    width: 780px;
}

.bo-b13 .b13-thcol1 {
    width: 558px;
}

.bo-b13 .b13-thcol2 {
    width: 427px;
}

.bo-b13 .b13-td.b13-colors1 {
    width: 558px;
}

.bo-b13 .b13-colors2 {
    width: 427px;
}

.inputs-mini.n-text span {
    display: none;
}

.inputs-mini {
    text-align: center;
}

    .inputs-mini span {
        display: block;
        text-align: right;
        font-size: 24px;
    }

    .inputs-mini ul {
        font-size: 0;
        display: inline-block;
    }

    .inputs-mini li {
        font-size: 61px;
        display: inline-block;
    }

    .inputs-mini input {
        border: none;
        background: none;
        text-align: center;
        background: url("../img/bg-input-mini.png") no-repeat center center;
        width: 62px;
        height: 90px;
        display: block;
        margin: 0px 3px;
        font-family: 'Omnes-Medium', sans-serif;
        color: #4e4f53;
    }






.b2.bo .b2-text p {
    font-size: 20px;
}

.b2.bo .b2-text.fz22 p {
    font-size: 22px;
}

.b2-cnt {
    border: 1px solid #00b2a9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.b2-title {
    font-size: 0;
    text-align: center;
    padding: 15px 20px 0px 15px;
}

    .b2-title h3 {
        color: #00b2a9;
        font-family: 'Omnes-Medium', sans-serif;
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 0;
    }

.b2-text {
    background-color: #e4e5e6;
    text-align: center;
    padding: 15px 20px;
}

    .b2-text.pbt2 {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .b2-text h4 {
        color: #0036a6;
        font-family: 'Omnes-Medium', sans-serif;
        font-size: 30px;
        font-weight: normal;
        margin-bottom: 15px;
    }

    .b2-text p {
        font-size: 22px;
        margin-bottom: 0;
        line-height: 1.1;
    }

    .b2-text.pr0 {
        padding-right: 0;
        padding-left: 0;
    }

.b2-list {
    font-size: 0;
}

    .b2-list li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        line-height: 29px;
        font-size: 22px;
        text-align: left;
    }

        .b2-list li:first-child {
            color: #0036a6;
            text-align: right;
            padding-right: 15px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    .b2-list strong {
        font-family: 'omnessemibold', sans-serif;
        font-weight: normal;
    }

    .b2-list i {
        color: #009b3a;
        font-family: 'omnessemibold', sans-serif;
        font-style: normal;
    }

    .b2-list.title li {
        color: #0039a6;
        font-family: 'omnessemibold';
    }

    .b2-list.subtitle li {
        color: #0039a6;
    }

.b2-list48 li {
    width: 48%;
}

.www {
    top: -100%;
    left: 100%;
}

.toltip {
    height: 80px;
    background-color: #fff;
}

    .toltip p {
        padding: 11px 7px 0px 7px;
        width: 188px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 80px;
        font-size: 16px;
        line-height: 1.1;
        font-style: italic;
        border: 1px solid #0036a6;
    }

.c-tol {
    position: absolute;
    top: 5px;
    right: 5px;
}

.tr1 {
    width: 0;
    height: 0;
    display: inline-block;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: 0;
    left: -18px;
    z-index: 4;
    bottom: 0;
    margin: auto;
}

.tr2 {
    width: 0;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -20px;
    height: 0;
    position: absolute;
    display: inline-block;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #0036a6 transparent transparent;
}











.b3 {
    font-size: 0;
}

.b3-text {
    line-height: 27px;
    font-size: 24px;
}

    .b3-text p {
        margin-top: 10px;
        margin-bottom: 0;
    }

        .b3-text p:first-child {
            margin-top: 0;
        }

    .b3-text strong {
        color: #0036a6;
        font-family: 'Omnes-Medium', sans-serif;
        font-weight: normal;
        text-decoration: underline;
    }

.b3-block-color {
    font-size: 0;
}

.b3-btn {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    height: 50px;
    line-height: 50px;
    background-color: #8e8f90;
    color: #fff;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 24px;
    text-align: center;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    behavior: url("../static/css/PIE.htc");
}

    .b3-btn:first-child {
        -webkit-border-radius: 3px 0px 0px 3px;
        border-radius: 3px 0px 0px 3px;
    }

    .b3-btn.active {
        background-color: #009b3a;
        font-family: 'omnessemibold', sans-serif;
    }











.b4-block {
    border: 1px solid #00b2a9;
    display: table-cell;
    vertical-align: middle;
}

.b4-text1 {
    color: #00b2a9;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 32px;
}

    .b4-text1 p {
        margin-bottom: 0;
    }

.b4-text2 {
    line-height: 41px;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 30px;
}

    .b4-text2 p {
        margin-bottom: 0;
    }











.b5-list {
    width: 330px;
    display: inline-block;
    border: 2px solid #e4e5e6;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}

    .b5-list p:first-child {
        margin-top: 5px;
        min-height: 73px;
    }

    .b5-list p {
        font-size: 22px;
        line-height: 1.1;
        margin-bottom: 0;
    }

    .b5-list span {
        color: #009b3a;
    }

.b5 {
    width: 690px;
    margin: auto;
}

    .b5 .item-slider {
        float: left;
        list-style: outside none none;
        position: relative;
        width: 690px;
    }

    .b5 .bx-viewport {
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 220px;
    }

    .b5 .bx-wrapper .bx-pager.bx-default-pager a {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid #009b3a;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        behavior: url("../static/css/PIE.htc");
    }

        .b5 .bx-wrapper .bx-pager.bx-default-pager a:hover,
        .b5 .bx-wrapper .bx-pager.bx-default-pager a.active {
            background-color: #009b3a;
        }

    .b5 .bx-wrapper .bx-next {
        background: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22px 0 22px 20px;
        border-color: transparent transparent transparent #009b3a;
        margin-right: -53px;
    }

    .b5 .bx-wrapper .bx-prev {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22px 20px 22px 0;
        border-color: transparent #009b3a transparent transparent;
        margin-left: -53px;
    }

    .b5 .bx-wrapper .bx-prev {
        background: none;
    }

    .b5 .bx-wrapper .bx-pager {
        bottom: -35px;
    }

    .b5.ng .bx-wrapper .bx-pager {
        bottom: -55px;
    }

    .b5 .enlace-azul {
        line-height: 100%;
    }

    .b5 .g-pager {
        font-size: 0;
    }

        .b5 .g-pager p {
            margin-bottom: 0;
            font-size: 22px;
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .b5 .g-pager .wrapp-pager {
            line-height: 100%;
            margin-bottom: 0;
        }

            .b5 .g-pager .wrapp-pager a {
                margin-right: 8px;
            }

.slide-ventajas .bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 267px;
}

.slide-ventajas .item-slider {
    float: left;
    list-style: none;
    position: relative;
    width: 690px;
}


.b6 p {
    font-size: 22px;
    margin-bottom: 0;
}

    .b6 p span {
        color: #009b3a;
    }

.b6.bo p {
    font-size: 27px;
}

.b7 p {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1;
}

.b7 span {
    color: #009b3a;
}

.b7 img {
    margin: auto;
    display: block;
}

.b7 .bx-wrapper .bx-next {
    background: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 0 22px 20px;
    border-color: transparent transparent transparent #009b3a;
    margin-right: -53px;
}

.b7 .bx-wrapper .bx-prev {
    width: 0;
    height: 0;
    border-style: solid;
    background: none;
    border-width: 22px 20px 22px 0;
    border-color: transparent #009b3a transparent transparent;
    margin-left: -53px;
}

.b7 .bx-pager.bx-default-pager a {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #009b3a;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    behavior: url("../static/css/PIE.htc");
}

.b7 .bx-wrapper .bx-pager.bx-default-pager a:hover,
.b7 .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #009b3a;
}

.wrapper-item ul {
    width: 740px;
    font-size: 0;
}

.wrapper-item li {
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    width: 232px;
    height: 120px;
    border: 2px solid #e4e5e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 25px;
    margin-right: 14px;
    text-align: center;
}

    .wrapper-item li article {
        display: table-cell;
        vertical-align: middle;
        width: 230px;
        height: 120px;
    }

    .wrapper-item li p {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        text-align: left;
    }

        .wrapper-item li p span {
            color: #009b3a;
        }

    .wrapper-item li img {
        display: inline-block;
        vertical-align: middle;
    }

.b7 .bx-viewport {
    width: 100%;
    height: 293px;
    overflow: hidden;
    position: relative;
}

.b7 .wrapper-item {
    float: left;
    width: 730px;
    position: relative;
    margin-right: 25px;
}

.b8-text {
    line-height: 1;
    color: #009b3a;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 24px;
}

    .b8-text p {
        margin-bottom: 0;
        font-size: 34px;
    }

.b9-text1 {
    line-height: 36px;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 34px;
}

    .b9-text1 p {
        margin-bottom: 0;
    }

.b9-text2 {
    line-height: 33px;
    font-family: 'Omnes-Medium', sans-serif;
    font-size: 30px;
}

    .b9-text2 p {
        margin-bottom: 0;
    }

.b9-block {
    border: 1px solid #e4e5e6;
    border-top: none;
    margin-top: -7px;
}

.footer-copy {
    overflow: hidden;
    font-size: 13px;
    height: 32px;
}

    .footer-copy .wancho {
        overflow: hidden;
        margin-top: 9px;
    }

.footer-copy-left {
    float: left;
}

    .footer-copy-left p {
        margin: 0;
    }

.footer-copy-right {
    float: right;
}

.staffcreativa {
    position: relative;
    padding-right: 0.45em;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
    font-family: 'arial';
}

    .staffcreativa:after {
        content: '\e60e';
        font-family: 'icomoon';
        font-size: 0.7em;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1;
        position: absolute;
        right: 0;
        speak: none;
        text-transform: none;
        top: 0.1em;
    }

.link-staff:hover .staffcreativa {
    color: #000;
}

@media screen and (max-width: 620px) {
    .footer-copy {
        height: auto;
        text-align: center;
        font-size: 12px;
        margin: auto;
        padding: 8px 0 12px;
    }

    .footer-copy-left {
        float: none;
    }

    .footer-copy-right {
        float: none;
    }
}

.header {
    position: relative;
}

    .header .header-logo {
        text-align: center;
    }

        .header .header-logo img {
            display: block;
        }

    .header .menu {
        text-align: center;
    }

    .header .menu-item {
        display: inline-block;
    }

    .header .menu-link {
        display: inline-block;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        -ms-transition: all 0.25s;
        transition: all 0.25s;
    }

        .header .menu-link.active,
        .header .menu-link:hover {
            background-color: #d3d3d3;
        }

.responsive-logo {
    margin-top: 10px;
    width: 80%;
    display: block;
}

    .responsive-logo img {
        display: block;
        width: 100%;
        height: auto;
    }

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    cursor: pointer;
    -webkit-transition: all 0.45s ease;
    -moz-transition: all 0.45s ease;
    -o-transition: all 0.45s ease;
    -ms-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

    .menu-overlay.active {
        z-index: 1000;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
    }

.menu-mobile-close,
.menu-mobile-open {
    background-color: #6bc5dd;
    -webkit-border-radius: 7%;
    border-radius: 7%;
    behavior: url("../static/css/PIE.htc");
    color: #fff;
    cursor: pointer;
    font-size: 28px;
    height: 42px;
    line-height: 42px;
    position: fixed;
    right: 5px;
    text-align: center;
    top: 5px;
    -webkit-transition: all 0.45s ease;
    -moz-transition: all 0.45s ease;
    -o-transition: all 0.45s ease;
    -ms-transition: all 0.45s ease;
    transition: all 0.45s ease;
    width: 42px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.menu-mobile-open {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: hidden;
    z-index: 1002;
}

    .menu-mobile-open.scrolling {
        opacity: 0.6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
    }

    .menu-mobile-open:hover {
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }

    .menu-mobile-open.active {
        visibility: hidden;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        right: 220px;
        z-index: 1000;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

.menu-mobile-close {
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    z-index: 1000;
    background: #fff;
    color: c-first;
}

    .menu-mobile-close.active {
        visibility: visible;
        opacity: 1;
        -ms-filter: none;
        filter: none;
        right: 205px;
        z-index: 1002;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

.menu-sidebar {
    width: 200px;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    right: -200px;
    background: #fff;
    z-index: 1000;
    -webkit-transition: right 0.45s ease;
    -moz-transition: right 0.45s ease;
    -o-transition: right 0.45s ease;
    -ms-transition: right 0.45s ease;
    transition: right 0.45s ease;
}

    .menu-sidebar.active {
        right: 0;
    }

.menu-responsive {
    padding-top: 10px;
}

    .menu-responsive .menu-item {
        height: 48px;
        line-height: 48px;
        font-size: 16px;
    }

        .menu-responsive .menu-item a {
            display: block;
            text-indent: 20px;
        }

            .menu-responsive .menu-item a:hover,
            .menu-responsive .menu-item a.active {
                background-color: #6bc5dd;
                color: #fff;
            }

.cnt-wrapper,
.footer {
    position: relative;
    left: 0;
    -webkit-transition: left 0.45s ease;
    -moz-transition: left 0.45s ease;
    -o-transition: left 0.45s ease;
    -ms-transition: left 0.45s ease;
    transition: left 0.45s ease;
}

    .cnt-wrapper.active,
    .footer.active {
        left: -200px;
    }

.wrapper {
    overflow: hidden;
}

body.active {
    overflow: hidden;
}

@media screen and (max-width: 1018px) {
    .menu {
        display: none;
    }

    .menu-mobile-open {
        visibility: visible;
    }
}
