// Fuentes
omnes-lig = 'Omnes-Regular'
omnes-med = 'Omnes-Medium'
omnes-thin = 'Omnes-Thin'
omnes-reg = 'Omnes-Regular'
// Fuentes

// Colores
gristext1 = #4d4d4d
gristext2 = #717171
gristext3 = #8f8f8f
grisborde1 = #e4e4e4
grisfondo1 = #f4f4f4
celeste-text1 = #00b2a9
verde-text1 = #009b3a
// Colores

/* clearfix */  
cf()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both
/* end clearfix */ 

.mt320
	margin-top 320px
.w560
	width 560px
.c75
	width 75%
.mt15
	margin-top 15px
.ml20
	margin-left 20px

// ***Pantallas***
// seleccion-tipo / seleccion-cuenta
.j-main
	position relative
	.page-title
		.page-title-seccion
			border-top none
			border-right none
		.j-title-seccion
			border-top 1px solid grisborde1
			border-right 1px solid grisborde1
.j-page-text
	position absolute
	top 20px
	right 50px
	line-height 24px
	text-align right
	p
		color gristext2
		font-size 24px
		strong
			color gristext1
			font-family omnes-med
				

// terminos y condiciones
.j-conte1
	width 85%
	margin-left auto
	margin-right auto
	.j-title1
		color celeste-text1
		font-family omnes-lig
		font-size 30px
		text-align center
		border 1px solid grisborde1
		border-bottom none
		padding 10px 0px 0px
		
	.j-parrafo1
		background grisfondo1
		color gristext3
		font-size 20px
		text-align justify
		padding 10px 40px
		line-height 24px
		p
			margin-bottom 10px
		a
			color verde-text1
			font-family omnes-med
	
.w-afilia.w-afilia-columna
	width 900px
	cf()
	li
		width 320px
		float left
		box-sizing border-box
		position relative
		padding 20px
		&:before
			width 1px
			height 80px
			background #d6f2f1
			position absolute
			top 30px
			left 0
		span
			border-bottom none
	li:first-child
		width 260px
		&:before
			display none
	
	
		
			