// Fuentes
omnes-lig = 'Omnes-Regular'
omnes-med = 'Omnes-Medium'
omnes-thin = 'Omnes-Thin'
omnes-reg = 'Omnes-Regular'

.c-text-duo
	p,
	img 
		inlineblock()
		vertical-align middle
		margin 0 5px
	p
		width 520px
///GENERAL COPIAR
//Text align centeer
.ac
	text-align center
.al
	text-align left
.ar
	text-align right
.fl
	float left
.fr
	float right 	


.c-text-info
	font-size 24px
	line-height 130%
	strong 
		color #009b3a
.fz14	
	font-size 14px

.fz24	
	font-size 24px	
.c-form.c-form-number
	li
		&.in-monto
			width 310px
			&.in-dolares
				width 250px
			input
				text-align right
				box-sizing border-box 
				padding 0 10px
		input
			font-size 60px
			padding 0
			margin-top 0
	
.moneda-simbolo,
.moneda-simbolo-text
	font-family omnes-reg
	color #808080
	inlineblock()
	vertical-align middle
.moneda-simbolo
	font-size 30px
	margin-right 20px
.moneda-simbolo-text
	font-size 18px
	width 180px
	margin-left 20px
	text-align left
	
.-cnt-celular-afiliado.w420
	width 420px
	.-caja-uno
		span
			font-size 30px
			
.botons-duo
	font-size 0
	.item-botons-duo
		font-size 16px
		inlineblock()
		vertical-align middle
		width 50%

// tabs
.wancho-tab
	width 500px
	overflow hidden
	.content-billete
		overflow hidden
		a
			float left
			margin-right 10px
			margin-bottom 10px
		.bt-punteado,
		.oscuro
			float none
			position relative
			img
				position absolute
				top 8px
				right 8px
				

.page-title
	.page-title-seccion.ml0
		margin-left 0
		

.box-selection
	text-align left
	inlineblock()
	
	.content-box-selection
		position relative
	.icon-flecha-verde
		margin-left 10px
	.title-box-selection
		font-size 20px
		color #666767
		display block
		margin-bottom 5px
		vertical-align middle
	.number-box-selection
		display table-cell
		color #00a6cf
		font-size 28px
		vertical-align middle
		padding-right 30px
		span
			width 45px
			height 45px
			border 5px solid #00a6cf
			display block
			text-align center
			border-radius 50%
			box-sizing border-box
			line-height 33px
			font-weight 900
	.bg-box-selection
		display table-cell
		width 400px
		height 100px
		background-color #f4f4f4
		vertical-align middle
		font-size 0
		border-radius 10px
		behavior url(static/css/PIE.htc)
		&.box-mini
			height 60px
		p
			color #696969
			inlineblock()
			vertical-align middle
			font-size 27px
			width 250px
			box-sizing border-box
			padding-left 10px
		a
			inlineblock()
			vertical-align middle
			font-size 24px
			width 150px
			box-sizing border-box
			padding-right 10px
			text-align right
			color #878787
			text-decoration underline
	
	