// Mixin
inlineblock()
	display inline-block
	*display inline
	zoom 1

// Fuentes
omnes-lig = 'Omnes-Regular'
omnes-med = 'Omnes-Medium'
omnes-thin = 'Omnes-Thin'
omnes-reg = 'Omnes-Regular'
// Fuentes

// Colores
gris-text1 = #8f8f8f
gris-text2 = #4d4d4d
gris-input1 = #e0e0e0
gris-borde1 = #e4e4e4
gris-borde2 = #bbbbbb
gris-pass = #313131
// Colores
		
	
.cambio-clave
	.c-main		
		.c-ingresa-clave
			text-align center
			margin-left auto
			margin-right auto
			figure, .c-texto2
				inlineblock()
				vertical-align middle
			figure
				padding-top 17px
.c-texto2
	width 470px
	line-height 100%
	color gris-text2
	font-family omnes-med
	font-size 50px

.c-texto3
	color gris-text1
	font-size 22px
	text-align center
				
.ingreso-clave
	.c-ingresa-clave .c-form
		margin-bottom 20px !important
		

.c-form
	&.form-mini
		ul 
			li 
				height 50px
				width 40px
				margin 0px
				border-radius 8px
				line-height 52
				input
					font-size 36px
					height 52px
				
	ul
		inlineblock()
		vertical-align middle
	li
		inlineblock()
		vertical-align top
		width 75px
		box-shadow: inset 0px 2px 4px #999;
		background gris-input1
		border 1px solid gris-borde2
		border-radius 15px
		behavior url(static/css/PIE.htc)
		margin 0px 7px
		height 90px
		line-height 90px
		overflow none
		background url(../images/gradiente-campo-monto.png)
		input
			width 100%
			background none
			color gris-pass
			user-select none
			font-size 120px
			text-align center
			border none
			margin-top -30px
			padding 10px 0