// Fuentes
omnes-lig = 'Omnes-Regular'
omnes-med = 'Omnes-Medium'
omnes-thin = 'Omnes-Thin'
omnes-reg = 'Omnes-Regular'
// Fuentes

// Colores
gris1-fondo = #f4f4f4
gris-text1 = #5c5c5c
gris-text2 = #7f7f7f

.consulta-saldos
	.s-main
		.s-conte
			max-width 550px
			background gris1-fondo
			border-radius 10px
			behavior url(static/css/PIE.htc)
			padding-top 20px
			margin auto
			.s-item
				table
					width 440px
					text-align left
					thead
						tr
							th
								color gris-text1
								font-family Omnes-Medium
								font-size 22px
								text-align right
								padding-bottom 20px
							th:first-child
								width 300px
								text-align left
					tbody
						tr
							td
								color gris-text2
								font-size 18px
								text-align right
								padding-bottom 20px
							td:first-child
								width 300px
								text-align left
