.s-consultas 
	padding-bottom 20px
	.consulta-movimientos
		cf()
		.saldo-disponible
			width 26.3671875%
			float left
			background-color gris-bg
			padding-top 10px
			padding-bottom 20px
			text-align right 
			.inner-saldo
				inlineblock()
				text-align left
				margin-right 40px
				.title-ahorro
					color #7f7f7f
					font-size 22px
				.title-saldo					
					color #7f7f7f
					font-size 15px
					font-family omnes-med
				.importe-ahorro
					font-size 27px
					color #4d4d4d
					
				
		.lista-movimientos
			width 59.765625%
			padding-top 10px
			padding-bottom 20px			
			float left
			background-color gris-bg
			min-height 230px
			font-size 18px
			color #7f7f7f
			border-radius 0px 10px 10px 10px
			behavior url(static/css/PIE.htc)
			table
				margin 0
				margin-left 30px
				text-align left
				th 
					color #5c5c5c
					font-size 18px
					font-family omnes-med
					width 160px
									
				td, th 
					width 160px	
					padding-bottom 25px
					
				td:first-child, th:first-child
					width 230px
					
				.mov-monto
					color rojo-tex
				.color-azul
					color azul-tex
	.consulta-head	
		.saldo-disponible, .lista-movimientos
			min-height 0
			background none

			
		.lista-movimientos
			padding-bottom 0
			table
				th
					padding-bottom 20px
					
					
	.consulta-controles
		margin-top 45px
		cf()
		.botones-left
			float left
			width 200px
			
		.botones-right
			float right
			.btn-imprimir
				.btn-action 
					.ico-x
						background url('../images/icon-printer.png') no-repeat
						width 30px
						height 23px
						left 4px
					.bt-text
						padding-left 35px
			.btn-solicitar
				.btn-action 
					width 370px
					.ico-x
						background url('../images/icon-clave.png') no-repeat
						width 47px
						height 33px
						left 8px
					.bt-text
						padding-left 63px	
											
			