.d-table {
  display: table;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
.d-table .d-cell {
  display: table-cell;
  vertical-align: middle;
}
/* clearfix */
/* end clearfix */
.abs {
  position: absolute;
}
.l15 {
  left: 15px;
}
.t0 {
  top: 0;
}
.b0 {
  bottom: 0;
}
.b45 {
  bottom: 45px;
}
.b15 {
  bottom: 15px;
}
.pr {
  position: relative;
}
.grid {
  display: none;
  box-sizing: border-box;
  border: 1px solid #f00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 768px;
  background: url("../static/images/skin.png") center center no-repeat;
  opacity: 0.2;
  z-index: -1;
}
.ib {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.vm {
  vertical-align: middle;
}
.vt {
  vertical-align: top;
}
.clearfix {
  zoom: 1;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.w160 {
  min-width: 160px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w120 {
  width: 120px;
}
.w140 {
  width: 140px;
}
.w180 {
  width: 180px;
}
.w315 {
  width: 315px;
}
.w480 {
  width: 480px;
}
.h35 {
  min-height: 35px;
}
.h130 {
  min-height: 130px;
}
.h100 {
  min-height: 100px;
}
.h80 {
  height: 70px;
}
.s600 {
  max-width: 600px;
}
.s725 {
  max-width: 725px;
}
.s560 {
  max-width: 560px;
}
.s285 {
  max-width: 285px;
}
.s200 {
  max-width: 200px;
}
.b0 {
  bottom: 0;
}
.ml0 {
  margin-left: 0;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml60 {
  margin-left: 60px;
}
.ml70 {
  margin-left: 70px;
}
.ml150 {
  margin-left: 150px;
}
.ml100 {
  margin-left: 100px;
}
.ml190 {
  margin-left: 190px;
}
.mr0 {
  margin-right: 0 !important;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}
.mt120 {
  margin-top: 120px;
}
.mt140 {
  margin-top: 140px;
}
.mt150 {
  margin-top: 150px;
}
.mt160 {
  margin-top: 160px;
}
.mt170 {
  margin-top: 170px;
}
.mt180 {
  margin-top: 180px;
}
.mt200 {
  margin-top: 200px;
}
.mt210 {
  margin-top: 210px;
}
.mt220 {
  margin-top: 230px;
}
.mt230 {
  margin-top: 240px;
}
.mt250 {
  margin-top: 250px;
}
.mt260 {
  margin-top: 260px;
}
.mt270 {
  margin-top: 270px;
}
.mt280 {
  margin-top: 280px;
}
.mt290 {
  margin-top: 290px;
}
.mt300 {
  margin-top: 300px;
}
.mt310 {
  margin-top: 310px;
}
.mt320 {
  margin-top: 320px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb110 {
  margin-bottom: 110px;
}
.mb120 {
  margin-bottom: 120px;
}
.mb130 {
  margin-bottom: 130px;
}
.mb140 {
  margin-bottom: 140px;
}
.mb150 {
  margin-bottom: 150px;
}
.mb160 {
  margin-bottom: 160px;
}
.mb170 {
  margin-bottom: 170px;
}
.mb180 {
  margin-bottom: 180px;
}
.mb185 {
  margin-bottom: 185px;
}
.mb190 {
  margin-bottom: 190px;
}
.mb200 {
  margin-bottom: 200px;
}
.mb210 {
  margin-bottom: 210px;
}
.mb220 {
  margin-bottom: 220px;
}
.mb230 {
  margin-bottom: 230px;
}
.mb240 {
  margin-bottom: 240px;
}
.mb250 {
  margin-bottom: 250px;
}
.mb260 {
  margin-bottom: 260px;
}
.mb270 {
  margin-bottom: 270px;
}
.mb280 {
  margin-bottom: 280px;
}
.mb290 {
  margin-bottom: 290px;
}
.mb300 {
  margin-bottom: 300px;
}
.mb310 {
  margin-bottom: 310px;
}
.mb315 {
  margin-bottom: 315px;
}
.mb320 {
  margin-bottom: 320px;
}
.c100 {
  width: 100%;
}
.c90 {
  width: 90%;
}
.c95 {
  width: 95%;
}
.c80 {
  width: 80%;
}
.c70 {
  width: 70%;
}
.c60 {
  width: 60%;
}
.c65 {
  width: 65%;
}
.c55 {
  width: 55%;
}
.c50 {
  width: 50%;
}
.c45 {
  width: 45%;
}
.c40 {
  width: 40%;
}
.c35 {
  width: 35%;
}
.c30 {
  width: 30%;
}
.c25 {
  width: 25%;
}
.c20 {
  width: 20%;
}
.c10 {
  width: 10%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ar {
  text-align: right;
}
.al {
  text-align: left;
}
.ma {
  margin-left: auto;
  margin-right: auto;
}
.pt0 {
  padding-top: 0 !important;
}
.pt20 {
  padding-top: 20px;
}
.pl70 {
  padding-left: 70px;
}
.pl50 {
  padding-left: 50px;
}
.pl45 {
  padding-left: 45px;
}
.pr45 {
  padding-right: 45px;
}
.pt50 {
  padding-top: 50px;
}
.pt70 {
  padding-top: 70px;
}
.pt75 {
  padding-top: 75px;
}
.pr10 {
  padding-right: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb100 {
  padding-bottom: 100px;
}
.p0 {
  padding: 0;
}
.h380 {
  min-height: 380px;
}
body {
  font-family: 'Dax-Bold';
}
h1,
ul,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
.wrapper {
  box-sizing: border-box;
  height: 768px;
  max-width: 1024px;
  min-width: 960px;
  margin: auto;
  position: relative;
}
