.g-title-1 h2 {
  line-height: 100%;
  color: #00add0;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 32px;
  margin-bottom: 0;
  font-weight: normal;
}
.g-subtitle-1 h3 {
  line-height: 25px;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 27px;
  margin-bottom: 0;
  font-weight: normal;
}
.g-subtitle-1 strong {
  color: #009b3a;
  font-weight: normal;
}
.g-parrafo1 h3 {
  line-height: 27px;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  margin-bottom: 0;
}
.g-parrafo1 h3 strong {
  color: #009b3a;
  font-weight: normal;
}
.g-parrafo1 p {
  line-height: 27px;
  font-family: 'Omnes-Regular', sans-serif;
  font-size: 24px;
  margin-bottom: 0;
}
.g-parrafo2 {
  line-height: 21px;
  font-size: 22px;
}
.g-parrafo2 p {
  margin-bottom: 0;
}
.g-parrafo2 p strong {
  color: #0036a6;
  font-family: 'Omnes-Medium', sans-serif;
  font-weight: normal;
}
.g-parrafo2.g-parrafo2 {
  font-size: 24px;
}
.slider-terminos .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 288px;
}
.slider-terminos .item-terminos {
  float: left;
  list-style: none;
  position: relative;
  width: 738px;
}
.g-trio-items li {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #f4f5f5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.g-trio-items li strong {
  display: block;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-weight: normal;
  line-height: 1;
}
.g-trio-items li p {
  margin: 0;
  line-height: 1;
}
.g-trio-items li span {
  display: block;
  line-height: 1;
}
.g-trio-items li i {
  font-style: normal;
  color: #009b3a;
}
.g-trio-items li figure img {
  display: block;
  margin: auto;
}
