.wancho-2 {
  max-width: 1024px;
  margin: auto;
}
.botones .wrapper {
  height: 768px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1024px;
  margin: auto;
  position: relative;
}
.botones .grid {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #f00;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 768px;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  z-index: -1;
}
#header {
  background-color: #f9f9f9;
  border-bottom: 3px solid #009b3a;
  color: #808080;
  font-family: 'Omnes-Regular', sans-serif;
  height: 70px;
  padding: 0 20px;
  font-size: 22px;
  overflow: hidden;
}
#header #logo {
  background: url("../img/logo.png") 0 50% no-repeat;
  float: left;
  height: 68px;
  width: 251px;
}
#header ul {
  float: right;
  margin-top: 18px;
  overflow: hidden;
}
#header li {
  float: left;
  margin-left: 45px;
}
#header li:first-child {
  margin-left: 0;
}
#header span:first-child {
  margin-right: 10px;
}
#header #ico-telefono,
#header #ico-cajero {
  height: 31px;
}
#header #ico-telefono {
  background: url("../img/ico-telefono.png") no-repeat;
  width: 27px;
  display: inline-block;
}
#header #ico-cajero {
  background: url("../img/ico-cajero.png") no-repeat;
  width: 17px;
  display: inline-block;
}
.wrapper-teclado {
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 9999;
  width: 1016px;
  margin: auto;
  background-color: #000;
  font-size: 0;
  padding-left: 8px;
  padding-top: 9px;
  display: none;
}
.tecla-normal,
.tecla-oscura {
  width: 83px;
  height: 52px;
  border: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 30px;
  font-family: 'omnessemibold', sans-serif;
  color: #fff;
  text-align: center;
}
.tecla-normal.m-t,
.tecla-oscura.m-t {
  margin: 0px 9px 9px 0px;
}
.tecla-sp {
  width: 452px;
  height: 52px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 'omnessemibold', sans-serif;
  text-align: center;
  color: #fff;
  background: url("../img/bg-teclado-sp.png") no-repeat top left;
}
.tecla-sp input {
  background: none;
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
}
.tecla-sp i {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 220px;
}
.tecla-sp.m-t {
  margin: 0px 9px 9px 0px;
  border: none;
}
.tecla-sp.active {
  background-position: bottom left;
}
.tecla-sp.active>i {
  background-position: top left;
}
.tecla-normal {
  line-height: 48px;
  background: url("../img/bg-teclado-normal.png") no-repeat top left;
}
.tecla-normal.active {
  background-position: bottom left;
  color: #000;
}
.tecla-oscura {
  background: url("../img/bg-teclado-oscuro.png") no-repeat top left;
}
.tecla-oscura.active {
  background-position: bottom left;
  color: #000;
}
.tecla-oscura.active>i {
  background-position: top left;
}
.cnt-teclaoscura {
  background: url("../img/bg-teclado-normal.png") no-repeat top left;
  width: 83px;
  height: 52px;
  border: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 30px;
  font-family: 'omnessemibold', sans-serif;
  color: #fff;
  text-align: center;
}
.cnt-teclaoscura.m-t {
  margin: 0px 9px 9px 0px;
}
.cnt-teclaoscura input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  position: relative;
  z-index: 2;
}
.cnt-teclaoscura i {
  z-index: 1;
}
.cnt-teclaoscura.active {
  background-position: bottom left;
  color: #000;
}
.cnt-teclaoscura.active>i {
  background-position: top left;
}
.tecla-shift {
  width: 21px;
  height: 21px;
  background: url("../img/bg-teclado-shift.png") no-repeat bottom left;
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: absolute;
  top: 15px;
  left: 30px;
}
.borrar-teclado {
  width: 21px;
  height: 16px;
  background: url("../img/bg-borrar-teclado.png") bottom left;
  position: absolute;
  top: 17px;
  left: 31px;
}
.tecla-enter {
  width: 83px;
  height: 114px;
  position: absolute;
  top: 71px;
  right: 12px;
  background: url("../img/bg-teclado-enter.png") no-repeat top left;
  cursor: pointer;
}
.tecla-enter input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.tecla-enter input .bg-enter {
  z-index: 1;
}
.tecla-enter.active {
  background-position: bottom left;
}
.tecla-enter.active>i {
  background-position: top left;
}
.bg-enter {
  background: url("../img/bg-enter.png") bottom left;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 33px;
  height: 24px;
  position: absolute;
  top: 21px;
  left: 18px;
}
.icon-enter {
  background: url("../img/icon-enter.png") no-repeat bottom left;
  width: 26px;
  height: 9px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  top: 20px;
}
.tecla-disable {
  background: url("../img/bg-disable.png") no-repeat bottom left;
  color: #272727;
  cursor: inherit !important;
}
.tecla-disable input {
  display: none;
  cursor: inherit !important;
}
.tecla-disable .tecla-shift {
  background: url("../img/bg-shift.png") no-repeat bottom left;
}
.controles-slider {
  text-align: center;
  margin-top: 20px;
}
.controles-slider .arrow-prev,
.controles-slider .arrow-next,
.controles-slider .bx-pager {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.controles-slider .bx-pager {
  font-size: 22px;
  font-family: 'Omnes-Medium', sans-serif;
  line-height: 100%;
}
.controles-slider .bx-pager a {
  color: #8e8f90;
  margin-left: 5px;
}
.controles-slider .bx-pager a.active {
  color: #000;
  text-decoration: underline;
}
.controles-slider .arrow-prev {
  margin-top: 3px;
  margin-right: 10px;
  width: 119px;
  height: 20px;
}
.controles-slider .arrow-prev .bx-prev {
  background-image: url("../img/arrow-prev.png");
  width: 119px;
  height: 20px;
  display: none;
  overflow: hidden;
  width: 0;
}
.controles-slider .arrow-prev .bx-prev:first-child {
  display: block;
}
.controles-slider .arrow-prev .bx-prev.disable {
  width: 0;
}
.controles-slider .arrow-next {
  margin-top: 3px;
  margin-left: 10px;
  width: 119px;
  height: 20px;
}
.controles-slider .arrow-next .bx-next {
  background-image: url("../img/arrow-next.png");
  width: 119px;
  height: 20px;
  display: none;
  overflow: hidden;
}
.controles-slider .arrow-next .bx-next:first-child {
  display: block;
}
.controles-slider .arrow-next .bx-next.disable {
  width: 0;
}
.fancy-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.close-fancy {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 28px;
  height: 28px;
  background: url("../img/bt-close.png") no-repeat 0 0;
  cursor: pointer;
}
#fancybox-outer {
  -webkit-border-radius: 30px 0px 30px 0px;
  border-radius: 30px 0px 30px 0px;
  behavior: url("../static/css/PIE.htc");
}
.fancybox-bg {
  display: none;
}
.enlace-azul {
  font-size: 24px;
  font-family: 'Omnes-Medium', sans-serif;
  color: #0036a6;
  border-bottom: 1px solid #0036a6;
  display: inline-block;
  line-height: 100%;
}
.g-pager {
  font-size: 0;
}
.g-pager p {
  font-size: 22px;
  margin-bottom: 0px;
}
.g-pager strong {
  font-weight: normal;
  color: #009b3a;
}
.g-pager .wrapp-pager {
  margin: 3px 0px 0px 0px;
}
.g-pager .wrapp-pager a {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #8e8f90;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  behavior: url("../static/css/PIE.htc");
  font-size: 22px;
  margin: 0px 4px;
}
.g-pager .wrapp-pager a:hover,
.g-pager .wrapp-pager a.active {
  background-color: #009b3a;
}
.btn {
  border: none;
  background-color: #009b3a;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  color: #fff;
  -webkit-border-radius: 10px 0px 10px 0px;
  border-radius: 10px 0px 10px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  behavior: url("../static/css/PIE.htc");
}
.btn strong {
  font-family: 'omnessemibold', sans-serif;
  font-weight: normal;
}
.btn.blanco {
  border: 2px solid #009b3a;
  background-color: transparent;
  color: #009b3a;
}
.btn.left-celeste {
  background-color: #00b2a9;
  border-bottom: 4px solid #02928b;
  -webkit-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
  behavior: url("../static/css/PIE.htc");
}
.btn.buscar {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url("../static/css/PIE.htc");
}
.btn.disable {
  background-color: #ccebd8;
}
.btn.btn-azul {
  background-color: #0039a6;
}
.btn.rd-right-button {
  -webkit-border-radius: 0px 0px 10px 0;
  border-radius: 0px 0px 10px 0;
  behavior: url("../static/css/PIE.htc");
}
.btn.rd-left-top {
  -webkit-border-radius: 10px 0px 0px 0;
  border-radius: 10px 0px 0px 0;
  behavior: url("../static/css/PIE.htc");
}
.bo-btn-blanco {
  background-image: url("../img/bg-btnblanco.png");
  width: 233px;
  height: 91px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 30px;
  color: #009b3a;
}
.bo-btn-verde-r,
.bo-btn-verde-l,
.bo-btn-verde-r-mini,
.bo-btn-verde-l-mini {
  background-image: url("../img/bg-btn-verde-right.png");
  width: 360px;
  height: 91px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 1;
}
.bo-btn-verde-l {
  background-image: url("../img/bg-btn-verde-left.png");
}
.bo-btn-verde-r-mini,
.bo-btn-verde-l-mini {
  background-image: url("../img/bg-verde-right-mini.png");
  width: 234px;
  height: 91px;
}
.bo-btn-verde-l-mini {
  background-image: url("../img/bg-verde-left-mini.png");
}
.text-btnmini {
  font-size: 22px;
}
.text-btnbig {
  font-size: 30px;
  font-family: 'omnessemibold', sans-serif;
}
.text-retira {
  font-family: 'Omnes-Medium', sans-serif;
}
.bt-text-azul {
  display: inline-block;
  background-color: #0036a6;
  font-family: 'Omnes-Medium', sans-serif;
  color: #fff;
  font-size: 22px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 6px;
  text-align: center;
  line-height: 100%;
}
.btn-volver-1,
.btn-volver-2,
.btn-volver-3 {
  font-size: 24px;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 120px;
  height: 65px;
  text-align: center;
  background-repeat: no-repeat;
}
.btn-volver-1 span,
.btn-volver-2 span,
.btn-volver-3 span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 15px;
}
.btn-volver-1 {
  background-image: url("../img/btn-volver-1.png");
}
.btn-volver-2 {
  background-image: url("../img/btn-volver-2.png");
  width: 121px;
}
.btn-volver-3 {
  width: 235px;
  height: 64px;
  background-image: url("../img/btn-volver-3.png");
}
.wrap-botones {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 768px;
  z-index: -1;
}
.wrap-botones .btn-l {
  position: absolute;
}
.wrap-botones .btn-r {
  position: absolute;
}
.botonera-2 .ib {
  margin-left: 50px;
  margin-bottom: 20px;
}
.botonera-2 .no-margin {
  margin-left: 0;
}
