.g-parrafo-bo p {
  margin-bottom: 0;
  font-size: 27px;
  font-family: 'Omnes-Medium', sans-serif;
  line-height: 1.1;
}
.g-parrafo-bo span {
  color: #009b3a;
}
.g-parrafo-bo strong {
  font-weight: normal;
  font-family: 'Omnes-Regular', sans-serif;
  font-size: 27px;
}
.g-title-1.large h2 {
  font-size: 50px;
  font-family: 'Omnes-Medium', sans-serif;
  text-indent: 18px;
  color: #00b2a9;
}
.g-title-1.large h2 span {
  font-size: 30px;
  line-height: 1;
}
.g-title-1.large p {
  font-size: 30px;
  line-height: 1;
  color: #00b2a9;
  margin-top: 18px;
  font-family: 'Omnes-Medium', sans-serif;
}
.g-datos-1 p {
  font-size: 22px;
  margin-bottom: 0;
  line-height: 100%;
  margin-bottom: 13px;
}
.g-datos-1 a {
  width: 400px;
  height: 50px;
  background-color: #e4e5e6;
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
}
.g-datos-1 a span {
  font-size: 22px;
  float: right;
  line-height: 48px;
  text-decoration: underline;
}
.g-datos-1 a span:first-child {
  float: left;
  text-decoration: none;
  font-family: 'Omnes-Medium', sans-serif;
}
.g-datos-1 .wrap-g-datos-1 {
  position: relative;
}
.g-datos-1 .wrap-g-datos-1 img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 100%;
  bottom: 0;
  top: 0;
  margin: auto;
  margin-left: 20px;
}
.pager {
  width: 150px;
  margin: auto;
}
.pager p,
.pager span {
  margin: 0;
  display: inline-block;
  font-size: 20px;
  font-family: 'Omnes-Medium', sans-serif;
}
.pager span {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  behavior: url("../static/css/PIE.htc");
  text-align: center;
  font-size: 20px;
  font-family: 'Omnes-Medium', sans-serif;
  color: #fff;
  line-height: 21px;
  margin: 0 3px;
}
.pager span.act {
  background-color: #00b2a9;
}
.pager span.desac {
  background-color: #4e4f53;
}
.text-gg p {
  font-family: 'Omnes-Regular', sans-serif;
  color: #4e4f53;
  font-size: 22px;
  margin-bottom: 0;
}
.text-gg p strong {
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
}
.trio-items li {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  height: 270px;
  border: 2px solid #f4f5f5;
  margin: 0 5px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.trio-items li strong {
  display: block;
  text-align: center;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 22px;
  line-height: 1;
}
.trio-items li p {
  margin: 0;
  font-size: 22px;
  text-align: center;
  line-height: 1;
}
.trio-items li figure img {
  display: block;
  margin: auto;
}
.subtitle.bo h3 {
  font-size: 30px;
  color: #009b3a;
  margin-bottom: 0;
  font-family: 'Omnes-Medium', sans-serif;
  line-height: 1;
}
.subtitle.bo h3 span {
  color: #0036a6;
}
.input-large-bo input {
  background: none;
  border: none;
  width: 560px;
  height: 90px;
  font-size: 33px;
  font-family: 'Omnes-Medium', sans-serif;
  color: #4e4f53;
  line-height: 90px;
  padding: 0px 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../img/bg-input-large.png") no-repeat center center;
}
.sub-bold h3 {
  font-size: 32px;
  line-height: 1;
}
.sub-bold h3 span {
  color: #009b3a;
  font-size: 40px;
  font-family: 'omnessemibold', sans-serif;
}
.textos-big .toltip {
  height: 90px;
}
.textos-big .toltip p {
  height: 90px;
}
.textos-big .b2-list li {
  font-family: 'Omnes-Medium', sans-serif;
}
.textos-big .b2-title h3 {
  font-family: 'omnessemibold', sans-serif;
}
