.b1.big .b1-info h3 {
  font-size: 36px;
}
.b1.big .b1-text2,
.b1.big .b1-text3 {
  font-family: 'Omnes-Medium', sans-serif;
}
.b1-text1 {
  line-height: 100%;
  color: #00add0;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
}
.b1-text1 strong {
  font-weight: normal;
  font-size: 32px;
}
.b1-btn {
  display: inline-block;
  line-height: 36px;
  background-color: #00b2a9;
  color: #fff;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  -webkit-border-radius: 15px 0px 15px 0;
  border-radius: 15px 0px 15px 0;
  behavior: url("../static/css/PIE.htc");
  padding: 0 37px;
}
.b1-info h3 {
  line-height: 33px;
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 32px;
  margin-bottom: 0;
}
.b1-text2,
.b1-text3 {
  line-height: 33px;
  font-size: 32px;
}
.b1-text2.bo,
.b1-text3.bo {
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 30px;
}
.b1-text2 p,
.b1-text3 p {
  margin-top: 10px;
  margin-bottom: 0;
}
.b1-text2 p:first-child,
.b1-text3 p:first-child {
  margin-top: 0;
}
.b1-text2 strong,
.b1-text3 strong {
  color: #009b3a;
  font-family: 'Omnes-Medium', sans-serif;
  font-weight: normal;
}
.b1-text3 strong {
  font-size: 40px;
}
.b1-text4 {
  font-size: 24px;
}
.b1-text4 strong {
  font-family: 'omnessemibold', sans-serif;
}
.b1-text5 {
  font-size: 24px;
}
.b1-text5 strong {
  font-family: 'Omnes-Medium', sans-serif;
  font-weight: normal;
}
.b1-text6 {
  font-size: 32px;
  font-family: 'Omnes-Medium', sans-serif;
  line-height: 35px;
}
.b1-text6 p {
  margin: 0;
}
.b1-text6 strong {
  font-family: 'omnessemibold', sans-serif;
  font-weight: normal;
  color: #009b3a;
}
.b1-text7 {
  font-size: 30px;
  font-family: 'Omnes-Medium', sans-serif;
  line-height: 35px;
}
.b1-text7 p {
  margin: 0;
}
.b1-text7 strong {
  font-weight: normal;
  color: #00b2a9;
  font-size: 32px;
}
