.btns-numbers {
  width: 278px;
  font-size: 46px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.btns-numbers-item {
  background: url("../img/bg-btn.png");
  width: 87px;
  height: 65px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  line-height: 63px;
  text-align: right;
  font-family: 'omnessemibold', sans-serif;
  margin-bottom: 8px;
  cursor: pointer;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btns-numbers-item.btns-punto {
  text-align: center;
  padding-right: 0;
}
.btns-numbers-item:active {
  background-position: 0px 65px;
}
.btns-numbers-item.borrar {
  font-size: 14px;
  color: #dc0451;
  font-family: 'Omnes-Medium', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
}
.input-text-mini {
  font-size: 46.5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Omnes-Medium', sans-serif;
  background: none;
  border: none;
  width: 49px;
  height: 57px;
  color: #4e4f53;
  background: url("../img/bg-input-text.png") no-repeat center center;
}
.b10 .text-inputs-mini {
  font-size: 24px;
  display: block;
  text-align: right;
}
