.b11 > p {
  line-height: 25px;
  font-size: 24px;
  text-align: center;
  font-family: 'Omnes-Medium', sans-serif;
}
.b11 span {
  font-size: 24px;
  color: #dc0451;
  display: block;
  display: none;
}
.b11 i {
  position: absolute;
  top: -4px;
  left: -5px;
  border: 1px solid #dc0451;
  width: 102%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url("../static/css/PIE.htc");
  height: 110%;
  display: none;
  z-index: 1;
}
.b11 input {
  background: none;
  border: none;
  width: 400px;
  height: 69px;
  line-height: 69px;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  behavior: url("../static/css/PIE.htc");
  position: relative;
  z-index: 2;
  background: url("../img/line-input.jpg") repeat-x center center;
}
.b11.error span {
  display: block;
}
.b11.error i {
  display: block;
}
