.inputs-mini.n-text span {
  display: none;
}
.inputs-mini {
  text-align: center;
}
.inputs-mini span {
  display: block;
  text-align: right;
  font-size: 24px;
}
.inputs-mini ul {
  font-size: 0;
  display: inline-block;
}
.inputs-mini li {
  font-size: 61px;
  display: inline-block;
}
.inputs-mini input {
  border: none;
  background: none;
  text-align: center;
  background: url("../img/bg-input-mini.png") no-repeat center center;
  width: 62px;
  height: 90px;
  display: block;
  margin: 0px 3px;
  font-family: 'Omnes-Medium', sans-serif;
  color: #4e4f53;
}
