.b2.bo .b2-text p {
  font-size: 20px;
}
.b2.bo .b2-text.fz22 p {
  font-size: 22px;
}
.b2-cnt {
  border: 1px solid #00b2a9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b2-title {
  font-size: 0;
  text-align: center;
  padding: 15px 20px 0px 15px;
}
.b2-title h3 {
  color: #00b2a9;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 0;
}
.b2-text {
  background-color: #e4e5e6;
  text-align: center;
  padding: 15px 20px;
}
.b2-text.pbt2 {
  padding-top: 2px;
  padding-bottom: 2px;
}
.b2-text h4 {
  color: #0036a6;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 15px;
}
.b2-text p {
  font-size: 22px;
  margin-bottom: 0;
  line-height: 1.1;
}
.b2-text.pr0 {
  padding-right: 0;
  padding-left: 0;
}
.b2-list {
  font-size: 0;
}
.b2-list li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  line-height: 29px;
  font-size: 22px;
  text-align: left;
}
.b2-list li:first-child {
  color: #0036a6;
  text-align: right;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b2-list strong {
  font-family: 'omnessemibold', sans-serif;
  font-weight: normal;
}
.b2-list i {
  color: #009b3a;
  font-family: 'omnessemibold', sans-serif;
  font-style: normal;
}
.b2-list.title li {
  color: #0039a6;
  font-family: 'omnessemibold';
}
.b2-list.subtitle li {
  color: #0039a6;
}
.b2-list48 li {
  width: 48%;
}
.www {
  top: -100%;
  left: 100%;
}
.toltip {
  height: 80px;
  background-color: #fff;
}
.toltip p {
  padding: 11px 7px 0px 7px;
  width: 188px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 80px;
  font-size: 16px;
  line-height: 1.1;
  font-style: italic;
  border: 1px solid #0036a6;
}
.c-tol {
  position: absolute;
  top: 5px;
  right: 5px;
}
.tr1 {
  width: 0;
  height: 0;
  display: inline-block;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: 0;
  left: -18px;
  z-index: 4;
  bottom: 0;
  margin: auto;
}
.tr2 {
  width: 0;
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -20px;
  height: 0;
  position: absolute;
  display: inline-block;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #0036a6 transparent transparent;
}
