.b3 {
  font-size: 0;
}
.b3-text {
  line-height: 27px;
  font-size: 24px;
}
.b3-text p {
  margin-top: 10px;
  margin-bottom: 0;
}
.b3-text p:first-child {
  margin-top: 0;
}
.b3-text strong {
  color: #0036a6;
  font-family: 'Omnes-Medium', sans-serif;
  font-weight: normal;
  text-decoration: underline;
}
.b3-block-color {
  font-size: 0;
}
.b3-btn {
  display: inline-block;
  vertical-align: top;
  width: 90px;
  height: 50px;
  line-height: 50px;
  background-color: #8e8f90;
  color: #fff;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 24px;
  text-align: center;
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  behavior: url("../static/css/PIE.htc");
}
.b3-btn:first-child {
  -webkit-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
}
.b3-btn.active {
  background-color: #009b3a;
  font-family: 'omnessemibold', sans-serif;
}
