.b4-block {
  border: 1px solid #00b2a9;
  display: table-cell;
  vertical-align: middle;
}
.b4-text1 {
  color: #00b2a9;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 32px;
}
.b4-text1 p {
  margin-bottom: 0;
}
.b4-text2 {
  line-height: 41px;
  font-family: 'Omnes-Medium', sans-serif;
  font-size: 30px;
}
.b4-text2 p {
  margin-bottom: 0;
}
