
//centrado vertical
.d-table
	display table
	min-height 100%
	height 100%
	width 100%

	.d-cell
		display table-cell
		vertical-align middle
h3
	line-height 1.5
h2
	line-height 1.2
.c-verde
	color c-5
//centrado vertical1
.lh1
	line-height 1

.lh1-1
	line-height 1.1
.btn.lh3
	line-height 3
.lh3
	line-height 2
.btn.lh2-5
	line-height 2.5
.lh2-5
	line-height 2.5
.lh2-3
	line-height 2.3
.lh65	
	line-height 65px !important
.lh30
	line-height 30px
.lh48
	line-height 48px !important
	

/* clearfix */
cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
/* end clearfix */
inlineblock()
	display inline-block
	*display inline
	zoom 1


.azul-text
	color c-6
	font-size 25px
	font-family t-1
	a 
		text-decoration underline
	


.zz
	z-index 10
.fm
	font-family t-1
.bb
	box-sizing border-box
.abs
	position absolute
.l15
	left 15px
.l10
	left 10px
.l30
	left 30px	
.l60
	left 60px	
.t-37
	top -37px	
.t0
	top 0
.t8 
	top 8px
.t57
	margin-top 57px
.t45
	margin-top 45px
.t160
	top 160px
.t185
	top 185px
.t190
	top 190px
.t255
	top 255px
	
.t396
	top 396px
.t533
	top 533px	

.t662
	top 662px
			
.b0
	bottom 0
.b30
	bottom 30px
.b20
	bottom 20px	
.r0
	right 0
.r18
	right 18px
		
.r30
	right 30px
.l18
	left 18px
		
.l0
	left 0
.l45
	left 45px
.r180
	right 180px		
.l90
	left 90px
.l40
	left 40px
.l47
	left 47px
.l430
	left 430px
.l450
	left 450px
.b45
	bottom 45px
.pr
	position relative

// el bootstrap - clases generales de ajuste
.db 
	display block
.ib
	inlineblock()

.vm
	vertical-align middle

.vt
	vertical-align top
.vb
	vertical-align bottom
.oh
	overflow hidden

.clearfix
	cf()

// tamaños-letra
.fz0
	font-size 0
.fz12
	font-size 12px
.fz13
	font-size 13px
.fz14
	font-size 14px		
.fz15
	font-size 15px
.fz16
	font-size 16px	
.fz18
	font-size 18px
.fz20
	font-size 20px
.fz21
	font-size 21px
.fz22
	font-size 22px
.fz24
	font-size 24px	
.fz25
	font-size 25px
.fz27
	font-size 27px	
.fz30
	font-size 30px
.fz34
	font-size 34px
		
.fz34
	font-size 34px	
.medium
	font-family t-1
.fz32
	font-size 32px
.fz40
	font-size 40px
//anchos
.w160
	width 160px

.w90
	width 90px
.w70
	width 70px
.w100
	width 100px

.w120
	width 120px
.w137
	width 137px

.w140
	width 140px

.w150
	width 150px

.w155
	width 155px
.w200
	width 200px	
.w210
	width 210px
.w220
	width 220px
.w230
	width 230px
.w240
	width 240px
.w248
	width 248px	
.w245
	width 245px	
.w250
	width 250px
.w260
	width 260px
.w264
	width 264px	
	
.w275
	width 275px
.w270
	width 270px
.w100full
	width 100%	
.w280
	width 280px
	
.w286
	width 286px

.w295
	width 295px
.w308
	width 308px
.w320
	width 320px
.w330
	width 330px
.w350
	width 350px
.w340
	width 340px
.w360
	width 360px
		
.w375
	width 375px
.w400
	width 400px
.w410
	width 410px
.w420
	width 420px	
.w430
	width 430px	
.w450
	width 450px
.w475
	width 475px

.w486
	width 486px
.w480
	width 480px
.w490
	width 490px

.w500
	width 500px
.w510
	width 510px
.w520
	width 520px
.w530
	width 530px
.w505
	width 505px
.w540
	width 540px
.w560
	width 560px	
.w570
	width 570px	
.w590
	width 590px	
.w620
	width 620px
.w630
	width 630px	

.w600
	width 600px	
				
.w610
	width 610px	
.w678
	width 678px		
	
.w680
	width 680px		
.w685
	width 685px
.w720
	width 720px
.w730
	width 730px	
.w755
	width 755px
.w740
	width 740px
.w750
	width 750px

.w760
	width 760px
.w778
	width 778px
.w780
	width 780px
.w800
	width 800px
.w820
	width 820px
.w830
	width 830px
.w840
	width 840px

.w870
	width 870px
		
.w915
	width 915px
.w920
	width 920px

.w928
	width 928px
		
.w970
	width 970px

.w985
	width 985px
		
.w170
	width 170px
.w180
	width 180px

.w235
	width 235px

.w315
	width 315px

.w320
	width 320px

.w380
	width 380px
.w370
	width 370px
.w345
	width 345px
.w410
	width 410px
.w445
	width 410px
.w490
	width 490px
.w500
	width 500px
.w535
	width 535px
.w580
	width 580px
.w585
	width 585px
.w640
	width 640px
.w670
	width 670px
.w650
	width 650px

.w660
	width 660px

.w707
	width 707px

.w770
	width 770px
.w820
	width 820px
.w780
	width 780px

.w872
	width 872px

.w1270
	width 1270px

.mh295
	min-height 295px
	
.mh325
	min-height 325px
	
.mh510
	min-height 510px
.h27
	height 27px
.h35
	min-height 35px
.h60
	height 60px
.h65
	height 65px
.h68
	height 68px
.h67
	height 67px
.h70
	height 70px
.h75
	height 75px	
.h80
	height 80px
.h83
	height 83px
.h300
	height 300px	

.h90
	height 90px
.h109
	height 109px
.h115
	height 115px
.h130
	height 130px
.h148
	height 148px
.h150
	height 150px

.h220
	height 220px
.h270
	height 270px
.h284
	height 284px
		
.h368
	height 368px	
.h470
	height 470px	
.h510
	height 510px

.h520
	height 520px

.h614
	height 614px
	
.h616
	height 616px
	
.s600
	max-width 600px
.s725
	max-width 725px

.s560
	max-width 560px

.s285
	max-width 285px
.s200
	max-width 200px


// Positions
.b0
	bottom 0

// Margin left

.ml0
	margin-left 0
.ml10
	margin-left 10px
.ml15
	margin-left 15px
.ml18
	margin-left 18px	
.ml20
	margin-left 20px
	
.ml25
	margin-left 25px	
	
.ml30
	margin-left 30px
.ml35
	margin-left 35px	
.ml40
	margin-left 40px
.ml45
	margin-left 45px
.ml50
	margin-left 50px
.ml60
	margin-left 60px
.ml70
	margin-left 70px

.ml80
	margin-left 80px
	
.ml90
	margin-left 90px
.ml120
	margin-left 150px
.ml140
	margin-left 140px	
.ml150
	margin-left 150px
.ml100
	margin-left 100px
.ml190
	margin-left 190px
.ml320
	margin-left 320px
.ml320
	margin-left 312px
//Margin right
.mr0
	margin-right 0 !important
.mr5
	margin-right 5px
.ml5
	margin-left 5px
.mr10
	margin-right 10px
.mr15
	margin-right 15px
.mr20
	margin-right 20px
.mr22
	margin-right 22px
.mr30
	margin-right 30px
.mr35
	margin-right 35px	
.mr40
	margin-right 40px	
.mr45
	margin-right 45px
.mr50
	margin-right 50px
.mr55
	margin-right 55px
.mr60
	margin-right 60px
.mr65
	margin-right 65px
.mr80
	margin-right 80px
.mr90
	margin-right 90px
.mr95
	margin-right 95px

// Margin Top
.mt5
	margin-top 5px
.mt10
	margin-top 10px
.mt15
	margin-top 15px
.mt25
	margin-top 25px
.mt20
	margin-top 20px
.mt30
	margin-top 30px
.mt35
	margin-top 35px
.mt40
	margin-top 40px
.mt45
	margin-top 45px
.mt50
	margin-top 50px
.mt55
	margin-top 55px
.mt60
	margin-top 60px
.mt65
	margin-top 65px	
.mt67
	margin-top 67px

.mt70
	margin-top 70px
.mt75
	margin-top 75px
.mt80
	margin-top 80px
.mt85
	margin-top 85px
.mt90
	margin-top 90px
.mt100
	margin-top 100px
.mt105
	margin-top 105px	
.mt115
	margin-top 115px
.mt120
	margin-top 120px
.mt125
	margin-top 125px
.mt135
	margin-top 135px
.mt110
	margin-top 110px
	
.mt120
	margin-top 120px
		
.mt140
	margin-top 140px
.mt150
	margin-top 150px

.mt155
	margin-top 155px

.mt160
	margin-top 160px
.mt165
	margin-top 165px
.mt170
	margin-top 170px

.mt175
	margin-top 175px

.mt180
	margin-top 180px

.mt185
	margin-top 185px

.mt195
	margin-top 195px

.mt200
	margin-top 200px
.mt210
	margin-top 210px
.mt220
	margin-top 230px
.mt240
	margin-top 240px

.mt250
	margin-top 250px
.mt260
	margin-top 260px
.mt270
	margin-top 270px
.mt275
	margin-top 275px	
.mt280
	margin-top 280px
.mt290
	margin-top 290px
.mt295
	margin-top 295px
.mt300
	margin-top 300px
.mt310
	margin-top 310px
.mt320
	margin-top 320px
.mt350
	margin-top 350px
// Margin Botton
.mb0
	margin-bottom 0px

.mb5
	margin-bottom 5px
.mb10
	margin-bottom 10px
.mb15
	margin-bottom 15px
.mb20
	margin-bottom 20px
.mb22
	margin-bottom 22px
.mb25
	margin-bottom 25px
.mb30
	margin-bottom 30px
.mb35
	margin-bottom 35px
.mb40
	margin-bottom 40px
.mb45
	margin-bottom 45px
.mb50
	margin-bottom 50px
.mb55
	margin-bottom 55px
.mb57
	margin-bottom 50px	
.mb60
	margin-bottom 60px
.mb65
	margin-bottom 65px
.mb70
	margin-bottom 70px
.mb75
	margin-bottom 75px
.mb80
	margin-bottom 80px
.mb90
	margin-bottom 90px
.mb95
	margin-bottom 95px
.mb100
	margin-bottom 100px
.mb110
	margin-bottom 110px
.mb120
	margin-bottom 120px
.mb130
	margin-bottom 130px
.mb140
	margin-bottom 140px
.mb145
	margin-bottom 145px
.mb150
	margin-bottom 150px
.mb155
	margin-bottom 155px
.mb160
	margin-bottom 160px
.mb170
	margin-bottom 170px

.mb175
	margin-bottom 170px

.mb180
	margin-bottom 180px
.mb185
	margin-bottom 185px
.mb190
	margin-bottom 190px
.mb195
	margin-bottom 195px
.mb200
	margin-bottom 200px
.mb210
	margin-bottom 210px
.mb220
	margin-bottom 220px
.mb230
	margin-bottom 230px
.mb240
	margin-bottom 240px
.mb250
	margin-bottom 250px
.mb260
	margin-bottom 260px
.mb270
	margin-bottom 270px
.mb280
	margin-bottom 280px
.mb290
	margin-bottom 290px
.mb300
	margin-bottom 300px
.mb310
	margin-bottom 310px
.mb315
	margin-bottom 315px
.mb320
	margin-bottom 320px
.mb337
	margin-bottom 337px
	
.mb400
	margin-bottom 400px


.c100
	width 100%
.c90
	width 90%
.c95
	width 95%
.c80
	width 80%
.c70
	width 70%
.c60
	width 60%
.c65
	width 65%
.c56
	width 56%
.c55
	width 55%
.c50
	width 50%
.c45
	width 45%
.c44
	width 44%
.c40
	width 40%
.c35
	width 35%
.c30
	width 30%
.c25
	width 25%
.c20
	width 20%
.c10
	width 10%


//Floats
.fl
		float left
.fr
		float right
//align
.ar
		text-align right
.al
		text-align left
.ac
		text-align center

//margin
.ma
	margin-left auto
	margin-right auto
.p32
	padding 32px 0
.p46
	padding 46px 0	

.pt0
	padding-top 0
.pt12
	padding-top 12px
.pt10
	padding-top 10px	
.pt15
	padding-top 15px	
.pt20
	padding-top 20px
.pt25
	padding-top 25px	
.pt30
	padding-top 30px
.pt35
	padding-top 35px
.pl45
	padding-left 45px
.pt40
	padding-top 40px
.pt45
	padding-top 45px
.pt50
	padding-top 50px
.pt55
	padding-top 55px
.pt60
	padding-top 60px
.pt65
	padding-top 65px
.pt90
	padding-top 90px
.pt115
	padding-top 115px
.pt185
	padding-top 185px
.pl10
	padding-left 10px
.pl50
	padding-left 50px
.pl70
	padding-left 70px
.pl75
	padding-left 75px
.pl115
	padding-left 115px
.pl135
	padding-left 135px
.pr20
	padding-right 20px
.pr25
	padding-right 25px
.pr30
	padding-right 30px
.pr45
	padding-right 45px
.pr50
	padding-right 50px
.pr90
	padding-right 90px
.pt45
	padding-top 45px
.pt50
	padding-top 50px
.pt70
	padding-top 70px
.pt75
	padding-top 75px
.pt120
	padding-top 120px
.pt215
	padding-top 215px


.pr10
	padding-right 10px
.pb10
	padding-bottom 10px
.pb15
	padding-bottom 15px	
.pb20
	padding-bottom 20px
.pb25
	padding-bottom 25px	
.pb40
	padding-bottom 40px
.pb45
	padding-bottom 45px
.pb30
	padding-bottom 30px
.pb50
	padding-bottom 50px
.pb55
	padding-bottom 55px
.pb60
	padding-bottom 60px
.pb80
	padding-bottom 80px
.pb100
	padding-bottom 100px
.pb103
	padding-bottom 103px
.pb110
	padding-bottom 110px
.pb115
	padding-bottom 115px	
.pb120
	padding-bottom 120px
.pb130
	padding-bottom 130px
.pb160
	padding-bottom 160px
.pb200
	padding-bottom 200px
.pb215
	padding-bottom 215px
	
.p0
	padding 0
