.g-title-1
	h2
		line-height 100%
		color c-9
		font-family t-1
		font-size 32px
		margin-bottom 0
		font-weight normal

.g-subtitle-1
	h3
		line-height 25px
		font-family t-1
		font-size 27px
		margin-bottom 0
		font-weight normal
	strong
		color c-5
		font-weight normal

.g-parrafo1
	h3
		line-height 27px
		font-family t-1
		font-size 24px
		margin-bottom 0
		strong
			color c-5
			font-weight normal
	p
		line-height 27px
		font-family t-0
		font-size 24px
		margin-bottom 0

.g-parrafo2
	line-height 21px
	font-size 22px
	p
		margin-bottom 0
		strong
			color c-6
			font-family t-1
			font-weight normal
	&.g-parrafo2
		font-size 24px

.slider-terminos
	.bx-viewport
		width 100%
		overflow hidden
		position relative
		height 288px
	.item-terminos
		float left
		list-style none
		position relative
		width 738px


.g-trio-items
	li
		display inline-block
		vertical-align top
		border 2px solid #f4f5f5
		box-sizing border-box
		strong
			display block
			color c-5
			font-family t-1
			font-weight normal
			line-height 1
		p
			margin 0
			line-height 1
		span
			display block
			line-height 1
		i
			font-style normal
			color c-5
		figure
			img 
				display block
				margin auto