.wancho-2
	max-width 1024px
	margin auto
		
inlineblock()
	display inline-block
	*display inline
	zoom 1
.botones	
	.wrapper 
		height 768px
		box-sizing border-box
		// border 1px solid red
		width 1024px
		margin auto
		position relative
	.grid
		display block
		box-sizing border-box
		border 1px solid red
		position absolute
		top 0
		left 0
		width 100%
		height 768px
		// background url(../img/skin.png) center center no-repeat
		opacity 0.2
		z-index -1	
		
#header
	background-color #f9f9f9
	border-bottom 3px solid #009b3a
	color #808080
	font-family t-0
	height 70px
	padding 0 20px
	font-size 22px
	overflow hidden
	#logo
		background url('../img/logo.png') 0 50% no-repeat
		float left
		height 68px
		width 251px
		
	ul
		float right
		margin-top 18px
		overflow hidden
		
	li
		float left
		margin-left 45px
		
	li:first-child
		margin-left 0
		
	span:first-child
		margin-right 10px
	
	#ico-telefono,
	#ico-cajero
		height 31px
		
	#ico-telefono
		background url('../img/ico-telefono.png') no-repeat
		width 27px
		display inline-block
		
	#ico-cajero
		background url('../img/ico-cajero.png') no-repeat
		width 17px
		display inline-block
		
.wrapper-teclado
	position absolute
	bottom 0
	left 20px
	z-index 9999
	width 1016px
	margin auto
	background-color #000000
	font-size 0
	padding-left 8px
	padding-top 9px
	display none
	
.tecla-normal,
.tecla-oscura
	width 83px
	height 52px
	border none
	inlineblock()
	vertical-align top 
	font-size 30px
	font-family t-2
	color white
	text-align center
	&.m-t
		margin 0px 9px 9px 0px

.tecla-sp
	width 452px
	height 52px
	inlineblock()
	vertical-align top
	font-size t-2
	text-align center
	color white
	background url(../img/bg-teclado-sp.png) no-repeat top left
	input 
		background none
		z-index 2
		position relative
		width 100%
		height 100%
	i 
		z-index 1
		position absolute
		top 20px
		left 220px
			
	&.m-t
		margin 0px 9px 9px 0px
		border none
	&.active
		background-position bottom left
		&>i
			background-position top left
.tecla-normal
	line-height 48px
	background url(../img/bg-teclado-normal.png) no-repeat top left
	&.active
		background-position bottom left
		color black
.tecla-oscura
	background url(../img/bg-teclado-oscuro.png) no-repeat top left
	&.active
		background-position bottom left
		color black
		&>i
			background-position top left
			
.cnt-teclaoscura
	background url(../img/bg-teclado-normal.png) no-repeat top left
	width 83px
	height 52px
	border none
	inlineblock()
	vertical-align top 
	font-size 30px
	font-family t-2
	color white
	text-align center
	&.m-t
		margin 0px 9px 9px 0px
			
	input 
		width 100%
		height 100%
		background none
		border none
		position relative
		z-index 2
	i
		z-index 1
	&.active
		background-position bottom left
		color black
		&>i
			background-position top left
		
	
.tecla-shift
	width 21px
	height 21px
	background url(../img/bg-teclado-shift.png) no-repeat bottom left
	inlineblock()
	position absolute
	top 15px
	left 30px
.borrar-teclado
	width 21px
	height 16px
	background url(../img/bg-borrar-teclado.png) bottom left
	position absolute
	top 17px
	left 31px
.tecla-enter
	width 83px
	height 114px
	position absolute
	top 71px
	right 12px
	background url(../img/bg-teclado-enter.png) no-repeat top left
	cursor pointer
	input
		background none
		border none
		width 100%
		height 100%
		position relative
		z-index 2
		.bg-enter 
			z-index 1
	&.active
		background-position bottom left
		&>i
			background-position top left
.bg-enter
	background url(../img/bg-enter.png) bottom left
	inlineblock()
	width 33px
	height 24px
	position absolute
	top 21px
	left 18px

.icon-enter
	background url(../img/icon-enter.png) no-repeat bottom left
	width 26px
	height 9px
	inlineblock()
	position relative
	top 20px

.tecla-disable
	background url(../img/bg-disable.png) no-repeat bottom left
	color #272727
	cursor inherit !important
	input
		display none
		cursor inherit !important
	.tecla-shift
		background url(../img/bg-shift.png) no-repeat bottom left
			
//teclado 

.controles-slider
	text-align center
	margin-top 20px
	.arrow-prev, .arrow-next, .bx-pager
		inlineblock()
		vertical-align top
	.bx-pager
		font-size 22px
		font-family t-1
		line-height 100%
		a 
			color #8e8f90
			margin-left 5px
			&.active
				color #000
				text-decoration underline
		
	.arrow-prev
		margin-top 3px
		margin-right 10px
		width 119px
		height 20px
		.bx-prev
			background-image: url(../img/arrow-prev.png)
			width 119px
			height 20px
			display none
			overflow hidden
			width 0
			&:first-child
				display block
			&.disable
				width 0
	.arrow-next
		margin-top 3px
		margin-left 10px
		width 119px
		height 20px
		.bx-next
			background-image: url(../img/arrow-next.png)
			width 119px
			height 20px	
			display none
			overflow hidden	
			&:first-child
				display block			
			&.disable
				width 0
			
.fancy-content
	box-sizing border-box
	position relative
	box-sizing border-box
	
.close-fancy
	position absolute
	top 10px
	right 10px
	width 28px
	height 28px
	background url(../img/bt-close.png) no-repeat 0 0
	cursor pointer

#fancybox-outer
	border-radius 30px 0px 30px 0px
	behavior url(../static/css/PIE.htc)
.fancybox-bg
	display none
	

.enlace-azul
	font-size 24px
	font-family t-1
	color c-6
	border-bottom 1px solid c-6
	display inline-block
	line-height 100%
.g-pager
	font-size 0
	p
		font-size 22px
		margin-bottom 0px
	strong
		font-weight normal
		color c-5
		
	.wrapp-pager
		margin 3px 0px 0px 0px
		a 
			display inline-block
			width 19px
			height 19px
			border 1px solid c-11
			border-radius 100%
			behavior url(../static/css/PIE.htc)
			font-size 22px
			margin 0px 4px
			&:hover, &.active
				background-color c-5
		
.btn
	border none
	background-color c-5
	display table-cell
	vertical-align middle
	text-align center
	font-family t-1
	font-size 24px
	color blanco
	border-radius 10px 0px 10px 0px
	box-sizing border-box
	behavior url(../static/css/PIE.htc)
	strong
		font-family t-2
		font-weight normal
	&.blanco
		border 2px solid c-5
		background-color transparent
		color c-5
	&.left-celeste
		background-color #00b2a9
		border-bottom 4px solid #02928b
		border-radius 10px 0 0 0
		behavior url(../static/css/PIE.htc)
	
	&.buscar
		border-radius 5px
		behavior url(../static/css/PIE.htc)
		
	&.disable
		background-color #ccebd8

	&.btn-azul
		background-color #0039a6 
		
		
	&.rd-right-button
		border-radius 0px 0px 10px 0
		behavior url(../static/css/PIE.htc)
	&.rd-left-top
		border-radius 10px 0px 0px 0
		behavior url(../static/css/PIE.htc)
		
.bo-btn-blanco
	background-image: url(../img/bg-btnblanco.png)
	width 233px
	height 91px
	display table-cell
	vertical-align middle
	text-align center
	font-family t-1
	font-size 30px
	color c-5	

.bo-btn-verde-r, .bo-btn-verde-l, .bo-btn-verde-r-mini, .bo-btn-verde-l-mini
	background-image: url(../img/bg-btn-verde-right.png)
	width 360px
	height 91px
	display table-cell
	vertical-align middle
	text-align center
	font-family t-1
	font-size 30px
	color blanco
	line-height 1
.bo-btn-verde-l	
	background-image: url(../img/bg-btn-verde-left.png)

.bo-btn-verde-r-mini, .bo-btn-verde-l-mini
	background-image: url(../img/bg-verde-right-mini.png)
	width 234px
	height 91px
	
.bo-btn-verde-l-mini	
	background-image: url(../img/bg-verde-left-mini.png)
		
.text-btnmini
	font-size 22px
	
.text-btnbig
	font-size 30px
	font-family t-2
.text-retira
	font-family t-1	

.bt-text-azul
	display inline-block
	background-color c-6
	font-family t-1 
	color blanco
	font-size 22px
	border-radius 10px  
	behavior url(../static/css/PIE.htc)
	box-sizing border-box
	padding 5px 6px
	text-align center
	line-height 100%
	
	

.btn-volver-1, .btn-volver-2, .btn-volver-3
	font-size 24px
	color #009b3a
	font-family t-1
	inlineblock()
	width 120px
	height 65px
	text-align center
	background-repeat no-repeat
	span
		inlineblock()
		margin-top 15px		

.btn-volver-1
	background-image: url(../img/btn-volver-1.png)
	
.btn-volver-2
	background-image: url(../img/btn-volver-2.png)
	width 121px
.btn-volver-3
	width 235px
	height 64px
	background-image: url(../img/btn-volver-3.png)		

.wrap-botones
	position absolute
	bottom 0
	left 0
	width 100%
	height 768px
	z-index -1
	.btn-l 
		position absolute
	
	.btn-r
		position absolute		

.botonera-2
	.ib 
		margin-left 50px
		margin-bottom 20px
	.no-margin
		margin-left 0
		
	