
.g-parrafo-bo
	p
		margin-bottom 0
		font-size 27px
		font-family t-1
		line-height 1.1
	span
		color c-5
	strong
		font-weight normal
		font-family t-0
		font-size 27px 
.g-title-1.large
	h2
		font-size 50px
		font-family t-1
		text-indent 18px
		color c-10
		span
			font-size 30px
			line-height 1
	p
		font-size 30px
		line-height 1
		color c-10
		margin-top 18px
		font-family t-1

.g-datos-1
	p
		font-size 22px
		margin-bottom 0
		line-height 100%
		margin-bottom 13px
	a
		width 400px
		height 50px
		background-color c-4
		display block
		overflow hidden
		box-sizing border-box
		padding 0px 15px
		border-radius 10px
		behavior url(../static/css/PIE.htc)
		span
			font-size 22px
			float right
			line-height 48px
			text-decoration underline
			&:first-child
				float left
				text-decoration none
				font-family t-1
	.wrap-g-datos-1
		position relative
		img
			position absolute
			width 30px
			height 30px
			left 100%
			bottom 0
			top 0
			margin auto
			margin-left 20px




.pager
	width 150px
	margin auto
	p, span
		margin 0
		display inline-block
		font-size 20px
		font-family t-1
	span
		width 24px
		height 24px
		border-radius 50%
		behavior url(../static/css/PIE.htc)
		text-align center
		font-size 20px
		font-family t-1
		color white
		line-height 21px
		margin 0 3px
		&.act
			background-color c-10
		&.desac
			background-color c-0

.text-gg
	p
		font-family t-0
		color c-0
		font-size 22px
		margin-bottom 0
		strong
			color c-5
			font-family t-1



.trio-items
	li
		display inline-block
		vertical-align top
		width 230px
		height 270px
		border 2px solid #f4f5f5
		margin 0 5px
		padding-top 20px
		box-sizing border-box
		&.pt10
			padding-top 10px
		strong
			display block
			text-align center
			color c-5
			font-family t-1
			font-size 22px
			line-height 1
			
			.f-proteccion
				font-size 13px
				font-family: t-0
				
		p
			margin 0
			font-size 22px
			text-align center
			line-height 1
		figure
			img 
				display block
				margin auto

.subtitle.bo
	h3
		font-size 30px
		color c-5
		margin-bottom 0
		font-family t-1
		line-height 1
		span
			color c-6

.input-large-bo
	input
		background none
		border none
		width 560px
		height 90px
		font-size 33px
		font-family t-1
		color c-0
		line-height 90px
		padding 0px 10px
		text-align center
		box-sizing border-box
		background url(../img/bg-input-large.png) no-repeat center center

.sub-bold
	h3
		font-size 32px
		line-height 1
		span
			color c-5
			font-size 40px
			font-family t-2
	    


.textos-big
	.toltip 
		height 90px
		p
			height 90px
	.b2-list 
		li
			font-family t-1
	.b2-title 
		h3
			font-family t-2