.b1 
	&.big
		.b1-info
			h3
				font-size 36px
		
		.b1-text2, .b1-text3
			font-family t-1

.b1-text1
	line-height 100%
	color c-9
	font-family t-1
	font-size 24px
	strong
		font-weight normal
		font-size 32px

.b1-btn
	display inline-block
	line-height 36px
	background-color c-10
	color blanco 
	font-family t-1
	font-size 24px
	border-radius 15px 0px 15px 0
	behavior url(../static/css/PIE.htc)
	padding 0 37px

.b1-info
	h3
		line-height 33px
		color c-5
		font-family t-1
		font-size 32px
		margin-bottom 0

.b1-text2, .b1-text3
	line-height 33px
	font-size 32px
	
	&.bo
		font-family t-1
		font-size 30px
	p
		margin-top 10px
		margin-bottom 0
		&:first-child
			margin-top 0
	strong
		color c-5
		font-family t-1
		font-weight normal

.b1-text3		
	strong
		font-size 40px

.b1-text4
	font-size 24px		
	strong
		font-family t-2

.b1-text5
	font-size 24px
	strong
		font-family t-1	
		font-weight normal

.b1-text6
	font-size 32px
	font-family t-1
	line-height 35px
	p 
		margin 0
	strong
		font-family t-2
		font-weight normal
		color c-5		

.b1-text7
	font-size 30px
	font-family t-1
	line-height 35px
	p 
		margin 0
	strong
		font-weight normal
		color c-10	
		font-size 32px	