// identity esta importado por defecto
inlineblock()
	display inline-block
	*display inline 
	zoom 1
	
.btns-numbers
	width 278px
	font-size 46px
	inlineblock()
	vertical-align top
.btns-numbers-item
	background url('../img/bg-btn.png')
	width 87px
	height 65px
	inlineblock()
	vertical-align top
	line-height 63px
	text-align right
	font-family t-2
	margin-bottom 8px
	cursor pointer
	padding-right 10px
	box-sizing border-box
	&.btns-punto
		text-align center
		padding-right 0
	&:active
		background-position 0px 65px	
.btns-numbers-item.borrar
	font-size 14px
	color c-2
	font-family t-1
	text-transform uppercase
	text-align  center
	padding 0

.input-text-mini
	font-size 46.5px
	box-sizing border-box
	text-align center
	font-family t-1
	background none
	border none
	width 49px
	height 57px
	color c-0
	background url(../img/bg-input-text.png) no-repeat center center
.b10
	.text-inputs-mini
		font-size 24px
		display block
		text-align right
















