// identity esta importado por defecto

.b11
	& > p
		line-height 25px
		font-size 24px
		text-align center
		font-family t-1
	span
		font-size 24px
		color c-2
		display block
		display none
	i
		position absolute
		top -4px 
		left -5px
		border 1px solid c-2
		width 102%
		border-radius 10px
		behavior url(../static/css/PIE.htc)
		height 110%
		display none
		z-index 1
	input
		background none
		border none
		width 400px
		height 69px
		line-height 69px
		font-family t-1
		font-size 24px
		padding 0px 10px
		box-sizing border-box
		border-radius 8px
		behavior url(../static/css/PIE.htc)
		position relative
		z-index 2
		background url('../img/line-input.jpg') repeat-x center center
.b11.error
	span
		display block
	i
		display block







