.b12
	background-color c-4
	padding-top 25px
	padding-bottom 33px
	
.b12-text
	line-height 1
	color c-5
	font-family t-1
	font-size 32px
	text-align center
	p
		margin-bottom 0
	

.b12-lis-item
	margin-top 13px
	ul
		font-size 0
		text-align center
	li
		display inline-block
		vertical-align middle
		width 30%
		line-height 1
		font-size 22px
		text-align left
		box-sizing border-box
		&:first-child
			width 50%
			color c-6
			text-align right
			padding-right 5px
			 
	strong
		font-family t-1
	&:first-child
		margin-top 0
		