.b13 
	&.headtwo
		.b13-thcol1
			width 408px
			line-height 40px
			background-color c-6
			color blanco
			font-family t-1
			font-size 24px
			text-align center
			border-radius 15px 15px 0px 0px			
			behavior url(../static/css/PIE.htc)
		.b13-thcol2
			width 372px
			
		.b13-tbody-item
			.b13-colors1
				border-radius 0
				behavior none
				width 408px
			.b13-colors2
				width 372px
			
.b13-thead
	width 100%
	ul
		font-size 0
		text-align right
	li
		display inline-block
		vertical-align middle
		.inner-head
			height 40px
			line-height 100%
			display table-cell
			vertical-align middle
			width 2000px
			text-align center

			
.b13-thcol1
	width 452px
	
.b13-thcol2
	width 328px
	line-height 40px
	background-color c-6
	color blanco
	font-family t-1
	font-size 24px
	text-align center
	border-radius 15px 15px 0px 0px			
	behavior url(../static/css/PIE.htc)
.b13-tbody
	border-bottom 1px solid c-4


.b13-tbody-item
	ul 
		display table
	li
		display table-cell
		vertical-align middle
	&:first-child
		.b13-colors1
			border-top 1px solid c-4
			border-radius 15px 0px 0px 0px
			behavior url(../static/css/PIE.htc)
	
.b13-td
	line-height 25px
	font-size 21px
	box-sizing border-box
	padding 7px 2px 7px 8px
	&.b13-colors1
		width 452px
		background-color c-4
		border 1px solid c-4
		border-top 1px solid blanco		
	&.b13-colors2
		width 328px
		background-color blanco
		border-left 1px solid blanco
		border-top 1px solid c-4
		border-right 1px solid c-4
		border-bottom 1px solid blanco

.b13-text
	font-size 18px
	font-family t-1
	text-align center
	p
		margin 0
.b13
	.g-pager 
		.wrapp-pager
			margin-bottom 0px

.b13
	.bx-viewport
		width 100%
		overflow hidden
		position relative
		height 431px
	.wrap-item
		float left
		list-style outside none none
		position relative
		width 780px

.bo-b13	
	.b13-thcol1
		width 558px
	.b13-thcol2	
		width 427px

	.b13-td.b13-colors1		
		width 558px
			
	.b13-colors2			
		width 427px