// identity esta importado por defecto

.inputs-mini.n-text
	span
		display none
.inputs-mini
	text-align center
	span 
		display block
		text-align right
		font-size 24px
	ul
		font-size 0
		display inline-block
	li
		font-size 61px
		display inline-block
	input
		border none
		background none
		text-align center
		background url('../img/bg-input-mini.png') no-repeat center center
		width 62px
		height  90px
		display block
		margin 0px 3px
		font-family t-1
		color c-0
	
		