// identity esta importado por defecto

.b2.bo
	.b2-text 
		p
			font-size 20px
		&.fz22
			p 
				font-size 22px
.b2-cnt
	border 1px solid c-10
	box-sizing border-box
	
.b2-title
	font-size 0
	text-align center
	padding 15px 20px 0px 15px
	h3
		color c-10
		font-family t-1
		font-size 32px
		line-height 100%
		margin-bottom 0
.b2-text
	background-color c-4
	text-align center
	padding 15px 20px
	&.fterminos
		p 
			margin-bottom 10px
			font-size 16px
			text-align left
		li 
			position relative
			text-align left
			padding-left 20px
			&:before
				content "-"
				position absolute
				top 0
				left 0
				
				
	&.pbt2
		padding-top 2px
		padding-bottom 2px
	h4
		color c-6
		font-family t-1
		font-size 30px
		font-weight normal
		margin-bottom 10px
	p
		font-size 22px
		margin-bottom 0
		line-height 1.1
	&.pr0
		padding-right 0
		padding-left 0
.b2-list
	font-size 0
	li
		display inline-block
		vertical-align top
		width 50%
		line-height 29px
		font-size 22px
		text-align left
		&:first-child
			color c-6
			text-align right
			padding-right 15px
			box-sizing border-box
	strong
		font-family t-2
		font-weight normal
	i
		color c-5
		font-family t-2
		font-style normal
	&.title
		li
			color #0039a6
			font-family 'omnessemibold'
	&.subtitle
		li
			color #0039a6
.b2-list48	
	li 	
		width 48%
.www
	top -100%
	left 100%
.toltip
	height 80px
	background-color blanco
	p
		padding 11px 7px 0px 7px
		width 188px
		box-sizing border-box
		height 80px
		font-size 16px
		line-height 1.1
		font-style italic
		border 1px solid c-6
.c-tol
	position absolute
	top 5px
	right 5px
.tr1
	width: 0;
	height: 0;
	display: inline-block;
	border-style: solid;
	border-width: 10px 20px 10px 0;
	border-color: transparent #ffffff transparent transparent;
	position absolute
	top 0
	left -18px
	z-index 4
	bottom 0
	margin auto
.tr2
	width: 0;
	z-index 2
	top 0
	bottom 0
	margin auto
	left -20px
	height: 0;
	position absolute
	display: inline-block;
	border-style: solid;
	border-width: 10px 20px 10px 0;
	border-color: transparent c-6 transparent transparent;
	
