.b3
	font-size 0
	
.b3-text
	line-height 27px
	font-size 24px
	p
		margin-top 10px
		margin-bottom 0
		&:first-child
			margin-top 0
	strong
		color c-6
		font-family t-1
		font-weight normal
		text-decoration underline

.b3-block-color
	font-size 0
	
.b3-btn
	display inline-block
	vertical-align top
	width 90px
	height 50px
	line-height 50px
	background-color c-11
	color blanco
	font-family t-1
	font-size 24px
	text-align center
	border-radius 0px 3px 3px 0px	
	behavior url(../static/css/PIE.htc)
	&:first-child
		border-radius 3px 0px 0px 3px			
	&.active
		background-color c-5
		font-family t-2