.b4-block
	border 1px solid c-10
	display table-cell
	vertical-align middle	
	
.b4-text1
	color c-10
	font-family t-1
	font-size 32px
	p		
		margin-bottom 0

.b4-text2
	line-height 41px	
	font-family t-1
	font-size 30px
	p
		margin-bottom 0