// identity esta importado por defecto

.b5-list
	width 330px
	display inline-block
	border 2px solid #e4e5e6
	text-align center
	box-sizing border-box
	vertical-align top
	p:first-child
		margin-top 5px
		min-height 73px
	p
		font-size 22px
		line-height 1.1
		margin-bottom 0
	span
		color c-5 
.b5
	width 690px
	margin auto
	
	.item-slider
		float: left;
		list-style: outside none none;
		position: relative;
		width: 690px;
	.bx-viewport
		width: 100%;
		overflow: hidden;
		position: relative;
		height: 220px;
	.bx-wrapper 
		.bx-pager.bx-default-pager 
			a
				width 20px 
				height 20px
				background-color blanco
				border 1px solid c-5
				border-radius 50%
				behavior url(../static/css/PIE.htc)
	.bx-wrapper 
		.bx-pager.bx-default-pager 
			a:hover,
			a.active
				background-color c-5
	.bx-wrapper 
		.bx-next
			background none
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 22px 0 22px 20px;
			border-color: transparent transparent transparent c-5;
			margin-right -53px
		.bx-prev
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 22px 20px 22px 0;
			border-color: transparent c-5 transparent transparent;
			margin-left -53px
	.bx-wrapper 
		.bx-prev
			background none
	.bx-wrapper 
		.bx-pager
			bottom -35px

	&.ng
		.bx-wrapper 
			.bx-pager
				bottom -55px
	.enlace-azul
		line-height 100%
	.g-pager
		font-size 0
		p
			margin-bottom 0
			font-size 22px
			margin-top 4px
			margin-bottom 4px
		.wrapp-pager
			line-height 100%
			margin-bottom 0
			a
				margin-right 8px



.slide-ventajas
	.bx-viewport
		width 100%
		overflow hidden
		position relative
		height 267px

	.item-slider
		float left
		list-style none
		position relative
		width 690px
		















