// identity esta importado por defecto




.b7
	p
		margin-bottom 0
		font-size 22px
		line-height 1
	span
		color c-5
	img
		margin auto
		display block
	.bx-wrapper 
		.bx-next
			background none
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 22px 0 22px 20px;
			border-color: transparent transparent transparent c-5;
			margin-right -53px
		.bx-prev
			width: 0;
			height: 0;
			border-style: solid;
			background none
			border-width: 22px 20px 22px 0;
			border-color: transparent c-5 transparent transparent;
			margin-left -53px
	.bx-pager.bx-default-pager 
			a
				width 20px 
				height 20px
				background-color blanco
				border 1px solid c-5
				border-radius 50%
				behavior url(../static/css/PIE.htc)
	.bx-wrapper 
		.bx-pager.bx-default-pager 
			a:hover,
			a.active
				background-color c-5

.wrapper-item
	ul
		width 740px
		font-size 0
	li
		font-size 22px
		display inline-block
		vertical-align top
		width 232px
		height 120px
		border 2px solid c-4
		box-sizing border-box
		margin-bottom 25px
		margin-right 14px
		text-align center
		article
			display table-cell
			vertical-align middle
			width 230px
			height 120px
		p
			margin 0
			display inline-block
			vertical-align middle
			line-height 1
			text-align left
			span
				color c-5
		img
			display inline-block
			vertical-align middle


.b7
	.bx-viewport
		width 100%
		height 293px
		overflow hidden
		position relative
	
	.wrapper-item
		float left
		width 730px
		position relative
		margin-right 25px
	