.b9-text1
	line-height 36px
	font-family t-1
	font-size 34px
	p
		margin-bottom 0
		
.b9-text2
	line-height 33px
	font-family t-1
	font-size 30px
	p
		margin-bottom 0

.b9-block
	border 1px solid c-4
	border-top none
	margin-top -7px