

.div-frame iframe {
    width: 1024px;
    height: 768px;
    border: 1px solid gray;
    zoom: 0.70;
    -moz-transform: scale(0.70);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.70);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.70);
    -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .div-frame iframe {
        zoom: 1;
    }
}

.div-frame {
    width: 729px;
    height: 539px;
    overflow: hidden;
    margin: 5px 0px 5px 0px;
}

body.page-gadget {
    padding: 0px !important;
}

    body.page-gadget #main.aui-page-panel {
        margin: 0;
    }
